<script>
    import { current, dragged, manager } from 'app/gis/stores.js'
    import { updateLayerFolder } from 'app/layers/manager.js'
    import { initDropdown } from 'app/interactions.js'
    import { createEventDispatcher } from 'svelte'
    import { onMount } from 'svelte'
    import Options from './Options.svelte'
    export let folder
    onMount( () => { 
        initDropdown({coverTrigger: false, alignment: 'right'}) 
    })
    const dispatch = createEventDispatcher()
    function setActive(bool) {
        folder.active = bool
        dispatch('active', folder.active)
    }
    function onDrop(e) {
        e.preventDefault()
        e.target.style.background = ""
        const layer = JSON.parse( e.dataTransfer.getData('text/plain') )
        if (layer.type !== 'folder' && layer.folder_id !== folder.id) {
            folder.active = true
            layer.folder_id = folder.id
            folder.layers = [...folder.layers, layer]
            dispatch( 'add', folder.layers )
            updateLayerFolder(layer, folder)
            $dragged = true
            dragged.update(obj => obj = $dragged)
        } else {
            $dragged = false
            dragged.update(obj => obj = $dragged)            
        }
    }
</script>

<li class:active={folder.active} class="unselectable" class:current={$current === folder} on:click={() => $current = folder}>
    <header
        on:dragenter|self={(e) => e.target.style.background = 'rgba(76, 175, 80, 0.2)'}
        on:dragover|self={(e) => e.preventDefault()}
        on:dragleave|self={(e) => e.target.style.background = ''}
        on:drop|self={(e) => onDrop(e)}
        on:click|self={() => setActive(!folder.active)}
         data-id={folder.id}
    ></header>
    <button class="nav">
        <i class="material-icons">{!folder.active ? 'keyboard_arrow_right' : 'keyboard_arrow_down'}</i>
    </button>
    <i class="material-icons left" style="color:#9e9e9e">{!folder.active ? 'folder' : 'folder_open'}</i>
    <h1 class="level{folder.level}">{folder.title} 
        {#if typeof folder.layers !== 'undefined' && folder.layers.length > 0}
            <span>({folder.layers.length})</span>
        {/if}
    </h1>
    {#if folder.id !== 0}
        <button
            on:click={() => current.update(store => store = folder)}
            class="waves-effect dropdown-trigger" 
            data-target="folder-options{folder.id}"
            data-position:right="left"
        >
            <i class="material-icons">more_vert</i>
        </button>
    {/if}
</li>

<Options folder={folder}/>


<style>
    li{position:relative;width:100%;height:30px;transition:all, 0.4s;cursor:pointer;list-style-type:none;border-radius:4px;}
    li:active{background: #eee;}
    li.current{background:#f5f5f5;}
    h1{display:inline-block;margin:0 0 0 5px;padding:0;font-size:13px;line-height:33px;font-weight:normal;}
    h1.level3{font-size:12px;}
    h1 span{color:#bdbdbd;font-weight:normal;}
    i{padding:0;margin:0;font-size:20px;line-height:30px;height:30px;color:#757575;}
    header{position:absolute;top:0;bottom:0;left:0;right:30px;background:transparent;}
    button{height:30px;width:30px;background:transparent;border:none;}
    button.nav{float:left;}
    button.dropdown-trigger{float:right;border-radius:50%;margin-right:5px;}
    button.dropdown-trigger i{color:#bdbdbd;}
</style>