<script>
    import { current } from 'app/gis/stores.js'
    export let folder
</script>

<ul id="folder-options{folder.id}" class="dropdown-content" >
    <li class="modal-trigger" data-target="update-folder">
        <i class="material-icons left">edit</i>
        Modifier le répertoire
    </li>
    {#if folder.level < 3}
        <li class="modal-trigger" data-target="create-folder">
            <i class="material-icons left">add</i>
            Créer un sous-répertoire
        </li>
    {/if}
    <li class="modal-trigger" data-target="delete-folder">
        <i class="material-icons left">delete_forever</i>
        Supprimer le répertoire
    </li>
</ul>

<style>
    ul{min-width:200px;}
    ul li{min-height:35px;height:35px;line-height:35px;padding:0 4px;color:#718792;font-size:13px}
    ul li i{color:#718792;font-size:17px;line-height:35px;padding:0;margin:0 5px;}
</style>