<script>
    import { afterUpdate } from 'svelte'
    import { sort } from 'app/basemaps/manager.js'
    import { fade } from 'svelte/transition'
    import Options from './Options.svelte'
    export let collection
    export let name
    afterUpdate( () => sort(name) )
</script>

<section class="sortable">
    {#each collection as basemap}
        <article data-id={basemap.id} data-collection={basemap.collection} class="unselectable z-depth-1" in:fade={{ duration: 200 }}>
            <button>
                <img src={basemap.preview_url ? basemap.preview_url : 'img/basemap_preview.png'} alt="basemap preview"/>
                {basemap.title}
            </button>
            <Options basemap={basemap}/>
        </article>
    {/each}
</section>

<style>
    section{display:flex;flex-direction:row;flex-wrap:wrap;}
    article{width:240px;position:relative;background:#fafafa;margin:10px;}
	button{position:relative;width:240px;margin:0;outline:none;color:#9e9e9e;height:50px;transition: all 0.3s cubic-bezier(.25,.8,.25,1);z-index:20;border:none;text-align:center;font-size:1.2em;font-weight:bold;text-shadow:1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;background:#fafafa;}
	button img{position:absolute;top:0;left:0;bottom:0;right:0;object-fit:cover;width:240px;z-index:-1}
    button:hover{color:#3498db;}
	button:active{color:#2980b9;}
</style> 