<script>
    import UpdateBasemap from './dialogs/UpdateBasemap.svelte'
    import DeleteBasemap from './dialogs/DeleteBasemap.svelte'
    import SetBasemapPreview from './dialogs/SetBasemapPreview.svelte'
    import SetBasemapOverlay from './dialogs/SetBasemapOverlay.svelte'
</script>

<UpdateBasemap/>
<DeleteBasemap/>
<SetBasemapPreview/>
<SetBasemapOverlay/>