<script>
    import { setBasemapCollection } from 'app/basemaps/manager.js'
    export let collection
    let onDrop = (e) => {
        e.preventDefault()
        e.target.style.background = ''
        const basemap = JSON.parse( e.dataTransfer.getData('text/plain') )
        setBasemapCollection(basemap, collection)
   }
</script>

<div class="droppable"
    on:dragenter={(e) => e.target.style.background = 'rgba(76, 175, 80, 0.2)'}
    on:dragover={(e) => e.preventDefault()}
    on:dragleave={(e) => e.target.style.background = ''}
    on:drop={(e) => onDrop(e)}
></div>

<style>
    div.droppable{position:absolute;top:0;left:0;bottom:0;right:0;z-index:1;transition:all, 0.3s}
</style>