<script>
    import { current, manager } from 'app/basemaps/stores.js'
    import { setMainBasemap } from 'app/basemaps/manager.js'
    import { initTooltip } from 'app/interactions.js'
    import { onMount } from 'svelte'
    export let basemap
    onMount( () => initTooltip() )
</script>

<section>
    <button class="handle waves-effect waves-light">
        <i class="material-icons">drag_handle</i>
    </button>

    {#if basemap.collection === 'displayed'}
        <button
            data-position="bottom" data-tooltip="FDC par défaut" 
            class="tooltipped waves-effect" 
            on:click={() => setMainBasemap(basemap)}
        >
            <i class="material-icons main" class:active={basemap.main == true}>
                {!basemap.main ? 'star_border' : 'star'}
            </i>
        </button>
    {/if}

    <button
        data-position="bottom" data-target="update-basemap" data-tooltip="Editer" 
        class="tooltipped waves-effect modal-trigger" 
        on:click={(e) => current.update(store => store = basemap)}
    >
        <i class="material-icons">edit</i>
    </button>

    {#if basemap.collection === 'displayed' || basemap.collection === 'stored'}
        <button
            data-position="bottom" data-target="set-basemap-overlay" data-tooltip="Ajouter une surcouche" 
            class="tooltipped waves-effect modal-trigger" 
            on:click={() => current.update(store => store = basemap)}
        >
            <i class="material-icons">add_to_photos</i>
        </button>
    {/if}

    <button
        data-position="bottom" data-target="set-basemap-preview" data-tooltip="Créer un aperçu" 
        class="tooltipped waves-effect modal-trigger" 
        on:click={() => current.update(store => store = basemap)}
    >
        <i class="material-icons">image</i>
    </button>

    <button
        data-position="bottom" data-target="delete-basemap" data-tooltip="Supprimer" 
        class="tooltipped waves-effect modal-trigger"
        on:click={(e) => current.update(store => store = basemap)}
    >
        <i class="material-icons delete">delete_forever</i>
    </button>
</section>

<style>
    section{display:flex;flex-direction:row;justify-content:space-evenly;background:#fff;}
    button{height:30px;width:30px;background:transparent;border-radius:50%;}
    button.handle{cursor:move;}
    button.handle:focus{cursor:grabbing;}
    button i{color:#bdbdbd;transition:all, 0.3s;font-size:20px;}
    button i:hover{color:#757575;}
    button i.main.active{color:#ffd54f}
    button i.delete:hover{color:#e57373;}
</style>