<script>
    import Layer from './Layer.svelte'
    import Rubric from './Rubric.svelte'
    import Preview from './Preview.svelte'
    import { initCustomScrollBar } from 'app/interactions.js'
    import { onMount, tick } from 'svelte'
    // onMount( () => initCustomScrollBar(document.querySelector(`.layers-rubrics${uuid}`)) )
    // onMount( async () => console.log(document.querySelector(`.layers-rubrics-container`)) )
    
    export let folders
    export let layers
    let hover = null
</script>

<section class="layers-rubrics-container">
    {#each folders as rubric}
        <Rubric rubric={rubric}>
            {#each rubric.layers as layer}
                <div on:mouseenter={() => hover = layer} on:mouseleave={() => hover = null}>
                    <Layer layer={layer}/>
                </div>
            {/each}           
        </Rubric>
    {/each}

    {#each layers as layer}
        <div on:mouseenter={() => hover = layer} on:mouseleave={() => hover = null}>
            <Layer layer={layer}/>
        </div>
    {/each}
</section>

<Preview layer={hover}/>

<style>
    section{position:absolute;z-index:2;left:120px;top:40px;bottom:0;width:350px;border-left:1px solid #f5f5f5;padding:10px;overflow-y:auto}

</style>