<script>
    import Content from './Content.svelte'
    export let folders
    function setActive(tab) {
        folders.forEach(item => item.active = false )
        tab.active = true
        current = tab
    }
    if (folders && folders.filter(item => item.active === true).length === 0) {
        folders[0].active = true
    }
    let current = folders.filter(item => item.active === true)[0]
</script>

<section class="z-depth-1">
    {#each folders as tab}
        <aside class:active={tab === current} on:click={() => setActive(tab)}>
            {tab.title}
        </aside>
    {/each}
</section>

<Content folders={current.subfolders} layers={current.layers}/>

<style>
    section{border-bottom:1px solid #eee;position:absolute;left:120px;top:0;right:0;height:40px;display:flex;flex-direction:row;font-size:12px;padding:0 5px;}
    aside{height:32px;min-width:85px;line-height:32px;font-size:11px;font-weight:bold;text-align:center;margin-left:4px;cursor:pointer;transition:all, 0.4s;background:#fdfdfd;margin-top:8px;padding:0 5px;border-bottom:1px solid #f5f5f5;}
    aside:hover{background:#f5f5f5;border-bottom:3px solid #eee;}
    aside.active{background:#eee;border-bottom:3px solid #81c784;background:#eee;}
</style>