<script>
    import { selectedLayer } from './stores.js'
    export let layer
    const updateSelected = () => {
        if ( !$selectedLayer.includes(layer) ) {
            $selectedLayer.push(layer)
        }
        else {
            $selectedLayer = $selectedLayer.filter(item => item !== layer)
        }
        selectedLayer.update(store => store = $selectedLayer)
    }
</script>

<div
    class:active={$selectedLayer.includes(layer)} 
    on:click={() => updateSelected()}
>   
    <input  class="filled-in" checked={$selectedLayer.includes(layer)} type="checkbox"/>
    <span>{layer.title}</span>
</div>

<style>
    div{cursor:pointer;display:block;height:25px;margin:5px;transition:all, 0.3s;line-height:25px;max-width:250px;}
    div span{font-size:13px;line-height:20px;color:#455a64;padding-left:30px;}
    div:hover{background:#fafafa;}
    div.active{background:#f5f5f5;}
    input.filled-in+span{top:1px;left:7px}
    [type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {border: 1px solid #bdbdbd;}
</style>