<script>
    import { user } from 'auth/stores.js'
    import Header from './Header.svelte'
    import Content from './Content.svelte' // loaded for tempdir only
    import Search from './Search.svelte'
    export let gis
    let current = gis.catalog[0]
</script>

<section class="nav z-depth-2">
    <aside class="search" class:active={current === 'search'} on:click={() => current = 'search'}>
        <i class="material-icons left small">search</i>
        Rechercher
    </aside>
    {#each gis.catalog as folder}
        <aside class:active={folder === current} on:click={() => current = folder}>
            <i class="material-icons left small">{(current === folder) ? "folder_open" : "folder"}</i>
            {folder.title}
        </aside>
    {/each}

    {#if $user.role_id <= 2 && gis.tempdir.layers.length > 0}
        <aside class="tempdir" class:active={current === gis.tempdir} on:click={() => current = gis.tempdir}>
            <i class="material-icons left small">{(current === gis.tempdir) ? "folder_open" : "folder"}</i>
            {gis.tempdir.title}
            <span>({gis.tempdir.layers.length})</span>
        </aside>
    {/if}
</section>

{#if typeof current.id !== 'undefined' && current.id !== 0}
    <Header folders={current.subfolders}/>
{:else if typeof current.id !== 'undefined' && current.id === 0}
    <Content layers={current.layers} folders={[]}/>
{:else if current === 'search'}
    <Search/>
{/if}

<style>
    section.nav{position:absolute;left:0;top:0;bottom:0;width:120px;z-index:20;background:#fafafa;padding-top:10px;}
    aside{height:35px;width:100%;line-height:35px;color:#455a64;font-size:12px;font-weight:bold;padding-left:4px;cursor:pointer;transition:all, 0.2s;margin:2px auto 0 auto;border-left:4px solid transparent}
    aside i{line-height:35px;color:#455a64;font-size:15px;margin:0 8px 0 4px;}
    aside:hover{background:#f5f5f5;}
    aside.active{background:#eee;border-left:4px solid #81c784;}
    aside.tempdir.active{background:#ffebee;border-right:4px solid #e57373;}
    aside.tempdir{position:absolute;bottom:25px;left:5px;color:#e57373}
    aside.tempdir i{color:#e57373}
    aside.tempdir span{color:#ef9a9a;font-size:12px;}
    aside.search{color:#9e9e9e;font-weight:normal;}
    aside.search.active{color:#fff;background:#455a64;}
    aside.search i{color:#9e9e9e}
    aside.search.active i{color:#fff}
</style>