<script>
    export let layer = null
</script>

<section>
    {#if layer }
        <aside>
            {#if layer.preview_url}
                <img alt="layer preview" src="{layer.preview_url}"/>
            {:else}
                <img alt="layer no-preview" src="./img/no-preview-layer.png"/>
            {/if}
            <div>
                <h1>{layer.title}</h1>
                {#if layer.abstract}
                    <p class="abstract">{layer.abstract}</p>
                {/if}
                {#if layer.source}
                    <p class="source">{layer.source}</p>
                {/if}
            </div>
        </aside>
    {/if}
</section>

<style>
    section{position:absolute;right:0px;top:40px;bottom:0;width:280px;}
    aside{width:100%;height:auto;padding:10px;position:relative;}
    img{width:70%;margin:0 auto;}
    div{position:absolute;top:160px;}
    h1{margin:0;padding:0;font-size:17px;font-weight:bold;background:transparent;}
    p{margin:0;padding:0;width:250px;text-align:justify;}
    p.abstract{font-size:14px}
    p.source{color:#718792;font-size:12px;padding-top:20px;}
</style>