<script>
    import { slide } from 'svelte/transition'
    export let rubric

    function setActive() {
        rubric.active = (typeof rubric.active === 'undefined' || rubric.active === false) ? true : false
    }
</script>

{#if rubric.layers.length > 0}
    <header class:active={rubric.active} on:click={() => setActive()}>
        <i class="material-icons left">{rubric.active ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}</i>
        {rubric.title}
        <span>({rubric.layers.length})</span>
    </header>
    {#if rubric.active}
        <aside transition:slide|local={{ duration:100 }}>
            <slot></slot>
        </aside>
    {/if}
{/if}
<style>
    header{border-radius:3px;margin:3px;height:30px;line-height:30px;background:#fdfdfd;padding:0;transition:all, 0.4s;font-size:13px;cursor:pointer;}
    header i{line-height:30px;font-size:14px;color:#757575;padding-left:10px;}
    header span{color:#bdbdbd;font-size:12px;}
    header:hover{background:#f5f5f5;}
    header.active{background:#eee;}
    aside{margin-left:18px;padding-left:10px;border-left:1px solid #81c784}
</style>