<script>
    import { selectedLayer } from './stores.js'
    import { searchLayer } from 'app/gis/manager.js'
    import { fade } from 'svelte/transition'
    let value = ''
    const updateSelected = (layer) => {
        if ( !$selectedLayer.includes(layer) ) {
            $selectedLayer.push(layer)
        }
        else {
            $selectedLayer = $selectedLayer.filter(item => item !== layer)
        }
        selectedLayer.update(store => store = $selectedLayer)
        console.log($selectedLayer)
    }
</script>

<section transition:fade|local="{{ duration: 100 }}">
    <div class="input-field">
        <i class="material-icons prefix">search</i>
        <input id="layer-search" type="text" bind:value={value} spellcheck="false">
        <label for="layer-search" class:active={value.length > 0}>RECHERCHER UN CALQUE</label>
    </div>
    <article>
        {#await searchLayer(value)}
            <div class="loader"></div> 
        {:then layers}
            {#each layers as layer}
                <aside  class:active={$selectedLayer.includes(layer)} on:click={() => updateSelected(layer)}>
                    <div class="text">
                        <h5>{layer.path}</h5>
                        <h4>{layer.title}</h4>
                        {#if layer.abstract}
                            <p>{layer.abstract}</p>
                        {/if}
                        {#if layer.source}
                            <p class="source">{layer.source}</p>
                        {/if}
                    </div>
                    <img src="{layer.preview_url}" alt="Layer preview image"/>
                </aside>
            {/each}
        {/await}
    </article>
</section>

<style>
    section{position:absolute;z-index:3;top:0;left:120px;right:0;bottom:60px;background:#fff;padding:20px;}
    div.input-field{width:520px;margin:10px auto 0 auto;}
    article{width:520px;height:350px;background:#fafafa;margin:0 auto;overflow-y:auto;padding:10px 0;}
    aside{width:480px;margin:0 auto 10px auto;border:1px solid transparent;background:#ffffff;display:flex;flex-direction:row;cursor:pointer;transition:all, 0.3s;}
    aside.active{border:1px solid #0288d1;}
    div.text{width:340px;padding:10px;}
    div.text h5{margin:0 0 2px 0;padding:0;color:#708690;font-size:12px;font-family:'Verdana';}
    div.text h4{margin:0 0 2px 0;padding:0;font-weight:bold;color:#1c313a;font-size:14px;}
    div.text p{margin:0 0 5px 0;padding:0;font-size:11px;}
    div.text p.source{color:#708690;}
    img{width:140px;height:105px;margin:0 auto;}
</style>