<script>
    import { managerPage } from 'app/stores.js'
    import { manager } from 'app/basemaps/stores.js'
    import { getBasemaps, updateStore, sort } from 'app/basemaps/manager.js'
    import { afterUpdate, onDestroy } from 'svelte'
    import { initCustomScrollBar } from 'app/interactions.js'
    import Basemaps from './basemaps/Basemaps.svelte'
    import Droppable from './basemaps/Droppable.svelte'
    import Loader from './Loader.svelte'
    let promise = getBasemaps()
    let current = 'displayed'
    onDestroy( () => updateStore() )
    afterUpdate( () => {
        initCustomScrollBar( document.querySelector('.custom-scrollbar') )
    })
</script>

<section class="z-depth-1">
    <i class="material-icons left large">{$managerPage.icon}</i>
    <h1>{$managerPage.name}</h1>
    {#await promise}
        <Loader/>
    {:then collections}
        <article>
            <header class:active={current === 'displayed'} on:click={() => current = 'displayed'}> 
                <Droppable collection="displayed"/>
                <i class="material-icons left">flip_to_back</i>
                <h2>FONDS DE CARTE <span>({$manager.displayed.length})</span></h2>
            </header>
            <header class:active={current === 'stored'} on:click={() => current = 'stored'}> 
                <Droppable collection="stored"/>
                <i class="material-icons left">flip_to_back</i>
                <h2>RÉSERVE <span>({$manager.stored.length})</span></h2>
            </header>
            <header class:active={current === 'overlayed'} on:click={() => current = 'overlayed'}> 
                <Droppable collection="overlayed"/>
                <i class="material-icons left">flip_to_back</i>
                <h2>SURCOUCHES <span>({$manager.overlayed.length})</span></h2>
            </header>
        </article>

        <aside class="custom-scrollbar"> 
            <Basemaps collection={$manager[current]} name={current}/>
        </aside>
    {/await}
</section>

<style>
    section{padding:50px 0 50px 40px;width:495px;height:100%;background:#fdfdfd;}
    h1{display:inline-block;margin:0;font-size:26px;background: linear-gradient(to top, #e1f5fe 100%, #e1f5fe 10%, transparent 10.01%) no-repeat left bottom / 100% 25%;}
    i.large{color:#e8f5e9}
    article{width:400px;margin:20px 0 0 105px;}
    header{position:relative;display:flex;flex-direction:row;width:250px;height:40px;cursor:pointer;list-style-type:none;margin:0 0 10px 0;padding:0 10px;transition:all, 0.6s;border-radius:3px;border-right:4px solid transparent;}
    header.active{border-right:4px solid #a5d6a7;background:#f5f5f5;}
    header:not(.active):hover{background:#fafafa;}
    h2{display:inline-block;line-height:40px;margin:0 0 0 5px;padding:0;height:40px;font-size:14px;font-weight:normal;}
    h2 span{color:#bdbdbd;font-weight:normal;}
    header i{padding:0;margin:0 5px;font-size:20px;line-height:40px;height:30px;color:#bdbdbd;}
    header i.left{color:#9e9e9e}
    header.active i.left{color:#81c784}
    aside{position:absolute;left:505px;top:0;bottom:0;right:0px;overflow-y:auto;padding:40px 20px;}
    /* aside{margin-left:20px;width:400px;} */
</style>