<script>
    import { fade } from 'svelte/transition'
</script>

<main transition:fade>
    <slot></slot>
</main>

<style>
    main{position:absolute;z-index:51;top:45px;left:300px;bottom:0;right:0;background:#fff;display:flex;flex-direction:row;}
</style>