<script>
    import { managerPage } from 'app/stores.js'
    import { getDatasources } from 'app/datasources/manager.js'
    import Loader from './Loader.svelte'
    let promise = getDatasources()
    let current = null
</script>

<section class="z-depth-1">
    <i class="material-icons left large">{$managerPage.icon}</i>
    <h1>{$managerPage.name}</h1>
    <h5 class="modal-trigger" data-target="delete-datasources">Supprimer les connexions non utilisées</h5>
    {#await promise}
        <Loader/>
    {:then data}
        <article class="sortable portals">
            {#each data as datasource}
                <header 
                    class:active={datasource === current} 
                    class="unselectable flex waves-effect" 
                    on:click={() => current = (datasource === current) ? null : datasource}
                >
                    <i class="material-icons left">{$managerPage.icon}</i>
                    <h2>{datasource.dbname} <span>({datasource.provider})</span></h2>
                </header>
            {/each}
        </article>
    {/await}
</section>
<aside>
    {#if current }
        ...
    {/if}       
</aside>

<style>
    section{padding:50px 0 50px 40px;min-width:495px;height:100%;background:#fdfdfd;}
    h1{display:inline-block;margin:0;font-size:26px;background: linear-gradient(to top, #e1f5fe 100%, #e1f5fe 10%, transparent 10.01%) no-repeat left bottom / 100% 25%;}
    i.large{color:#e8f5e9}
    h5{color:#e57373;font-size:16px;cursor:pointer;transition:all, 0.4s;}
    article{margin:20px 20px 0 0px;}
    header{position:relative;display:flex;flex-direction:row;width:100%;height:40px;cursor:pointer;list-style-type:none;margin:1px 0;padding:0 10px;transition:all, 0.6s;border-radius:3px;border-right:4px solid transparent;}
    header.active{border-right:4px solid #a5d6a7;background:#f5f5f5;}
    header:not(.active):hover{background:#fafafa;}
    h2{display:inline-block;line-height:40px;margin:0 0 0 5px;padding:0;height:40px;font-size:14px;font-weight:normal;}
    h2 span{color:#bdbdbd;}
    header i{padding:0;margin:0 5px;font-size:20px;line-height:40px;height:30px;color:#bdbdbd;}
    header i.left{color:#9e9e9e}
    header.active i.left{color:#81c784}
    aside{padding:0 0 0 20px;margin-left:10px;width:100%;}
</style>