<script>
    import GisDialogs from './gis/GisDialogs.svelte'
    import PortalsMapsDialogs from './portals-maps/PortalsMapsDialogs.svelte'
    import BasemapsDialogs from './basemaps/BasemapsDialogs.svelte'
    import DatasourcesDialogs from './datasources/DatasourcesDialogs.svelte'
    import ProjectsDialogs from './projects/ProjectsDialogs.svelte'
</script>

<GisDialogs/>
<PortalsMapsDialogs/>
<BasemapsDialogs/>
<DatasourcesDialogs/>
<ProjectsDialogs/>