<script>
    import { managerPage } from 'app/stores.js'
    import { manager, selected, current } from 'app/gis/stores.js'
    import { getGis, updateStore, sort } from 'app/gis/manager.js'
    import { initCustomScrollBar } from 'app/interactions.js'
    import { tick, onDestroy, onMount } from 'svelte'
    import Folder from './gis/Folder.svelte'
    import Temp from './gis/Temp.svelte'
    import LayerPreview from './gis/LayerPreview.svelte'
    import Loader from './Loader.svelte'
    let promise = getGis()
    promise.then(async gis => {
        await tick()
        initCustomScrollBar(document.querySelector('.dir'), {
            className: 'os-theme-light os-theme-light-custom',
        })
        if (gis.catalog.length > 1) {
            // sort( document.querySelector('.sortable') )
        }
    })
    onDestroy( () => updateStore() )
    
</script>

<section class="z-depth-1">
    <i class="material-icons left large">{$managerPage.icon}</i>
    <h1>{$managerPage.name}</h1>
    <h5 class="modal-trigger" data-target="create-folder" on:click={() => $current = null}>Créer un nouveau répertoire</h5>
    {#await promise}
        <Loader/>
    {:then gis}
        <div class="dir">
            <article>
                {#each $manager.catalog as folder}
                    <aside>
                        <Folder folder={folder} level={1} />
                    </aside>
                {/each}
            </article>
            <aside>
                <Temp folder={$manager.tempdir}/>
            </aside>
        </div>
    {/await}    
</section>

<div class="layer">
    <LayerPreview/>
</div>

<style>
    section{position:relative;padding:50px 0 50px 40px;width:495px;height:100%;background:#fdfdfd;}
    h1{display:inline-block;margin:0;font-size:26px;background: linear-gradient(to top, #e1f5fe 100%, #e1f5fe 10%, transparent 10.01%) no-repeat left bottom / 100% 25%;}
    i.large{color:#e8f5e9}
    h5{color:#0288d1;font-size:16px;cursor:pointer;transition:all, 0.4s;}
    div.dir{position:absolute;top:135px;left:55px;bottom:0;overflow-y:auto;padding-bottom:50px;}
    article{width:370px;position:relative;}
    aside{width:400px;padding:5px 10px;}
    div.layer{position:absolute;left:505px;top:0;bottom:0;right:0px;overflow-y:auto;padding:40px 20px;}
</style>