<script>
    import { fade } from 'svelte/transition'
</script>

<section in:fade>
    <div></div>
</section>

<style>
    section{position:fixed;top:0;left:0;bottom:0;right:0;background:rgba(255,255,255,0.8)}
    div{position:absolute;bottom:0;top:0;left:0;right:0;z-index:500;background:rgba(255,255,255,0.4)}
    div{border: 3px solid #3498db;border-top: 3px solid #eeeeee;border-bottom: 3px solid #eeeeee;border-radius: 50%;width: 30px;height: 30px;animation: spin 1s linear infinite;margin:210px auto;height:100px;width:100px;}
    @-webkit-keyframes spin { to { -webkit-transform: rotate(1080deg); transform: rotate(1080deg) } }
    @keyframes spin { to { -webkit-transform: rotate(1080deg); transform: rotate(1080deg) } }
</style>