<script>
	import { displayed } from 'app/stores.js'
	import { fly } from 'svelte/transition'
	import Nav from './Nav.svelte'
	import Content from './Content.svelte'
	import Dialogs from './Dialogs.svelte'
	let component
	function changeCurrent(e){
		component = e.detail
	}
</script>

{#if $displayed.manager}
	<section transition:fly={{ x:-300, duration: 200}}>
		<Nav on:click={e => changeCurrent(e)}/>
	</section>
	<Content page={component}/>
	<Dialogs/>
{/if}