<script>
    import { fly } from 'svelte/transition'
    import { settings } from 'app/stores.js'
    import {location} from 'svelte-spa-router'
    import { managerPage } from 'app/stores.js'
    const nav = [{
        name: 'Projets QGIS',
        pages: [
            {name: 'Importer un projet QGIS', icon: 'file_upload', location: '/manager/project-loader'},
            {name: 'Projets publiés', icon: 'publish', location: '/manager/projects'},
        ]
    }, {
        name: 'SIG',
        pages: [
            {name: 'Calques', icon: 'add_to_photos', location: '/manager/layers'},
            {name: 'Fonds de carte', icon: 'flip_to_back', location: '/manager/basemaps'},
            {name: 'Portails / Cartes', icon: 'flag', location: '/manager/portals-maps'},
        ]
    }, {
        name: 'Application',
        pages: [
            {name: 'Paramètres généraux', icon: 'settings_applications', location: '/manager/settings'},
            {name: 'Connexions DB', icon: 'storage', location: '/manager/datasources'},
        ]
    }, {
        name: 'QGIS Server',
        pages: [
            {name: 'État du service', icon: 'wifi', location: '/manager/qgis-server'},
            {name: 'Logs', icon: 'error_outline', location: '/manager/logs'},
            {name: 'À propos', icon: 'info_outline', location: '/manager/about'},
        ]
    }]
</script>

<section class="z-depth-1" transition:fly={{ x:-300, duration: 200}}>
    <a class="waves-effect close" href="#/map">
        <i class="material-icons grey-text text-lighten-1">close</i>
    </a>
    <header>
        <div>{ $settings.name ? $settings.name : 'Sigapp' }<br><span>Manager</span></div>
    </header>
    <ul>
    {#each nav as subject}
        <li class="subject {subject.classname}"><span>{subject.name}</span></li>
        <ul class="sections">
            {#each subject.pages as page}
                <a href="#{page.location}">
                 <li 
                    on:click={() => managerPage.update(store => store = page)}
                    class="section waves-effect" 
                    class:active="{$location === page.location}"
                >
                    <i class="material-icons small left">{page.icon}</i>
                    {page.name}
                 </li>
                </a>
            {/each}
        </ul>
    {/each}
    </ul>
</section>

<style>
    section{position:fixed;z-index:901;top:0;left:0;bottom:0;width:300px;background-color:#fafafa;border-right:1px solid #eeeeee}
    header{height:120px;background:transparent;padding:25px;}
    header div{width:70px;height:50px;padding-left:55px;background-image:url('./img/default-logo.svg');background-position:0 50%;background-repeat:no-repeat;background-size:50px;font-weight:bold;font-size:17px;font-family:'Orbitron';line-height:20px;color:#455a64;padding-top:5px;}
    header div span{font-weight:normal;font-family:'Roboto';background: linear-gradient(to top, #e1f5fe 100%, #e1f5fe 10%, transparent 10.01%) no-repeat left bottom / 100% 25%;}
    ul{margin:0;padding:0;color:#455a64;}
    li{margin:0;width:100%;}
    li.subject{padding-left:30px;height:35px;line-height:35px;}
    li.subject span{font-size:22px;background: linear-gradient(to top, #e1f5fe 100%, #e1f5fe 20%, transparent 10.01%) no-repeat left bottom / 100% 45%;}
    li.section{margin-left:25px;padding-left:8px;height:35px;line-height:4px;background-color:transparent;font-size:13px;transition:all,0.4s;width:270px;border-radius:4px 2px 2px 4px;}
    li.section:not(.active):hover{background-color:#fafafa;}
    li.section.active{background:#f5f5f5;border-right:4px solid #81c784;width:278px;}
    li.section.active i{color:#81c784;}
    li.section i{font-size:19px;color:#e0e0e0;line-height:5px;}
    ul.sections{margin-bottom:15px;background-color:transparent}
    a{color:#455a64;}
    a.close{display:block;position:fixed;transition:.2s;z-index:902;top:5px;left:5px;width:35px;height:35px;text-align:center;padding:0;border:none;outline:none;background:#ffffff;border-radius:50%;cursor:pointer;margin-left:250px;background:#fafafa;}
    a.close i{line-height:35px;}
    a.close:hover{background:#f5f5f5}
</style>