<script>
    import { portals, managerPage } from 'app/stores.js'
    import { sort, updateStore } from 'app/portals/manager.js'
    import { afterUpdate, onDestroy } from 'svelte'
    import Droppable from './portals-maps/Droppable.svelte'
    import Maps from './portals-maps/Maps.svelte'
    import Options from './portals-maps/Options.svelte'
    import Loader from './Loader.svelte'
    let promise = $portals
    let current = $portals[0]
    afterUpdate(() => sort() )
    onDestroy(() => updateStore() )
</script>

<section class="z-depth-1">
    <i class="material-icons left large">{$managerPage.icon}</i>
    <h1>{$managerPage.name}</h1>
    <h5 class="modal-trigger" data-target="create-portal">Créer un nouveau portail</h5>
    {#await promise}
        <Loader/>
    {:then data}
        <article class="sortable portals">
            {#each $portals as portal}
                <header 
                    class:active={portal === current} 
                    class="unselectable flex waves-effect" 
                    data-id="{portal.id}"
                    on:click={() => current = (portal === current) ? null : portal}
                >
                    <Droppable portal={portal.id}/>
                    <i class="material-icons left">flag</i>
                    <h2>{portal.title} <span>({portal.maps.length})</span></h2>
                    <Options portal={portal}/>
                </header>
            {/each}
        </article>
    {/await}
</section>
<aside>
    {#if current }
        <Maps maps={ $portals.find(item => item.id === current.id).maps } />
    {/if}       
</aside>

<style>
    section{padding:50px 0 50px 40px;min-width:495px;height:100%;background:#fdfdfd;}
    h1{display:inline-block;margin:0;font-size:26px;background: linear-gradient(to top, #e1f5fe 100%, #e1f5fe 10%, transparent 10.01%) no-repeat left bottom / 100% 25%;}
    i.large{color:#e8f5e9}
    h5{color:#0288d1;font-size:16px;cursor:pointer;transition:all, 0.4s;}
    article{margin:20px 0 0 50px;}
    header{position:relative;display:flex;flex-direction:row;width:354px;height:40px;cursor:pointer;list-style-type:none;margin:0 0 10px 0;padding:0 10px;transition:all, 0.6s;border-radius:3px;border-right:4px solid transparent;}
    header.active{border-right:4px solid #a5d6a7;background:#f5f5f5;}
    header:not(.active):hover{background:#fafafa;}
    h2{display:inline-block;line-height:40px;margin:0 0 0 5px;padding:0;height:40px;font-size:14px;font-weight:normal;}
    h2 span{color:#bdbdbd;}
    header i{padding:0;margin:0 5px;font-size:20px;line-height:40px;height:30px;color:#bdbdbd;}
    header i.left{color:#9e9e9e}
    header.active i.left{color:#81c784}
    aside{padding:0 0 0 20px;margin-left:10px;width:100%;}
</style>