<script>
    import { managerPage } from 'app/stores.js'
    import { reload } from 'app/qgisprojects/stores.js'
    import { getProjects } from 'app/qgisprojects/manager.js'
    import {afterUpdate } from 'svelte'
    import Loader from './Loader.svelte'
    import ProjectsList from './projects/ProjectsList.svelte'
    let promise = getProjects()
    afterUpdate( () => {
        if ($reload === true) {
            reload.update(store => store = false)
            promise = getProjects()
        }
    })
</script>

<section class="z-depth-1">
    <i class="material-icons left large">{$managerPage.icon}</i>
    <h1>{$managerPage.name}</h1>
    {#await promise}
        <Loader/>
    {:then projects}
        <ProjectsList projects={projects}/>
    {/await}
</section>

<style>
    section{padding:50px 0 50px 40px;width:495px;height:100%;background:#fdfdfd;}
    h1{display:inline-block;margin:0;font-size:26px;background: linear-gradient(to top, #e1f5fe 100%, #e1f5fe 10%, transparent 10.01%) no-repeat left bottom / 100% 25%;}
    i.large{color:#e8f5e9}

</style>