<script>
    import { loader, managerPage } from 'app/stores.js'
    import { options } from 'app/qgisprojects/stores.js'
    import { loadProject, updatePreviews } from 'app/qgisprojects/manager.js'
    import { updateMapPreview } from 'app/maps/manager.js'
    import ProjectsLoaderOptions from './projects/ProjectsLoaderOptions.svelte'
    let file = false
    async function load() {
        if(!file){
            return false
        }
        $loader = { 
            active: true, 
            message: `Enregistrement du projet <br>&laquo;<b> ${file.name} </b> &raquo; <br>en cours`,
            submessage: 'Cela peut durer plus d\'une minute',
            color: 'manager'
        }
        const qgis = await loadProject(file, $options)
        if (qgis.count > 0) {
            $loader.message = `<b>${qgis.count} calque(s) importé(s)</b><br>Génération des symboles et des aperçus`
            $loader.submessage = 'Cela peut durer plusieurs dizaines de secondes'
            const previews = await updatePreviews(qgis.project)
        }
        $loader = {active: false, message: '', submessage: '', color: 'ui'}
        file = false
    }
</script>

<section class="z-depth-1">
    <i class="material-icons left large">{$managerPage.icon}</i>
    <h1>{$managerPage.name}</h1>
    <article>
        <div class="file-field input-field">
            <div class="btn waves-effect">
                <span>Importer</span>
                <input type="file" accept=".qgs, .qgz, .zip" on:change={e => file = e.target.files[0]}>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path" type="text" spellcheck="false" placeholder="Fichier de projet .qgs, .qgz ou .zip">
            </div>
        </div>
        <ProjectsLoaderOptions/>
        <button type="submit" class="btn-large waves-effect z-depth-2" on:click={() => load()}>Envoyer<i class="material-icons right">chevron_right</i></button>
    </article>
</section>

<style>
    section{padding:50px 0 50px 40px;width:100%;height:100%;background:#fdfdfd;}
    h1{display:inline-block;margin:0;font-size:26px;background: linear-gradient(to top, #e1f5fe 100%, #e1f5fe 10%, transparent 10.01%) no-repeat left bottom / 100% 25%;}
    i.large{color:#e8f5e9}
    article{width:630px;margin:50px 105px;}
    .btn{background-color:#0288d1}
    .btn:hover{background-color:#039be5}
    .btn:focus{background-color:#039be5}
    .btn-large{display:block;background: #fafafa;color:#0288d1;margin:40px auto 20px auto;text-align:center;width:100%;border:0;border-radius:3px;font-size:18px;height:60px;}
	.btn-large:focus{background:#f5f5f5;}
    .btn-large:hover{background-color:#fff}
    button{display:block;margin-top:30px;}
</style>