<script>
    import { settings, managerPage } from 'app/stores.js'
    import { updateSettingsName, updateSettingsLogo, updateSettingsOverview } from 'app/settings.js'
    import { searchLayer } from 'app/gis/manager.js'
    import Loader from './Loader.svelte'
    let name = null
    let file = false
    let layer_id = null
    let value = null
    let preview = null
    const searchLayerFromGis = async (value) => {
        if (value === '' && value.length < 3) {
            preview = null
            return
        }
        const layers = await searchLayer(value)
        if (layers.length > 0) {
            preview = layers[0].preview_url
            layer_id = layers[0].layer_id
            return
        }
        preview = null 
        return
    }
</script>

<main>
    <i class="material-icons left large">{$managerPage.icon}</i>
    <h1>{$managerPage.name}</h1>

    <section>
        <article class="z-depth-1">
            <div class="input-field">
                <input id="application-name" spellcheck="false" type="text" bind:value={name}>
                <label for="application-name">NOM</label>
            </div>
            <button class="btn-large waves-effect z-depth-2" on:click={async () => await updateSettingsName(name)}>
                ENREGISTRER
                <i class="material-icons left">save</i>
            </button>
        </article>
        <article class="z-depth-1">
            <div class="file-field input-field">
                <div class="btn">
                    <span>Logo</span>
                    <input type="file" accept=".svg, .png, .jpg" on:change={e => file = e.target.files[0]}>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path" type="text" spellcheck="false" placeholder="Image .svg, .png ou .jpeg">
                </div>
            </div>
            <button class="btn-large waves-effect z-depth-2" on:click={() => updateSettingsLogo(file)}>
                ENREGISTRER
                <i class="material-icons left">save</i>
            </button>
        </article>
        <article class="z-depth-1 large">
            <aside>
                <div class="input-field">
                    <input id="overview" type="text" spellcheck="false" bind:value={value} on:input={() => searchLayerFromGis(value)}>
                    <label for="overview">CALQUE DE RÉFÉRENCE</label>
                </div>
                <button class="btn-large waves-effect z-depth-2" on:click={() => updateSettingsOverview(layer_id)}>
                    ENREGISTRER
                    <i class="material-icons left">save</i>
                </button>
            </aside>
            <aside class="preview">
                <img src="{preview ? preview : './img/no-preview-layer.png'}" alt="layer preview"/>
            </aside>
        </article>
    </section>
</main>


<style>
    main{padding:50px 0 50px 40px;width:100%;height:100%;background:#fdfdfd;}
    h1{display:inline-block;margin:0;font-size:26px;background: linear-gradient(to top, #e1f5fe 100%, #e1f5fe 10%, transparent 10.01%) no-repeat left bottom / 100% 25%;}
    i.large{color:#e8f5e9}
    section{display:flex;flex-wrap:wrap;flex-direction:row;}
    article{background:#fff;margin:10px;width:350px;height:200px;border-radius:4px;padding:20px;}
    article.large{width:720px;display:flex;flex-direction:row;justify-content:space-between;}
    aside.preview{background:#fafafa;}
    .large aside{width:330px;}
    .large img{display:block;height:160px;margin:0 auto;}
    button{display:block;background: #fafafa;color:#0288d1;margin:30px auto 20px auto;text-align:left;width:100%;border:0;border-radius:3px;font-size:18px;height:60px;}
	button:focus{background:#f5f5f5;}
    button:hover{background-color:#fff}
</style>
