<script>
    import { slide } from 'svelte/transition'
    import { afterUpdate } from 'svelte'
    import { sort } from 'app/gis/manager.js'
    import Header from './folder/Header.svelte'
    import Layer from './Layer.svelte'
    export let folder
    export let level
    folder.level = level
    afterUpdate(() => {
        if (folder.active && folder.subfolders.length > 1) {
            sort( `sortable-folder${folder.id}` )
        }
    })
    function setActive(e) {
        folder.active = e.detail
    }
    function updateLayers(e) {
        folder.layers = e.detail
    }
    function removeLayer(layerId) {
        folder.layers = folder.layers.filter(items => items.id !== layerId)
    }
</script>

<Header 
    folder={folder} 
    on:active={e => setActive(e)}
    on:add={e => updateLayers(e)}
/>

{#if folder.active}
    <ul transition:slide="{{ duration: 200 }}" class="sortable-folder{folder.id}" data-id={folder.id}>
        {#each folder.subfolders as subfolder}
            <svelte:self folder={subfolder} level={level + 1}/>
        {/each}
        {#each folder.layers as layer (layer.id)}
            <Layer layer={layer} on:moved={e => removeLayer(e.detail.id)}/>
        {/each}
    </ul>
{/if}

<style>
    ul{padding:0;padding-left:20px;margin:0;}
</style>
