<script>
    import CreateFolder from './dialogs/CreateFolder.svelte'
    import DeleteFolder from './dialogs/DeleteFolder.svelte'
    import UpdateFolder from './dialogs/UpdateFolder.svelte'
    import UpdateLayer from './dialogs/UpdateLayer.svelte'
    import UpdateLayerColumns from './dialogs/UpdateLayerColumns.svelte'
    import ReplaceLayer from './dialogs/ReplaceLayer.svelte'
    import DeleteLayer from './dialogs/DeleteLayer.svelte'

</script>


<CreateFolder/>
<DeleteFolder/>
<UpdateFolder/>
<UpdateLayer/>
<UpdateLayerColumns/>
<ReplaceLayer/>
<DeleteLayer/>