<script>
    import { loader } from 'app/stores.js'
    import { selected } from 'app/layers/stores.js'
    import { updateLayerPreviews, updateLayerExtent } from 'app/layers/manager.js'
    import { fade } from 'svelte/transition'
    import { getIntlDateTimeFormat, getIntlRelativeTimeFormat } from 'app/dates.js'

    async function updatePreview() {
         $loader = { 
            active: true, 
            message: `Génération du symbole et de l'aperçu du calque <br>&laquo;<b> ${$selected.title} </b> &raquo;`,
            submessage: 'Cela peut durer quelques secondes',
            color: 'manager'
        }
        const result = await updateLayerPreviews($selected)
        $loader = {active: false, message: '', submessage: '', color: 'ui'}
        console.log(result)
        $selected.preview_url = result.preview_url
    }

    async function updateExtent() {
         $loader = { 
            active: true, 
            message: `Calcul de l'étendue du calque <br>&laquo;<b> ${$selected.title} </b> &raquo; à partir des données sources`,
            submessage: 'Cela peut durer quelques secondes',
            color: 'manager'
        }
        const result = await updateLayerExtent($selected)
        $loader = {active: false, message: '', submessage: '', color: 'ui'}
        console.log(result)
        await updatePreview()
    }
</script>

{#if $selected !== null}
    <article in:fade={{ duration:200 }}>
        <aside>
            {#if $selected.preview_url}
                <img alt="layer preview" src="{$selected.preview_url}"/>
            {:else}
                <img alt="layer no-preview" src="./img/no-preview-layer.png"/>
            {/if}
            <h1>{$selected.title}</h1>
            <ul>
                <li>Créé le {getIntlDateTimeFormat($selected.created_at)}</li>
                <li>Actulisé {getIntlRelativeTimeFormat($selected.updated_at)}</li>
            </ul>
            {#if $selected.abstract}
                <p class="abstract">{$selected.abstract}</p>
            {/if}
            {#if $selected.source}
                <p class="source">{$selected.source}</p>
            {/if}

            <button type="submit" class="waves-effect z-depth-2 modal-trigger" data-target="update-layer">
                <i class="material-icons left">edit</i>
                Éditer
            </button>
            <button type="submit" class="waves-effect z-depth-2 modal-trigger" data-target="update-layer-columns">
                <i class="material-icons left">grid_on</i>
                Modifier la table attributaire
            </button>
            <button type="submit" class="waves-effect z-depth-2" on:click={() => updatePreview()}>
                <i class="material-icons left">refresh</i>
                Rafraîchir les aperçus
            </button>
            <button type="submit" class="waves-effect z-depth-2" on:click={() => updateExtent()}>
                <i class="material-icons left">zoom_out_map</i>
                Recalculer l'étendue
            </button>
            <button type="submit" class="waves-effect z-depth-2  modal-trigger" data-target="replace-layer">
                <i class="material-icons left">layers_clear</i>
                Remplacer la couche
            </button>
            <button type="submit" class="action waves-effect z-depth-2  modal-trigger" data-target="delete-layer">
                <i class="material-icons left">delete_forever</i>
                Supprimer
            </button>
        </aside>
    </article>
{/if}

<style>
    article{max-width:300px;min-height:100px;}
    aside{width:100%;height:auto;padding:10px;position:relative;}
    img:first-child{width:100%}
    img:last-child{width:30%;float:right;}
    h1{margin:0;padding:0;font-size:19px;font-weight:bold}
    ul{color:#718792;font-size:12px;margin:0 0 15px 0;padding:0;}
    p{margin:0;padding:0;;width:250px;text-align:justify;color:#1c313a}
    p.abstract{font-size:14px}
    p.source{font-size:12px;padding-bottom:30px;padding-top:20px;color:#455a64;}
    button{display:block;background: #fafafa;color:#0288d1;text-align:left;margin:10px auto 10px auto;width:100%;border:0;border-radius:3px;font-size:13px;height:35px;line-height:30px;text-transform:uppercase;}
    button i{line-height:35px;}
	button:focus{background:#f5f5f5;}
    button:hover{background-color:#fff}
</style>