<script>    
    import { dragged } from 'app/gis/stores.js'
    import { selected } from 'app/layers/stores.js'
    import { fade } from 'svelte/transition'
    import { afterUpdate } from 'svelte'
    import { createEventDispatcher } from 'svelte'
    export let layer
    let active = false
    afterUpdate( () => {
        active = ($selected !== null && layer.id === $selected.id) ? true : false
    })
    const dispatch = createEventDispatcher()

    function onDragstart(e, layer) {
        e.dataTransfer.setData('text/plain', JSON.stringify(layer))
        e.target.style.opacity = .5
    }
    function onDragend(e, layer) {
        e.target.style.opacity = ''
        if ($dragged === true) {
            dispatch('moved', layer)
        }
    }

    function setSelected() {
        if(active) {
            selected.update(store => store = null)
        } 
        else {
            selected.update(store => store = layer)
        }
    }
</script>

<li in:fade="{{ duration: 200 }}" class:active={active}
        on:dragstart={(e) => onDragstart(e, layer)}
        on:dragend={(e) => onDragend(e, layer)}
        on:click={() => setSelected()}
        draggable="true"
        class="ignore-sortable"
>
    <i class="material-icons left">layers</i>
    <h1>{layer.title}</h1>
</li>

<style>
    li{position:relative;width:100%;height:30px;transition:all, 0.2s;cursor:pointer;list-style-type:none;padding-left:30px;}
    h1{display:inline-block;margin:0 0 0 5px;padding:0;font-size:14px;line-height:33px;transition:all, 0.3s;}
    i{padding:0;margin:0;font-size:20px;line-height:30px;height:30px;color:#81c784;transition:all, 0.3s;}
    li.active h1{background: linear-gradient(to bottom, #e1f5fe 60%, #e1f5fe 10%, transparent 10%) no-repeat left bottom / 100% 50%;}
    li.active i{color:#4caf50;}
    /* header{position:absolute;top:0;bottom:0;left:0;right:0;background:transparent;} */
</style>