<script>
    import { updateMapViews } from 'app/maps/manager.js'
    import MapCardOptions from './MapCardOptions.svelte'
    import MapCardInfo from './MapCardInfo.svelte'
    export let map
</script>

<section data-id={map.id} data-portal={map.portal_id}>
    <MapCardOptions map={map}/>
    <img alt="layer preview" src="{(map.preview_url) ? map.preview_url : './img/no-preview-map.png'}"/>
    <article>
        <h1>{map.title}</h1>
        <p>{map.abstract}</p>
        <MapCardInfo map={map}/>
    </article>
</section>    

<style>
    section{display:flex;flex-direction:row;width:460px;margin:5px;height:170px;background:#ffffff;box-shadow: 0 1px 3px rgba(117,117,117,0.12), 0 1px 2px rgba(117,117,117,0.24);}
    img{height:150px;margin:10px;border:1px solid #eee;}
    article{margin:12px 10px 10px 0;position:relative;min-width:198px;}
    h1{font-size:13px;margin:0;font-weight:bold;}
    p{text-align:left;font-size:12px;line-height:14px;color:#546e7a;}
</style>