<script>
    import { loader } from 'app/stores.js'
    import { current } from 'app/maps/stores.js'
    import { updateMapPreview, updatePortal } from 'app/maps/manager.js'
    import { initTooltip } from 'app/interactions.js'
    import { onMount } from 'svelte'

    export let map
    onMount( () => initTooltip() )

    async function reloadPreview(map) {
        $loader = {
            active: true, 
            message: `Création d'un aperçu pour la carte :<br>&laquo;<b>  ${map.title} </b>&raquo;`,
            submessage: 'Cela peut durer quelques secondes',
            color: 'ui'
        }
        const result = await updateMapPreview(map)
        $loader.message = 'Mise à jour du portail'
        await updatePortal(map.portal_id)
        $loader = {active: false, message: '', submessage: '', color: 'ui'}
    }
</script>

<article class="action">
    <button class="handle-map waves-effect waves-light">
        <i class="material-icons">drag_handle</i>
    </button>
    <button
        on:click={() => $current = map}
        data-position="left" 
        class="tooltipped waves-effect modal-trigger" 
        data-target="update-map" 
        data-tooltip="Editer" 
    >
        <i class="material-icons">edit</i>
    </button>
    <button 
        data-position="left" 
        data-tooltip="Regénérer l'aperçu" 
        class="tooltipped waves-effect action"
        on:click={() => reloadPreview(map)}
    >
        <i class="material-icons grey-text action">sync</i>
    </button>
    <button
        on:click={() => $current = map}
        data-position="left" 
        class="tooltipped waves-effect modal-trigger delete" 
        data-target="delete-map"
        data-tooltip="Supprimer" 
    >
        <i class="material-icons">delete_forever</i>
    </button>
</article> 

<style>
    article{width:30px;cursor:default;background:#fafafa;}
    button{height:30px;width:30px;background:transparent;border-radius:50%;}
    button.handle-map{cursor:move;}
    button.handle-map:focus{cursor:grabbing;}
    button i{color:#bdbdbd;transition:all, 0.3s;font-size:20px;}
    button i:hover{color:#757575;}
    button.delete i:hover{color:#e57373;}
</style>