<script>
    import { getIntlDateTimeFormat, getIntlRelativeTimeFormat } from 'app/dates.js'
    export let map
</script>

<ul>
    <li>
        <span>{map.views} {map.views > 1 ? 'vues' : 'vue'} &nbsp;&bull;&nbsp; {getIntlDateTimeFormat(map.created_at)}</span>
    </li>
    <li>Actualisé {getIntlRelativeTimeFormat(map.updated_at)}</li>
</ul>

<style>
    ul{position:absolute;bottom:0;left:0;margin:0;}
    li{font-size:12px;color:#455a64}
    span{color:#757575;font-size:11px;}
</style>