<script>
    import { sort } from 'app/maps/manager.js'
    import { afterUpdate } from 'svelte'
    import MapCard from './MapCard.svelte'
    export let maps
    const portal = {maps: maps}
    function filter(value) {
        maps = portal.maps 
        maps = portal.maps.filter( (map) => {
            const search = map.title + ' ' + map.abstract + ' ' + map.created_at
            return search.toLowerCase().indexOf(value.toLowerCase()) !== -1
        })
    }
    afterUpdate(() => sort())
</script>

<section>
    <div class="input-field">
        <i class="material-icons prefix">search</i>
        <input type="text" placeholder="Rechercher une carte..." spellcheck="false" on:input={(e) => filter(e.target.value)}>
    </div>
    <article class="sortable-maps">
        {#each maps as map}
            <MapCard map={map}/>
        {/each}
    </article>
</section>

<style>
    section{position:relative;width:100%;height:100%;margin:0 auto;padding-top:10px;}
    .input-field{max-width:460px}
    article{position:absolute;top:80px;left:0;right:0;bottom:0;overflow-y:auto;}
</style>