<script>
    import { current } from 'app/portals/stores.js'
    import { setOwnerPortal } from 'app/portals/manager.js'
    import { initTooltip } from 'app/interactions.js'
    import { onMount } from 'svelte'
	onMount( () => initTooltip() )
    export let portal
</script>

<aside>
    <button class="handle waves-effect waves-light">
        <i class="material-icons">drag_handle</i>
    </button>

    <button
        data-position="top" data-tooltip="Portail privé" 
        class="tooltipped waves-effect" 
        on:click={() => setOwnerPortal(portal)}
    >
        <i class="material-icons owner" class:active={portal.owner === true}>
            {!portal.owner ? 'person_outline' : 'person'}
        </i>
    </button>

    <button
        data-position="top" 
        class="tooltipped waves-effect modal-trigger" 
        data-target="update-portal" 
        data-tooltip="Editer" 
        on:click={(e) => current.update(elem => elem = portal)}
    >
        <i class="material-icons">edit</i>
    </button>

    <button
        data-position="top" 
        class="tooltipped waves-effect modal-trigger"
        data-target="delete-portal" 
        data-tooltip="Supprimer" 
        on:click={(e) => current.update(elem => elem = portal)}
    >
        <i class="material-icons delete">delete_forever</i>
    </button>
</aside>

<style>
    aside{position:absolute;right:0;top:0;z-index:2}
    button{height:35px;width:35px;margin-top:2.5px;background:transparent;border-radius:50%;}
    button.handle{cursor:move;}
    button.handle:focus{cursor:grabbing;}
    button i{color:#bdbdbd;transition:all, 0.3s;}
    button i:hover{color:#757575;}
    button i.delete:hover{color:#e57373;}
    button i.owner.active{color:#81c784}
</style>