<script>
    import CreatePortal from './dialogs/CreatePortal.svelte'
    import UpdatePortal from './dialogs/UpdatePortal.svelte'
    import DeletePortal from './dialogs/DeletePortal.svelte'
    import UpdateMap from './dialogs/UpdateMap.svelte'
    import DeleteMap from './dialogs/DeleteMap.svelte'
</script>

<CreatePortal/>
<UpdatePortal/>
<DeletePortal/>
<UpdateMap/>
<DeleteMap/>