<script>
    import { layer } from 'app/stores.js'
    import { filter } from './stores.js'
    import { afterUpdate } from 'svelte'
    let current = null
    let promise = false
    let layerTitle = null
    afterUpdate(() => {
        if($layer && layerTitle !== $layer.title){
            current = null
            $filter.expression = $layer.filter ? $layer.filter : ''
            promise = $layer.getColumns()
            layerTitle = $layer.title
        }
    })
    function handleClick(attribute) {
        if(current != attribute) {
            $filter.values = $layer.getDistinctValues(attribute)
            filter.update(obj => obj = $filter)
        }
        current = attribute
    }
    function handleDblClick(attribute) {
        $filter.expression = $filter.expression + ' "' + attribute + '"'
        filter.update(obj => obj = $filter)
    }
</script>

<aside>
    <label>Attributs :</label>
    <ul>
        {#if promise}
            {#await promise}
                <p>...</p>
            {:then columns}
                {#each columns as column}
                    {#if !column.excluded}
                        <li 
                            class:active={current === column.name} 
                            on:dblclick|preventDefault={() => handleDblClick(column.name)} 
                            on:click|preventDefault={() => handleClick(column.name)}
                        >
                            <span>{column.alias}</span> - {column.name}
                        </li>
                    {/if}
                {/each}
            {/await}
        {/if}
    </ul>
</aside>

<style>
    aside{padding:0 10px;}
    ul{height:120px;list-style-type:none;margin:0;padding:3px;background:#fafafa;border:1px solid #e0e0e0;overflow-y:scroll;overflow-x:hidden;}
    ul li{font-size:0.8em;color:#455a64;transition:all, 0.3s;padding:3px;cursor:pointer;font-style:italic;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
    /* ul li.val{font-size:0.7em;font-style:normal;} */
    ul li span{font-weight:bold;font-style:normal;}
    ul li:hover{background:#eeeeee;}
    ul li:focus{background:#e0e0e0;}
    ul li.active{background:#e0e0e0;}
</style>