<script>
    import { filter } from './stores.js'
    function update(e) {
        $filter.expression = e.target.value
    }
</script>

<aside>
    <label>Expression :</label>
    <textarea spellcheck="false"class="brwoser-default" on:input={(e) => update(e)}>{ $filter.expression }</textarea>
</aside>

<style>
    aside{padding:0 10px;}
    textarea{display:block;height:100px;border:1px solid #e0e0e0;outline:none;padding:5px;width:410px;font-size:20px;font-family:'Roboto';color:#0093c4;resize:none;}
</style>