<script>
    import { filter } from './stores.js'
    let signs = ['=', '!=', '>', '<', '>=', '<=']
    let words = ['LIKE', 'AND', 'OR', 'NOT', 'IN', 'NULL']
    function handleClick(operator) {
        $filter.expression = $filter.expression + ' ' + operator
        filter.update(obj => obj = $filter)
    }
</script>

<aside>
    <label>Opérateurs :</label>
    <div>
        {#each signs as sign}
            <button on:click={() => handleClick(sign)} class="waves-effect">{sign}</button>
        {/each}
    </div>
    <div>
        {#each words as word}
            <button on:click={() => handleClick(word)} class="waves-effect">{word}</button>
        {/each}
    </div>
</aside>

<style>
    aside{padding:10px 10px;}
    aside div{width:195px;}
    button{width:60px;height:25px;font-family:"Orbitron";margin-right:4px;margin-bottom:4px;cursor:pointer;border-radius:2px;background:#f5f5f5;border:1px solid #e0e0e0;}
</style>