<script>
    import { filter } from './stores.js'
    import { afterUpdate } from 'svelte'
    let promise = false
    afterUpdate(() => {
        promise = $filter.values
    })
    function handleDblClick(value) {
        $filter.expression = $filter.expression + ' ' + value
        filter.update(obj => obj = $filter)
    }
</script>

<aside>
    <label>Valeurs uniques :</label>
    <ul>
        {#if promise}
            {#await promise}
                <p>...</p>
            {:then values}
                {#each values as value}
                    <li on:dblclick={() => handleDblClick(value)}>{value}</li>
                {/each}
            {/await}
        {/if}
    </ul>
</aside>

<style>
    aside{padding:10px 10px;width:100%;}
    ul{height:116px;list-style-type:none;margin:0;padding:3px;background:#fafafa;border:1px solid #e0e0e0;overflow-y:scroll;overflow-x:hidden;}
    ul li{font-size:0.8em;color:#455a64;transition:all, 0.3s;padding:1px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
    ul li:hover{background:#eeeeee;}
</style>