<script>
    import { deleteBasemapOverlay } from 'app/basemaps/manager.js'
    import { slide } from 'svelte/transition'
    export let basemap
    export let overlays
    const destroy = (index) => {
        overlays = overlays.splice(index -1, 1)
        deleteBasemapOverlay(basemap, index)
    }
</script>
<label>SURCOUCHES</label>
<table>
    <tbody>
        {#each overlays as overlay}
            <tr in:slide>
                <td><i class="material-icons">{overlay.icon}</i></td>
                <td>{overlay.alias}</td>
                <td>{overlay.position}</td>
                <td><i class="material-icons delete" on:click={() => destroy( overlays.indexOf(overlay) )}>close</i></td>
            </tr>
        {/each}
    </tbody>
</table>

<style>
    table{width:360px;margin:0 auto;height:130px;position:relative;}
    tbody{position:absolute;top:0;left:0;right:0;bottom:0;overflow-y:auto;}
    tbody tr{transition:all, 0.2s;background-color:transparent;}
    tbody tr:hover{background-color:#fafafa}
    tbody tr td{width:110px;padding:0;height:30px;line-height:30px;text-align:left;border-bottom:1px solid #f5f5f5;}
    tbody tr td:first-child{width:50px;text-align:center;}
    tbody tr td:last-child{width:50px;}
    td i{padding-top:7px;}
    td i{color:#718792}
    td i.delete{color:#e57373;cursor:pointer;transition:all, 0.3s;}
    td i.delete:hover{color:#ef5350;}
</style>