 <script>
    import { current } from 'app/basemaps/stores.js'
    import { deleteBasemap } from 'app/basemaps/manager.js'
 </script>

    <div id="delete-basemap" class="dialog modal">
        {#if typeof $current !== 'undefined'}
        <h1>
            <i class="material-icons left">flip_to_back</i>
            Suprression de &laquo;&nbsp;{$current.title}&nbsp;&raquo;
            <button class="grey lighten-4 modal-close"></button>
        </h1>
        <div class="modal-content">
            <p>Voulez-vous vraiment supprimer le fond de carte &laquo;&nbsp;{$current.title}&nbsp;&raquo; de manière définitive ?</p>
        </div>
        <div class="response modal-footer">
            <button class="option modal-close" on:click={() => deleteBasemap($current)}>Supprimer</button>
            <button class="option modal-close">Annuler</button>
        </div>
        {/if}
    </div>

<style>
    .modal-content{padding:20px 40px;}
    .dialog{height:200px;min-width:450px;width:450px;}
</style>







