 <script>
    import { current, manager } from 'app/basemaps/stores.js'
    import { setBasemapOverlay } from 'app/basemaps/manager.js'
    import { initFormSelect } from 'app/interactions.js'
    import { afterUpdate } from 'svelte'
    afterUpdate( () => initFormSelect() )
    const form = {alias: null, icon: null, position: 'top', basemap_id: null}
</script>
    
    <div id="set-basemap-overlay" class="dialog modal">
        {#if typeof $current !== 'undefined'}
        <h1>
            <i class="material-icons left">flip_to_back</i>
            Ajouter une sur-couche pour &laquo;&nbsp;{$current.title}&nbsp;&raquo;
            <button class="grey lighten-4 modal-close"></button>
        </h1>
        <div class="modal-content">
            <div class="input-field">
                <select bind:value={form.basemap_id}>
                    <option value="" disabled selected>Choisir une surcouche</option>
                    {#each $manager.overlayed as overlay}
                        <option value="{overlay.id}">{overlay.title}</option>
                    {/each}
                </select>
                <label>SURCOUCHE</label>
            </div>
            <div class="input-field">
                <input type="text" placeholder="" bind:value={form.alias}>
                <label class="active">TITRE</label>
            </div>
            <div class="input-field">
                <input type="text" placeholder="" bind:value={form.icon}>
                <label class="active">ICÔNE <a href="https://materializecss.com/icons.html" target="_blank"><i>(voir la liste)</i></a></label>
            </div>
            <div class="input-field">
                <select bind:value={form.position}>
                    <option value="top" selected><u>Au-dessus</u> des calques</option>
                    <option value="bottom"><u>En-dessous</u> des calques</option>
                </select>
                <label>POSITION DANS LA CARTE</label>
            </div>
        </div>
        <div class="response modal-footer">
            <button class="option modal-close" on:click={() => setBasemapOverlay($current, form)}>Enregistrer</button>
            <button class="option modal-close">Annuler</button>
        </div>
        {/if}
    </div>

<style>
    .modal-content{padding:20px 40px;}
    .dialog{min-height:500px;min-width:400px;width:400px;}
    .input-field{margin:30px 0;}
</style>