 <script>
    import { current } from 'app/basemaps/stores.js'
    import Basemap from 'app/basemaps/basemap.js'
    import { setBasemapPreview } from 'app/basemaps/manager.js'
    import Canvas from 'app/canvas/canvas.js'
    import { afterUpdate, onMount } from 'svelte'
    import { toPng } from 'html-to-image'
    let extent 
    const canvas = new Canvas
    onMount(() => { 
        canvas.map.setTarget( document.querySelector('#basemap-preview') )
    })
    afterUpdate(() => { 
        const element = document.querySelector('#basemap-preview')
        canvas.map.removeLayer(canvas.basemap)
        if (typeof $current !== 'undefined') {
            const waitForMap = setInterval( () => {
                if ( element.querySelectorAll('.ol-viewport').length > 0) {
                    window.dispatchEvent(new Event('resize'))
                    let basemap = new Basemap($current)
                    canvas.basemap = basemap.getTileLayer(basemap)
                    canvas.map.getLayers().insertAt(1, canvas.basemap)
                    clearInterval(waitForMap)
                }
            }, 100)
        }
    })
    // let capture = () => {
    //     extent = canvas.getExtent()
    //     console.log(extent)
    //     setBasemapPreview($current, extent)
    // }

    const capture = () => {
        console.log(canvas.map.getTargetElement() )
        toPng(canvas.map.getTargetElement(), {
            filter: (element) => {
                return element.className ? element.className.indexOf('ol-control') === -1 : true;
            }
        }).then( (dataURL) => {
            setBasemapPreview($current, dataURL)
        })
    }
</script>  
  
    <div id="set-basemap-preview" class="dialog modal">
        <h1>
            <i class="material-icons left">flip_to_back</i>
            Créer un aperçu de &laquo;&nbsp;{( typeof $current !== 'undefined' ) ? $current.title : ''}&nbsp;&raquo;
            <button class="grey lighten-4 modal-close"></button>
        </h1>
        <div class="modal-content">
            <section id="basemap-preview" class="map">
            </section>
        </div>
        <div class="response modal-footer">
            {#if typeof $current !== 'undefined'}
                <button class="option" on:click={() => capture()}>Capturer</button>
            {/if}
            <button class="option modal-close">Fermer</button>
        </div>
    </div>

<style>
    .modal-content{padding:20px 20px;}
    .dialog{height:220px;min-width:520px;width:520px;}
    #basemap-preview{width:480px;height:100px;min-width:480px;min-height:100px;cursor:grab;border:1px solid #eee;}
    #basemap-preview:active{cursor:grabbing;}
</style>

