 <script>
    import { current, collection } from 'app/basemaps/stores.js'
    import { updateBasemap } from 'app/basemaps/manager.js'
    import BasemapOverlayTable from './BasemapOverlayTable.svelte'
</script>
    
    <div id="update-basemap" class="dialog modal">
        {#if typeof $current !== 'undefined'}
        <h1>
            <i class="material-icons left">flip_to_back</i>
            Editer &laquo;&nbsp;{$current.title}&nbsp;&raquo;
            <button class="grey lighten-4 modal-close"></button>
        </h1>
        <div class="modal-content" style="min-height:{($current.overlays !== null) ? '430px' : '280px'}">
            <div class="input-field">
                <input type="text" placeholder="" bind:value="{$current.title}">
                <label class="active">TITRE</label>
            </div>
            <div class="input-field">
                <textarea class="materialize-textarea" placeholder="" bind:value="{$current.attributions}"></textarea>
                <label class="active">ATTRIBUTIONS</label>
            </div>
            {#if $current.overlays !== null}
               <BasemapOverlayTable overlays={$current.overlays} basemap={$current}/>
            {/if}
        </div>
        <div class="response modal-footer">
            <button class="option modal-close" on:click={() => updateBasemap($current)}>Enregistrer</button>
            <button class="option modal-close">Annuler</button>
        </div>
        {/if}
    </div>

<style>
    .modal-content{padding:20px 40px;}
    .dialog{min-height:300px;min-width:400px;width:400px;}
</style>