<script>
    import { contexts } from 'app/stores.js'
    import Context from 'app/canvas/context.js'
    function handleClick(item) {
        if (!item.control) {
            item.control = new Context(item.name)
            item.control.getControl().add()
        } else {
            if(item.name !== 'title') item.control.remove()
            item.control = null
        }
        contexts.update(arr => arr = $contexts)
    }
</script>

<section>
    {#each $contexts as item}
        <button 
            style="background-image:url('./img/icon/{item.name}.svg')"
            data-position="right" 
            class="tooltipped {item.name}" 
            class:active={item.control}
            data-tooltip="{item.tooltip}"
            on:click={() => handleClick(item)}
        >
        </button>
    {/each}
</section>

<style>
    section{position:absolute;bottom:10px;display:flex;flex-direction:column;margin:auto;width:45px;}
    button{height:40px;width:40px;margin:2px 2.5px;padding:0;background-color:transparent;background-position:50% 50%;background-size:28px;background-repeat:no-repeat;outline:none;border:3px solid transparent;}
    button:hover{cursor:pointer;transition:0.3s;border-bottom:3px solid #e0e0e0;}
    button.active{border-bottom:3px solid #fbc02d;}
</style>