<script>
    import { displayed } from 'app/stores.js'
    import { updateSlider } from 'app/display.js'
    export let slider
</script>

<article>
    <button 
        on:click={() => ($displayed.nav.slider !== 'layers') ? updateSlider('layers') : updateSlider(null)} 
        class="tooltipped layers" class:active={slider === 'layers'} 
        data-position="right" data-tooltip="Gestion des calques"
    ></button>

    <button 
        on:click={() => ($displayed.nav.slider !== 'basemaps') ? updateSlider('basemaps') : updateSlider(null)} 
        class="tooltipped basemaps" class:active={slider === 'basemaps'} 
        data-position="right" data-tooltip="Fonds de carte"
    ></button>

    {#if $displayed.printer.active}
        <button 
            on:click={() => ($displayed.nav.slider !== 'printer') ? updateSlider('printer') : updateSlider(null)} 
            class="tooltipped printer" class:active={slider === 'printer'} 
            data-position="right" data-tooltip="Gestionnaire d'impression"
        ></button>
    {:else}
        <div></div>
    {/if}
</article>

<style>
    article {padding-bottom:35px;}
    button{display:block;position:relative;height:45px;width:45px;border:none;margin:0;background-color:transparent;background-position:50% 50%;background-size:34px;background-repeat:no-repeat;outline:none;}
    button:hover{cursor:pointer;background-color:#f5f5f5;transition:0.3s;}
    button.active{background-color:#e0e0e0;}
    button.active:hover{background-color:#e0e0e0;}
    button.active::after{content:"";position:absolute;top:18px;left:45px;border-width:7px;border-style:solid;border-color:transparent transparent transparent #e0e0e0;z-index:1;}
    button.layers{background-image:url('./img/icon/layers.svg');}
    button.basemaps{background-image:url('./img/icon/basemaps.svg');}
    button.printer{background-image:url('./img/icon/print.svg');}
    div{background:transparent;height:45px;width:45px;}
</style>