<script>
    import { displayed } from 'app/stores.js'
    import Tools from 'app/canvas/tools.js'
    let active = 'navigate'
    let buttons = [
        {class: 'navigate', tooltip: 'Naviguer sur la carte'},
        {class: 'pointer', tooltip: 'Identifier une entité'},
        {class: 'zoomin', tooltip: 'Zoomer sur une emprise'},
        {class: 'distance', tooltip: 'Mesurer une longueur'},
        {class: 'area', tooltip: 'Mesurer une surface'},
        {class: 'rotate', tooltip: 'Orienter la carte'},
    ]
    function setActive(button) {
        active = button.class
        $displayed.canvas.cursor = button.class
        return new Tools(button.class)
    }
</script>

<article>
    {#each buttons as button}
        <button 
            style="background-image:url('./img/icon/{button.class}.svg')"
            data-position="right" 
            class="tooltipped waves-effect waves-light {button.class}" 
            class:active={button.class === active} 
            data-tooltip={button.tooltip}
            on:click={() => setActive(button)}
        >
        </button>
    {/each}
</article>

<style>
    button{cursor:pointer;height:35px;width:35px;margin:2px 5px;padding:0;border-radius:50%;background-color:#eee;background-position:50% 50%;background-size:22px;background-repeat:no-repeat;outline:none;transition: all 0.3s cubic-bezier(.25,.8,.25,1);border:2px solid #eee;}
    button:hover{box-shadow: 0 14px 28px rgba(189,189,189,0.25), 0 10px 10px rgba(189,189,189,0.22);border:2px solid #e0e0e0;}
    button.active{border:2px solid #fbc02d;}
    button.active:hover{box-shadow:none;cursor:default;}
</style>