<script>
    import { createPortal } from 'app/portals/manager.js'
    let portal = {title: null, role_id: 4}

    function create() {
        createPortal(portal)
        portal = {title: null, role_id: 4}
    }
 </script>

<div id="create-portal" class="dialog modal">
    <h1>
        <i class="material-icons left">flag</i>
        Créer un portail
        <button class="grey lighten-4 modal-close"></button>
    </h1>
    <div class="modal-content">
        <div class="input-field">
            <input type="text" bind:value="{portal.title}">
            <label>Titre du portail *</label>
        </div>   
        <div class="input-field">
            <input type="number" min="1" bind:value="{portal.role_id}">
            <label class="active">Rôle</label>
        </div>
    </div>
    <div class="response modal-footer">
        <button class="option modal-close" on:click={e => create()}>Enregistrer</button>
        <button class="option modal-close">Annuler</button>
    </div>
</div>

<style>
    .modal-content{padding:10px 40px;}
    .dialog{height:270px;min-width:350px;width:350px;}
</style>