 <script>
    import { current } from 'app/maps/stores.js'
    import { updateMap } from 'app/maps/manager.js'
</script>
    
    <div id="update-map" class="dialog modal">
        {#if typeof $current !== 'undefined'}
        <h1>
            <i class="material-icons left">map</i>
            Editer &laquo;&nbsp;{$current.title}&nbsp;&raquo;
            <button class="grey lighten-4 modal-close"></button>
        </h1>
        <div class="modal-content">
            <div class="input-field">
                <input type="text" bind:value="{$current.title}">
                <label class:active={$current.title !== null}>TITRE</label>
            </div>
            <div class="input-field">
                <textarea class="materialize-textarea" placeholder="" bind:value={$current.abstract}></textarea>
                <label class="active">DESCRIPTION</label>
            </div>
            <div class="input-field">
                <input type="number" bind:value="{$current.role_id}">
                <label class:active={$current.role_id !== null} min="1">RÔLE</label>
            </div>
        </div>
        <div class="response modal-footer">
            <button class="option modal-close" on:click={() => updateMap($current)}>Enregistrer</button>
            <button class="option modal-close">Annuler</button>
        </div>
        {/if}
    </div>

<style>
    .modal-content{padding:20px 40px;}
    .dialog{height:400px;min-width:400px;width:400px;}
</style>