 <script>
    import { current } from 'app/portals/stores.js'
    import { updatePortal } from 'app/portals/manager.js'
</script>
    
    <div id="update-portal" class="dialog modal">
        {#if typeof $current !== 'undefined'}
        <h1>
            <i class="material-icons left">flag</i>
            Editer &laquo;&nbsp;{$current.title}&nbsp;&raquo;
            <button class="grey lighten-4 modal-close"></button>
        </h1>
        <div class="modal-content">
            <div class="input-field">
                <input type="text" bind:value="{$current.title}">
                <label class:active={$current.title !== null}>Titre</label>
            </div>
            <div class="input-field">
                <input type="number" bind:value="{$current.role_id}">
                <label class:active={$current.role_id !== null} min="1">Rôle</label>
            </div>
        </div>
        <div class="response modal-footer">
            <button class="option modal-close" on:click={() => updatePortal($current)}>Enregistrer</button>
            <button class="option modal-close">Annuler</button>
        </div>
        {/if}
    </div>

<style>
    .modal-content{padding:20px 40px;}
    .dialog{height:300px;min-width:400px;width:400px;}
</style>