<script>
	import Gis from './dialogs/Gis.svelte'
	import SaveMap from './dialogs/SaveMap.svelte'
	import Permalink from './dialogs/Permalink.svelte'
	import ExportQgis from './dialogs/ExportQgis.svelte'
	import Filter from './dialogs/Filter.svelte'
	import ExtractLayer from './dialogs/ExtractLayer.svelte'
	import DeleteMap from './dialogs/DeleteMap.svelte'
	import { initDragMoveDialog } from 'app/interactions.js'
	initDragMoveDialog()
</script>

<Gis/>
<SaveMap/>
<DeleteMap/>
<Permalink/>
<ExportQgis/>
<Filter/>
<ExtractLayer/>