<script>
    import { displayed, layer } from 'app/stores.js'
    import { hideFooter } from 'app/display.js'
    import { fly } from 'svelte/transition'
    import { afterUpdate } from 'svelte'
    import Datatable from './footer/Datatable.svelte'
    let title = ''
	afterUpdate( () => {
        if ($displayed.footer.uuid === $layer.uuid) {
			title = $layer.title
		}
	})

    $displayed.footer.size = '33.333vh'
    function minimize() {
        $displayed.canvas.bottom = 0
        $displayed.footer.size = '25px'
    }
    function maximize() {
        $displayed.canvas.bottom = '33.333vh'
        $displayed.footer.size = ($displayed.footer.size === '33.333vh') ? '90vh' : '33.333vh'
    }
</script>

{#if $displayed.footer.datatable}
    <footer transition:fly={{ y:500, duration: 200}} style="left:{$displayed.footer.left};height:{$displayed.footer.size}">
        <h3>
            <span><b>{title}</b></span>
            <button on:click={e => $displayed.footer.size = hideFooter()}>
                <i class="material-icons red-text text-lighten-2">close</i>
            </button>
            <button on:click={e => maximize()}>
                {#if $displayed.footer.size === '33.333vh'}
                    <i class="material-icons">crop_square</i> 
                {:else}
                    <i class="material-icons maximized">filter_none</i>
                {/if}
            </button>
            <button on:click={e => minimize()}>
                <i class="material-icons">remove</i>
            </button>
        </h3>
        <Datatable layer={$layer} uuid={$displayed.footer.uuid}/>
    </footer>
{/if}

<style>
    footer{position:fixed;z-index:2;bottom:0;left:315px;right:0;height:33.333vh;border-top:1px solid #eee;z-index:49;background:#ffffff;transition:all, 0.2s}
    footer h3{position:absolute;z-index:2;display:block;top:0;left:0;right:0;height:25px;font-size:15px;background:#ffffff;padding:0;margin:0;line-height:25px;color:#718792;text-align:center;}
    footer h3 span{padding-left:90px;color:#455a64;padding-top:5px;}
    footer h3 span b{padding:0 7px;font-weight:normal;background: linear-gradient(to top, #e1f5fe 100%, #e1f5fe 100%, transparent 10.01%) no-repeat left bottom / 100% 45%;}
    button{float:right;margin:0;padding:0;background:transparent;border:none;outline:none;height:25px;width:30px;cursor:pointer;transition:all,0.2s;}
    button:hover{background:#eeeeee;}
    button i{color:#718792;font-size:20px;}
    button i.maximized{transform: rotate(180deg);font-size:15px;}
</style>