<script>
    import { displayed } from 'app/stores.js'
    import { updateSlider } from 'app/display.js'
    import { fly } from 'svelte/transition'
    import { afterUpdate } from 'svelte'
    import { initResizeDragLegend, initCustomScrollBar } from 'app/interactions.js'
    import Manager from './nav/Manager.svelte'
	import Basemaps from './sliders/Basemaps.svelte'
	import Layers from './sliders/Layers.svelte'
	import Printer from './sliders/Printer.svelte'
    import Tools from './nav/Tools.svelte'
    import Context from './nav/Context.svelte'
    // initResizeDragLegend()
    afterUpdate(() => initCustomScrollBar( document.querySelector('.slider'), {
        className: 'os-theme-light os-theme-light-custom',
        scrollbars: {autoHide: 'scroll', autoHideDelay: 200}
    }))
</script>

<section transition:fly={{ x:-45, duration: 300}}>
    <Manager slider={$displayed.nav.slider}/>
    <Tools/>
    <Context/>
</section>

{#if $displayed.nav.slider === 'layers'}
    <aside transition:fly={{ x:-270, duration: 200}} class="resize-drag-legend slider">
        <Layers/>
    </aside>    
{:else if $displayed.nav.slider === 'basemaps'}
    <aside transition:fly={{ x:-270, duration: 200}} class="slider">
        <Basemaps/>
    </aside>
{:else if $displayed.nav.slider === 'printer'}
    <aside transition:fly={{ x:-270, duration: 200}}>
        <Printer/>
    </aside>
{/if}

<style>
    section{position:absolute;z-index:900;top:45px;left:0;bottom:0;width:45px;background:#ffffff;box-shadow: 0 3px 6px rgba(189,189,189,0.16), 0 3px 6px rgba(189,189,189,0.23);border-right:1px solid #eee;}
    aside{position:fixed;z-index:1;top:45px;left:45px;bottom:0;background:#ffffff;z-index:50;width:270px;border-right:1px solid #e0e0e0;height:auto;touch-action:none;overflow-y:auto;overflow-x:hidden;}
</style>