<script>
    import { updateLayerProject } from 'app/layers/manager.js'
    import { loader } from 'app/stores.js'
    import { reload } from 'app/qgisprojects/stores.js'
    export let project
    const onDrop = async (e) => {
        e.preventDefault()
        e.target.style.background = ''
       $loader = { 
            active: true, 
            message: `Mise à jour du projet <br>&laquo;<b> ${project.title} </b> &raquo; <br>en cours`,
            submessage: '',
            color: 'manager'
        }
        const layer = JSON.parse( e.dataTransfer.getData('text/plain') )
        await updateLayerProject(layer, project.name)
        $loader = {active: false, message: '', submessage: '', color: 'ui'}
        reload.update(store => store = true)
   }
</script>

<div class="droppable"
    on:dragenter={(e) => e.target.style.background = 'rgba(76, 175, 80, 0.2)'}
    on:dragover={(e) => e.preventDefault()}
    on:dragleave={(e) => e.target.style.background = ''}
    on:drop={(e) => onDrop(e)}
></div>

<style>
    div.droppable{position:absolute;top:0;left:0;bottom:0;right:0;z-index:1;transition:all, 0.3s}
</style>