<script>
    import { current } from 'app/qgisprojects/stores.js'
    import { loader } from 'app/stores.js'
    import { updatePreviews } from 'app/qgisprojects/manager.js'
    import { initModal, initTooltip } from 'app/interactions.js'
    import { onMount } from 'svelte'
	onMount( () => { 
        initModal()
        initTooltip()
    })
    async function update() {
        $loader = { 
            active: true, 
            message: `<b>${project.layers.length} calque(s) à actualiser(s)</b><br>Génération des symboles et des aperçus`,
            submessage: 'Cela peut durer quelques secondes',
            color: 'manager'
        }
        const previews = await updatePreviews(project.name)
        $loader = {active: false, message: '', submessage: '', color: 'ui'}
    }
    export let project
</script>

    <button
        data-position="top" 
        class="tooltipped waves-effect"
        data-tooltip="Actualiser les aperçus" 
        on:click={() => update()}
    >
        <i class="material-icons">loop</i>
    </button>

    <button
        data-position="top" 
        class="tooltipped waves-effect modal-trigger"
        data-target="delete-project" 
        data-tooltip="Supprimer" 
        on:click={(e) => current.update(elem => elem = project)}
    >
        <i class="material-icons delete">delete_forever</i>
    </button>

<style>
    button{height:35px;width:35px;margin-top:2.5px;background:transparent;border-radius:50%;}
    button i{color:#bdbdbd;transition:all, 0.3s;}
    button i:hover{color:#757575;}
    button i.delete:hover{color:#e57373;}
</style>