<script>
    import { afterUpdate } from 'svelte'
    import { sortProjectLayers } from 'app/qgisprojects/manager.js'
    export let layers
    afterUpdate( () => sortProjectLayers() )
</script>

<section class="unselectable sortable-project-layers">
    {#each layers as layer}
        <article class="z-depth-1" data-id={layer.id}>
            <aside>
                <button class="handle waves-effect">
                    <i class="material-icons">drag_handle</i>
                </button>
            </aside>
            {#if layer.preview_url}
                <img alt="layer preview" src="{layer.preview_url}"/>
            {:else}
                <img alt="layer no-preview" src="./img/no-preview-layer.png"/>
            {/if}
            <div>
                <h3>{layer.title}</h3>
                {#if layer.abstract !== null}
                    <p>{layer.abstract}</p>
                {/if}
                {#if layer.source !== null}
                    <span>{layer.source}</span>
                {/if}
            </div>
        </article>
    {/each}
</section>


<style>
    article{padding:10px 40px 10px 0;position:relative;height:170px;max-width:600px;background:#fff;margin-bottom:4px;}
    aside{position:absolute;display:flex;flex-direction:column;justify-content:center;top:0;left:0;bottom:0;right:0;width:30px;background:#fafafa;}
    article img{position:absolute;left:40px;top:10px;bottom:10px;height:150px;}
    article div{margin-left:250px}
    article h3{margin:0 0 3px 0;padding:0;font-size:15px;font-weight:normal;}
    article p{margin:0;padding:0;font-size:11px;}
    article span{margin:0;padding-top:10px;font-size:11px;color:#718792}
    button{height:30px;width:30px;background:transparent;border-radius:50%;}
    button.handle{cursor:move;}
    button.handle:focus{cursor:grabbing;}
    button i{color:#bdbdbd;transition:all, 0.3s;font-size:20px;}
    button i:hover{color:#757575;}
</style>