<script>
    import { getFolderPaths } from 'app/gis/manager.js'
    import { options } from 'app/qgisprojects/stores.js'
    import { initAutocomplete, initFormSelect } from 'app/interactions.js'
    import { onMount } from 'svelte'
    let selected = 5
    onMount( async () => {
        initFormSelect()
        const paths = await getFolderPaths()
        const elem = document.querySelector('.autocomplete') 
        const autoComplete = initAutocomplete(elem, {
            data: paths,
            limit: 5,
            onAutocomplete: (e) => {
                $options.folder_id = parseInt(autoComplete.options.data[e])
            }
        })
    }) 
</script>

<aside>
    <h6>Définir le répertoire des calques</h6>
    <div class="input-field no-image">
        <i class="material-icons prefix">folder_open</i>
        <input type="text" id="folder-paths" spellcheck="false" class="autocomplete">
        <label for="folder-paths">CHEMIN DU REPERTOIRE</label>
    </div>

    <h6>Définir la visibilité des calques</h6>
    <div class="input-field">
        <select bind:value="{$options.role_id}">
            <option value="{parseInt(1)}">Super-admin</option>
            <option value="{parseInt(2)}">Administrateur</option>
            <option value="{parseInt(3)}">Utilisateur</option>
            <option value="{parseInt(4)}" selected="selected">Visiteur</option>
            <option value="{parseInt(5)}">Invité</option>
        </select>
    </div>
</aside>

<style>
    aside{width:450px;margin-bottom:100px;}
    h6{padding-top:20px;margin-bottom:20px;color:#81c784;font-size:14px;font-weight:normal;}
</style>