<script>
    import { initCustomScrollBar } from 'app/interactions.js'
    import { onMount } from 'svelte'
    import { slide } from 'svelte/transition'
    import Droppable from './Droppable.svelte'
    import Options from './Options.svelte'
    import ProjectLayers from './ProjectLayers.svelte'
    export let projects
    onMount( async () => {
        initCustomScrollBar(document.querySelector('.projects-list'), {
            className: 'os-theme-light os-theme-light-custom',
        })
    })
    let current = null
    function filter(value) {

    }
</script>

<div class="input-field">
    <i class="material-icons prefix">search</i>
    <input type="text" placeholder="Chercher un projet" spelcheck="false" on:input={(e) => filter(e.target.value)}>
</div>
<article class="projects-list">
    {#each projects as project}
        <header class:active={project === current} class="unselectable flex waves-effect" on:click={() => current = (project === current) ? null : project}> 
            <Droppable project={project}/>
            <div>
                <i class="material-icons left">publish</i>
                <h2>{project.title} <span>({project.layers.length})</span></h2>
            </div>
            <Options project={project}/>
        </header>
    {/each}
</article>

<aside class="layers">
    {#if current }
        <div in:slide={{ duration: 200 }}>
            <ProjectLayers layers={current.layers} />
        </div>
    {/if}
</aside>

<style>
    .input-field{margin:0;}
    .input-field input{width:250px;margin-left:0;padding-left:35px;}
    article{position:absolute;top:135px;left:85px;bottom:0;width:400px;overflow-y:auto;padding-right:20px;}
    header{position:relative;display:flex;flex-direction:row;width:100%;height:40px;cursor:pointer;list-style-type:none;margin:0 0 2px 0;padding:0 10px;transition:all, 0.6s;border-radius:3px;border-right:4px solid transparent;}
    header.active{border-right:4px solid #a5d6a7;background:#f5f5f5;}
    header:not(.active):hover{background:#fafafa;}
    header div{width:95%;}
    header:hover{background:#f5f5f5;}
    header:last-child{margin-bottom:70px;}
    h2{display:inline-block;line-height:40px;margin:0 0 0 5px;padding:0;height:40px;font-size:14px;font-weight:normal;}
    h2 span{color:#bdbdbd;}
    header i{padding:0;margin:0 5px;font-size:20px;line-height:40px;height:30px;color:#bdbdbd;}
    header i.left{color:#9e9e9e}
    header.active i.left{color:#81c784}
    aside{position:absolute;left:505px;top:0;bottom:0;right:0px;overflow-y:auto;padding:40px 20px;}
</style>