 <script>
    import { loader } from 'app/stores.js'
    import { reload } from 'app/qgisprojects/stores.js'
    import { current } from 'app/qgisprojects/stores.js'
    import { deleteProject } from 'app/qgisprojects/manager.js'

    async function remove() {
        $loader = { 
            active: true, 
            message: `Suppression du projet <br>&laquo;<b> ${$current.title} </b> &raquo; <br>en cours`,
            submessage: '',
            color: 'manager'
        }
        await deleteProject($current)
        $loader = {active: false, message: '', submessage: '', color: 'ui'}
        reload.update(store => store = true)
    }
 </script>

    <div id="delete-project" class="dialog modal">
        {#if typeof $current !== 'undefined'}
        <h1>
            <i class="material-icons left">flag</i>
            Suprression de &laquo;&nbsp;{$current.title}&nbsp;&raquo;
            <button class="grey lighten-4 modal-close"></button>
        </h1>
        <div class="modal-content">
            <p>Voulez-vous vraiment supprimer le projet &laquo;&nbsp;{$current.title}&nbsp;&raquo; de manière définitive ?</p>
            <div class="alert">
                <i class="material-icons">warning</i>
                <p>Tous les calques associés au fichier seront supprimés en cascade.</p>
            </div>
        </div>
        <div class="response modal-footer">
            <button class="option modal-close" on:click={() => remove()}>Supprimer</button>
            <button class="option modal-close">Annuler</button>
        </div>
        {/if}
    </div>

<style>
    .modal-content{padding:20px 40px;}
    .dialog{height:300px;min-width:450px;width:450px;}
</style>







