 <script>
    import { loader } from 'app/stores.js'
    import { deleteDatasources } from 'app/datasources/manager.js'

    async function remove() {
        $loader.active = true
        $loader.message = 'Suppression des bases de données non utilisées'
        const result = await deleteDatasources()
        console.log(result)
        $loader.active = false
        $loader.message = ''
    }
 </script>

    <div id="delete-datasources" class="dialog modal">
        <h1>
            <i class="material-icons left">flag</i>
            Suprression des sources non utilisées
            <button class="grey lighten-4 modal-close"></button>
        </h1>
        <div class="modal-content">
            <p>Suppression des connexions non utilisées par les calques uniquement.</p>
        </div>
        <div class="response modal-footer">
            <button class="option modal-close" on:click={() => remove()}>Supprimer</button>
            <button class="option modal-close">Annuler</button>
        </div>
    </div>

<style>
    .modal-content{padding:20px 40px;}
    .dialog{height:200px;min-width:450px;width:450px;}
</style>







