<script>
    export let datasource
</script>

<table>
    <tbody>
        <tr><td>Provider</td>          <td>{datasource.provider}</td> </tr>
        <tr><td>Host</td>              <td>{datasource.host}</td></tr>
        <tr><td>Port</td>              <td>{datasource.port}</td></tr>
        <tr><td>DB name</td>           <td>{datasource.dbname}</td></tr>
        <tr><td>User</td>              <td>{datasource.user}</td></tr>
        <tr><td>Password</td>          <td>{datasource.password !== null ? '**********' : ''}</td></tr>
        <tr><td>Date de création</td>  <td>{datasource.created_at}</td></tr>
    </tbody>                 
</table>

<style>
    table{white-space:wrap;border:none;border-collapse:collapse;border:1px solid #eeeeee;border-top:none;border-left:3px solid #e8f5e9;background:#fff;}
    tbody tr{border:none;transition:all, 0.2s;background-color:transparent;}
    tbody tr:hover{background-color:#fafafa}
    tbody td{padding:0;height:30px;line-height:30px;text-align:left;border-bottom:1px solid #f5f5f5;padding-left:20px;}
    tbody td:first-child{font-weight:bold;color:#757575}
</style>