@font-face {font-family: "Roboto";src: url('../font/Roboto/Roboto-Regular.ttf');}
@font-face {font-family: "Roboto";font-style: italic;src: url('../font/Roboto/Roboto-Italic.ttf');}
@font-face {font-family: "Roboto";font-weight: bold;src: url('../font/Roboto/Roboto-Bold.ttf');}
@font-face {font-family: "Orbitron";src: url('../font/Orbitron/Orbitron-Regular.ttf');}
@font-face {font-family: "Orbitron";font-weight: bold;src: url('../font/Orbitron/Orbitron-Bold.ttf');}
@font-face{font-family: "Condensed";src: url('../font/OpenSansCondensed/OpenSansCondensed-Light.ttf')};
@font-face{font-family: "Condensed";font-weight: bold;src: url('../font/OpenSansCondensed/OpenSansCondensed-Bold.ttf');}
*{box-sizing:border-box;}
body{margin:0;overflow:hiden;overflow-x:hidden;overflow-y:hidden;font-family:'Roboto';color:#455a64;/*background:#81c784;margin:100px*/}
button{border:none;outline:none;}
button.option{border:1px solid #ffffff;outline:none;width:auto;height:35px;background:#eeeeee;cursor:pointer;transition:all,0.5s;cursor:pointer;margin-right:5px;padding:0 15px;color:#455a64;}
button.option:hover{border:1px solid #0093c4;background:#fafafa;}
button.option:active{background:#eeeeee;}

.material-tooltip {z-index: 2000;opacity: 0;background-color: rgba(28,49,58,0.6);font-size: 0.9em;color:#ffffff;padding:7px 7px;min-height:20px;border:1px solid rgba(255,255,255,.4);}

div.no-preview{background-color:#fafafa;background-position:50% 50%;background-repeat:no-repeat;background-image:url('../img/no_preview.svg');background-size:80%;}

/* BUTTON */
.btn, .btn-large, .btn-small{background-color:#0288d1}
.btn:hover, .btn-large:hover, .btn-small:hover{background-color:#039be5}
.btn:focus, .btn-large:focus, .btn-small:focus{background-color:#0277bd}

/* INPUT TEXT */
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){border-bottom:1px solid #0288d1;box-shadow:0 1px 0 0 #0288d1;}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
	border-bottom: 1px solid #e0e0e0;
}
input[type=text]:not(.browser-default){border-bottom: 1px solid #e0e0e0;}
input[type=text]:not(.browser-default):focus:not([readonly])+label{color:#0288d1}
input[type=text].browser-default{border:1px solid #e0e0e0;outline:none;color:#455a64;display: block;resize: none;padding:10px 5px;background:#ffffff;}
input[type=password]:not(.browser-default):focus:not(.read-only) + label{color:#0288d1;}
input[type=password]:not(.browser-default):focus:not([read-only]){border-bottom: 1px solid #0288d1;box-shadow: 0 1px 0 0 #0288d1;}
.input-field>label:not(.label-icon).active{color:#9e9e9e;}
textarea.materialize-textarea:focus:not([readoonly])+label{color:#0288d1}
textarea.materialize-textarea{border-bottom: 1px solid #e0e0e0;}
/* INPUT FIELD */
.input-field .prefix.active {color:#0288d1}
.input-field .prefix{color:#bdbdbd;}
/* INPUT NUMBER */
input[type=number]:not(.browser-default){border-bottom: 1px solid #e0e0e0;}
input[type=number]:not(.browser-default):focus:not([readonly])+label{color:#0288d1}
input[type=number].browser-default{border:1px solid #e0e0e0;outline:none;color:#455a64;display: block;resize: none;padding:10px 5px;background:#ffffff;}
/* CHECKBOXES */
[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {border: 2px solid #bdbdbd;}
[type="checkbox"]:checked+span:not(.lever):before {border-top: 2px solid transparent;border-left: 2px solid transparent;border-right: 2px solid #81c784;border-bottom: 2px solid #81c784;}
   /* filled-in */ 
[type="checkbox"].filled-in+span:not(.lever):before{border: 2px solid #bdbdbd;}
[type="checkbox"].filled-in:checked+span:not(.lever):before{
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
}
[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after{border:2px solid #bdbdbd;}
[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #0288d1;
    background-color: #0288d1;
}
/* RADIO */
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {background-color: #0288d1;}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {border: 2px solid #0288d1;}
[type="radio"]:not(:checked)+span:before, [type="radio"]:not(:checked)+span:after {border: 2px solid #bdbdbd;}
/* SELECT FORM */
.dropdown-content li>a, .dropdown-content li>span{color:#455a64}
.select-wrapper input.select-dropdown:focus{border-bottom:1px solid #0288d1;}
.select-dropdown li img{object-fit:cover;}
.select-wrapper input.select-dropdown {color:#455a64}
.select-wrapper+label{color:#9e9e9e}

/* RANGE INPUT */
input[type=range] + .thumb{background-color: #455a64;left:200px;}
input[type=range] + .thumb.active .value{color:#ffffff;}   
input[type=range]::-webkit-slider-thumb {background-color:#455a64;}
input[type=range]::-moz-range-thumb {background-color: #455a64;}
input[type=range]::-ms-thumb {background-color:#455a64;}

/* AUTO COMPLETE */
.input-field.no-image .prefix ~ .autocomplete-content li img{display:none;}

/* SWITCHES */
.switch label input[type=checkbox]:checked+.lever:after{background-color: #66bb6a;}
.switch label input[type=checkbox]:checked+.lever{background-color: #c8e6c9;}

/* DIALOGS */ 
/* body{background:rgba(0,0,0,80)} */
/* .dialog{margin:100px;} */
.dialog{position:absolute;background:#ffffff;outline:none;touch-action: none;overflow-y:inherit !important;border-radius:2px 2px 2px 2px;}
.dialog .response{background:transparent;position:absolute;right:0;bottom:0;padding:10px;height:60px;}
.dialog h1{display:block;width:100%;height:25px;background-color:#f5f5f5;margin:0;padding:0;text-align:left;padding-left:5px;line-height:25px;color:#455a64;border-radius:2px 2px 0 0;background-repeat:no-repeat;background-position:8px 50%;background-size:15px;font-size:14px;}
.dialog h1 i{color:#718792;font-size:20px;line-height:25px;margin-right:5px;}
.dialog h1 button{float:right;height:15px;width:15px;margin:5px 5px;outline:none;border:none;background-repeat:no-repeat;background-position:50% 50%;background-size:13px;background-image:url('../img/delete_e57373.svg')}
.dialog .alert{display:flex;flex-direction:row;border:1px solid #e57373;background:#ffebee;color:#e57373;border-radius:4px;}
.dialog .alert i{background:#e57373;color:#ffebee;padding:10px 5px;}
.dialog .alert p{padding:10px;margin:0;}

/* DATATABLE */
.dataTable-input{position:absolute;z-index:5;top:-30px;left:12px;height:25px;border:1px solid #e0e0e0;border-radius:2px;padding:4px 8px;font-size:14px;outline:none;width:230px;}
.dataTable-input:focus{border:1px solid #a5d6a7;}
.dataTable-top{height:0;padding:0;}
.dataTable-bottom{padding:4px 10px 0 10px;height:24px;}
.dataTable-bottom .dataTable-info{margin:0;}

.dataTable-pagination a{border:1px solid transparent;float:left;margin-left:2px;padding:0;height:20px;width:25px;line-height:20px;text-align:center;position:relative;text-decoration:none;color:#455a64;transition:all,0.3s;}
.dataTable-pagination li.pager a{font-size:15px;line-height:18px;}
.dataTable-pagination li a:hover{background:#eee;}
.dataTable-pagination li.active a{color:#fff;background:#455a64}
.dataTable-pagination li.active a:hover{color:#fff;background:#455a64}

::selection{background-color: #3498db;color: white;}
::-moz-selection {background-color: #3498db;color: white;}
::-webkit-input-placeholder {color: #bdbdbd;/* Edge */}
:-ms-input-placeholder {color: #bdbdbd;/* Internet Explorer 10-11 */}
::placeholder {color: #bdbdbd;}

.loader {border: 3px solid #81c784;border-top: 3px solid #eeeeee;border-bottom: 3px solid #eeeeee;border-radius: 50%;width: 30px;height: 30px;animation: spin 0.3s linear infinite;}
@keyframes spin {0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); }}

/* OVERLAY-SCROLLBAR */
.os-theme-light-custom>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle{background:#e0e0e0;}
.os-theme-light-custom>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle:hover{background:#bdbdbd;}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {-webkit-box-shadow: 0 2px 2px 0 rgba(189,189,189, 0.14), 0 3px 1px -2px rgba(189,189,189, 0.12), 0 1px 5px 0 rgba(189,189,189, 0.2);box-shadow: 0 2px 2px 0 rgba(189,189,189, 0.14), 0 3px 1px -2px rgba(189,189,189, 0.12), 0 1px 5px 0 rgba(189,189,189, 0.2);}
.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-small:hover, .btn-floating:hover {-webkit-box-shadow: 0 3px 3px 0 rgba(189,189,189, 0.14), 0 1px 7px 0 rgba(189,189,189, 0.12), 0 3px 1px -1px rgba(189,189,189, 0.2);box-shadow: 0 3px 3px 0 rgba(189,189,189, 0.14), 0 1px 7px 0 rgba(189,189,189, 0.12), 0 3px 1px -1px rgba(189,189,189, 0.2);}
.z-depth-2 {-webkit-box-shadow: 0 4px 5px 0 rgba(189,189,189, 0.14), 0 1px 10px 0 rgba(189,189,189, 0.12), 0 2px 4px -1px rgba(189,189,189, 0.3);box-shadow: 0 4px 5px 0 rgba(189,189,189, 0.14), 0 1px 10px 0 rgba(189,189,189, 0.12), 0 2px 4px -1px rgba(189,189,189, 0.3);}
.z-depth-3 {-webkit-box-shadow: 0 8px 17px 2px rgba(189,189,189, 0.14), 0 3px 14px 2px rgba(189,189,189, 0.12), 0 5px 5px -3px rgba(189,189,189, 0.2);box-shadow: 0 8px 17px 2px rgba(189,189,189, 0.14), 0 3px 14px 2px rgba(189,189,189, 0.12), 0 5px 5px -3px rgba(189,189,189, 0.2);}
.z-depth-4 {-webkit-box-shadow: 0 16px 24px 2px rgba(189,189,189, 0.14), 0 6px 30px 5px rgba(189,189,189, 0.12), 0 8px 10px -7px rgba(189,189,189, 0.2);box-shadow: 0 16px 24px 2px rgba(189,189,189, 0.14), 0 6px 30px 5px rgba(189,189,189, 0.12), 0 8px 10px -7px rgba(189,189,189, 0.2);}
.z-depth-5, .modal {-webkit-box-shadow: 0 24px 38px 3px rgba(189,189,189, 0.14), 0 9px 46px 8px rgba(189,189,189, 0.12), 0 11px 15px -7px rgba(189,189,189, 0.2);box-shadow: 0 24px 38px 3px rgba(189,189,189, 0.14), 0 9px 46px 8px rgba(189,189,189, 0.12), 0 11px 15px -7px rgba(189,189,189, 0.2);}

.fadein{-webkit-animation:opac 0.8s;animation:opac 0.8s}
@-webkit-keyframes opac{from{opacity:0} to{opacity:1}}
@keyframes opac{from{opacity:0} to{opacity:1}}

.unselectable{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.anim_bottom{position:relative;-webkit-animation:animatebottom 0.4s;animation:animatebottom 0.4s}
@-webkit-keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0px;opacity:1}}
