.ol-box{box-sizing:border-box;border-radius:2px;border:2px solid #00f}
.ol-mouse-position{top:8px;right:8px;position:absolute}
.ol-scale-line{background:rgba(28,49,58,0.6);bottom:8px;left:8px;padding:6px;position:absolute;font-family:'Roboto';border:2px solid rgba(255,255,255,.7);border-radius:2px;}
.ol-scale-line-inner{border:2px solid #ffffff;border-top:none;border-radius:2px;color:#ffffff;font-size:11px;font-weight:bold;text-align:center;margin:0px;padding:2px;will-change:contents,width}
.ol-overlay-container{will-change:left,right,top,bottom}
.ol-unsupported{display:none}
.ol-unselectable,.ol-viewport{-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:transparent}
.ol-selectable{-webkit-touch-callout:default;-webkit-user-select:auto;-moz-user-select:auto;-ms-user-select:auto;user-select:auto}
.ol-grabbing{cursor:-webkit-grabbing;cursor:-moz-grabbing;cursor:grabbing}
.ol-grab{cursor:move;cursor:-webkit-grab;cursor:-moz-grab;cursor:grab}
.ol-control{position:absolute;background-color:rgba(255,255,255,.4);border-radius:2px;padding:2px}
.ol-control:hover{background-color:rgba(255,255,255,.6)}
.ol-zoom{top:.5em;right:.5em;transition:all, 0.3s;}
.ol-rotate{top:.5em;right:2.4em;transition:opacity .25s linear,visibility 0s linear}
.ol-rotate.ol-hidden{opacity:0;visibility:hidden;transition:opacity .25s linear,visibility 0s linear .25s}
.ol-zoom-extent{top:4.643em;left:.5em}
.ol-full-screen{right:.5em;top:.5em}
@media print{.ol-control{display:none}
}
.ol-control button{display:block;margin:1px;padding:0;color:#fff;font-size:1.14em;font-weight:700;text-decoration:none;text-align:center;height:1.375em;width:1.375em;line-height:.4em;background-color:rgba(28,49,58,0.6);border:none;border-radius:2px;outline:none;cursor:pointer;}
.ol-control button::-moz-focus-inner{border:none;padding:0}
.ol-zoom-extent button{line-height:1.4em}
.ol-compass{display:block;font-weight:400;font-size:1.2em;will-change:transform}
.ol-touch .ol-control button{font-size:1.5em}
.ol-touch .ol-zoom-extent{top:5.5em;}
.ol-control button:hover{text-decoration:none;background-color:rgba(28,49,58,0.6)}
.ol-zoom .ol-zoom-in{border-radius:2px 2px 0 0;transition:all, 0.3s;}
.ol-zoom .ol-zoom-out{border-radius:0 0 2px 2px;transition:all, 0.3s;}
.ol-zoom .ol-zoom-in:hover{background-color:rgba(28,49,58,0.7);}
.ol-zoom .ol-zoom-out:hover{background-color:rgba(28,49,58,0.7);}
.ol-zoom .ol-zoom-in:active{background-color:rgba(28,49,58,0.6);}
.ol-zoom .ol-zoom-out:active{background-color:rgba(28,49,58,0.6);}
.ol-attribution{text-align:right;bottom:.5em;right:.5em;max-width:calc(100% - 1.3em);z-index:2;cursor:default;padding:2px}
.ol-attribution ul{margin:0;padding:0 4px;text-shadow:0 0 2px #fff;}
.ol-attribution li{display:inline;list-style:none;color:#455a64;font-size:12px;}
.ol-attribution li a{padding:0;margin:0;}
.ol-attribution li:not(:last-child):after{content:" "}
.ol-attribution img{max-height:2em;max-width:inherit;vertical-align:middle}
.ol-attribution button,.ol-attribution ul{display:inline-block;outline:none;}
.ol-attribution.ol-collapsed ul{display:none}
.ol-attribution.ol-logo-only ul{display:block}
.ol-attribution:not(.ol-collapsed){background:rgba(255,255,255,.8)}
.ol-attribution.ol-uncollapsible{bottom:0;right:0;border-radius:4px 0 0;height:1.1em;line-height:1em}
.ol-attribution.ol-logo-only{background:0 0;bottom:.4em;height:1.1em;line-height:1em}
.ol-attribution.ol-uncollapsible img{margin-top:-.2em;max-height:1.6em}
.ol-attribution.ol-logo-only button,.ol-attribution.ol-uncollapsible button{display:none}
.ol-zoomslider{top:4.5em;left:.5em;height:200px}
.ol-zoomslider button{position:relative;height:10px}
.ol-touch .ol-zoomslider{top:5.5em}
.ol-overviewmap{right:.5em;bottom:.5em;}
.ol-overviewmap.ol-uncollapsible{bottom:0;left:0;border-radius:0 4px 0 0;}
.ol-overviewmap .ol-overviewmap-map{height:150px;margin:2px;width:200px;}
.ol-overviewmap:not(.ol-collapsed) button{display:none;}
.ol-overviewmap:not(.ol-collapsed){background:rgba(255,255,255,.8);}
.ol-overviewmap-box{border:2px solid #f44336;}
.ol-overviewmap .ol-overviewmap-box:hover{cursor:move}
.ol-dragzoom{border:3px dashed #7f8c8d;}

.tooltip {position: relative;background: rgba(0, 0, 0, 0.5);border-radius: 4px;color: white;padding: 4px 8px;opacity: 0.7;white-space: nowrap;}
.tooltip-measure {opacity: 1;font-weight: bold;}
.tooltip-static {background-color: #ffcc33;color: black;border: 1px solid white;}
.tooltip-measure:before,
.tooltip-static:before {border-top: 6px solid rgba(0, 0, 0, 0.5);border-right: 6px solid transparent;border-left: 6px solid transparent;content: "";position: absolute;bottom: -6px;margin-left: -7px;left: 50%;}
.tooltip-static:before {border-top-color: #ffcc33;} 
.ol-customtitle {position:absolute;background-color:rgba(255,255,255,.4);border-radius:4px;padding:3px;top: .5em; left: 50%;margin-left:-25px;transform: translate(-50%, -0%);}
.ol-customtitle h1{margin:10px;text-align:center;font-size:1em;height:25px;line-height:1.2em;font-family:'Roboto';padding:3px 14px;color:#f5f5f5;background:rgba(28,49,58,0.6);margin:0;display:float;}
.ol-custom-mouse-position{text-align:left;}

#canvas.navigate:hover{cursor:grab;cursor:-webkit-grab;}
#canvas.navigate:active{cursor:grabbing;cursor:-webkit-grabbing;}
#canvas.pointer:hover{cursor:help;}
#canvas.zoomin:hover{cursor:zoom-in;}
#canvas.zoomin:active{cursor:crosshair;}
#canvas.distance:hover{cursor:crosshair;}
#canvas.area:hover{cursor:crosshair;}
#canvas.rotate:hover{cursor:move;}