@font-face {font-family: "Roboto";src: url('../font/Roboto/Roboto-Regular.ttf');}
@font-face {font-family: "Roboto";font-style: italic;src: url('../font/Roboto/Roboto-Italic.ttf');}
@font-face {font-family: "Roboto";font-weight: bold;src: url('../font/Roboto/Roboto-Bold.ttf');}
@font-face {font-family: "Orbitron";src: url('../font/Orbitron/Orbitron-Regular.ttf');}
@font-face {font-family: "Orbitron";font-weight: bold;src: url('../font/Orbitron/Orbitron-Bold.ttf');}
@font-face{font-family: "Lato";src: url('../font/Lato/Lato-Regular.ttf')};
@font-face{font-family: "Lato";font-weight: bold;src: url('../font/Lato/Lato-Bold.ttf');}
nav{position:relative;z-index:1000;border-bottom:1px solid #f5f5f5;}
.brand-logo{color:#455a64;height:100%;}
.brand-logo span{font-weight:normal;font-family:'Roboto';background: linear-gradient(to top, #e1f5fe 100%, #e1f5fe 10%, transparent 10.01%) no-repeat left bottom / 100% 45%;}
.brand-logo div{color:#455a64;padding-left:55px;padding-top:13px;font-family:Orbitron;font-weight:bold;text-align:left;font-size:0.65em;line-height:1em;}
.brand-logo img{max-width:50px;margin-top:7px;}
nav ul li a{color:#455a64;}
nav ul li a:hover{background:transparent;}
.gitlab-nav img{display:block;height:24px;margin:20px auto;}

.parallax img{opacity:0.7 !important;}
.section i{color:#ffe082;}
.sidenav-trigger i{ color: #9e9e9e; }
#nav-mobile li{width:100%;}
#nav-mobile li.user-view{height:70px;}
#nav-mobile li.user-view{height:70px;color:#455a64;font-family:'Orbitron';font-size:2rem;}
ul.hide-on-med-and-down li:hover:not(.active){background:#f5f5f5;}
ul.hide-on-med-and-down li.active{background:#fff;border-bottom:4px solid #81c784;height:64px;}
.icon-block img{width:4rem;}
#dev-app h1,
#dev-app h5,
#dev-app h6
{text-shadow: 2px 2px 0 #e1f5fe, 2px -2px 0 #e1f5fe, -2px 2px 0 #e1f5fe, -2px -2px 0 #e1f5fe, 2px 0px 0 #e1f5fe, 0px 2px 0 #e1f5fe, -2px 0px 0 #e1f5fe, 0px -2px 0 #e1f5fe, -1px 0px 5px rgba(236,239,241,0);}
.parallax img{opacity:0.7 !important;}
.section i{color:#f8c291;}


 p {line-height: 2rem;}
.parallax-container {min-height: 420px;line-height: 0;height: auto;color: rgba(255,255,255,.9);}
.parallax-container.bottom{min-height: 380px;}
.parallax-container .section {width: 100%;}
@media only screen and (max-width : 992px) {
    .parallax-container .section {position: absolute;top: 40%;}
    #index-banner .section {top: 10%;}
}
@media only screen and (max-width : 600px) {
    #index-banner .section {top: 0;}
}
.icon-block {padding: 0 15px;}
.icon-block .material-icons {font-size: inherit;}
footer.page-footer {margin: 0;}

#about h2{font-family:'Lato';font-size:1.8em;}
#about ul li{padding-left:5%;}
#about p{text-align:justify;}
#about h3{font-family:'Lato';font-size:1.4em;color:#1c313a;}
#about b{color:#1c313a;}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {-webkit-box-shadow: 0 2px 2px 0 rgba(189,189,189, 0.14), 0 3px 1px -2px rgba(189,189,189, 0.12), 0 1px 5px 0 rgba(189,189,189, 0.2);box-shadow: 0 2px 2px 0 rgba(189,189,189, 0.14), 0 3px 1px -2px rgba(189,189,189, 0.12), 0 1px 5px 0 rgba(189,189,189, 0.2);}
.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-small:hover, .btn-floating:hover {-webkit-box-shadow: 0 3px 3px 0 rgba(189,189,189, 0.14), 0 1px 7px 0 rgba(189,189,189, 0.12), 0 3px 1px -1px rgba(189,189,189, 0.2);box-shadow: 0 3px 3px 0 rgba(189,189,189, 0.14), 0 1px 7px 0 rgba(189,189,189, 0.12), 0 3px 1px -1px rgba(189,189,189, 0.2);}
.z-depth-2 {-webkit-box-shadow: 0 4px 5px 0 rgba(189,189,189, 0.14), 0 1px 10px 0 rgba(189,189,189, 0.12), 0 2px 4px -1px rgba(189,189,189, 0.3);box-shadow: 0 4px 5px 0 rgba(189,189,189, 0.14), 0 1px 10px 0 rgba(189,189,189, 0.12), 0 2px 4px -1px rgba(189,189,189, 0.3);}
.z-depth-3 {-webkit-box-shadow: 0 8px 17px 2px rgba(189,189,189, 0.14), 0 3px 14px 2px rgba(189,189,189, 0.12), 0 5px 5px -3px rgba(189,189,189, 0.2);box-shadow: 0 8px 17px 2px rgba(189,189,189, 0.14), 0 3px 14px 2px rgba(189,189,189, 0.12), 0 5px 5px -3px rgba(189,189,189, 0.2);}
.z-depth-4 {-webkit-box-shadow: 0 16px 24px 2px rgba(189,189,189, 0.14), 0 6px 30px 5px rgba(189,189,189, 0.12), 0 8px 10px -7px rgba(189,189,189, 0.2);box-shadow: 0 16px 24px 2px rgba(189,189,189, 0.14), 0 6px 30px 5px rgba(189,189,189, 0.12), 0 8px 10px -7px rgba(189,189,189, 0.2);}
.z-depth-5, .modal {-webkit-box-shadow: 0 24px 38px 3px rgba(189,189,189, 0.14), 0 9px 46px 8px rgba(189,189,189, 0.12), 0 11px 15px -7px rgba(189,189,189, 0.2);box-shadow: 0 24px 38px 3px rgba(189,189,189, 0.14), 0 9px 46px 8px rgba(189,189,189, 0.12), 0 11px 15px -7px rgba(189,189,189, 0.2);}
