<script>
	import { afterUpdate } from 'svelte'
	import Table from './Table.svelte'
	export let layer
	export let uuid
	let id = uuid
	let filter = layer.filter
	let promise = layer.getDatatable()
	afterUpdate( () => {
		if (uuid !== id || layer.filter !== filter) {
			promise =  layer.getDatatable()
			id = uuid
			filter = layer.filter
		}
	})
	function updateDatatable() {
		promise = layer.getDatatable(true)
	}
</script> 

<section class="datatable">
	<aside>
		<button class="option waves-effect" on:click={() => updateDatatable()}>
			<i class="material-icons left center">zoom_in</i>
			Filtrer sur l'étendue
		</button>	
		<button class="option waves-effect modal-trigger" data-target="filter-layer" on:click={() => layer.makeAvailableInStore(uuid)}>
			<i class="material-icons left center">filter_list</i>
			Filtrer
		</button>	
		<button class="option waves-effect modal-trigger" data-target="extract-layer" on:click={() => layer.makeAvailableInStore(uuid)}>
			<i class="material-icons left center">file_download</i>
			Exporter
		</button>
	</aside>

	{#await promise}
		<div class="loader"></div>
	{:then table}
		<Table table={table} layer={layer}/>
	{/await}
</section>

<style>
    section{position:absolute;top:0;left:0;right:0;bottom:0;background:transparent;}
	aside{position:absolute;z-index:99;top:0px;right:90px;}
	button{border:none;outline:none;height:25px;background:#fafafa;color:#708690;padding:0 5px;margin:0;font-size:13px;line-height:25px;}
    button:hover{background:#fafafa;color:#0288d1;border:none;}
	button:active{background:#f5f5f5;}
	button i{padding:0;margin:0;line-height:28px;font-size:16px;color:#bdbdbd;transition:all,0.5s;}
	button:hover i{color:#0288d1}
	.loader{margin:80px auto;height:80px;width:80px;}
</style>