<script>
    import { displayed } from 'app/stores.js'
    import { initCustomScrollBar } from 'app/interactions.js'
    import Datatable from 'app/layers/datatable.js'
    import { onMount, afterUpdate } from 'svelte'
    export let table
    export let layer
    let datatable
    onMount( () => {
        datatable = new Datatable(layer)
        datatable.addEvents()
        initCustomScrollBar(document.querySelector('.dataTable-container'))
    })
    
    afterUpdate( () => {
        let coefficient = ($displayed.footer.size === '33.333vh') ? 0.33333 : 0.9
        datatable.updateSize(coefficient)
    })
</script>

<div></div>
<section>
    {#if table.length === 0}
		<h4>Aucune entité géographique</h4>
	{:else}
        <table class="striped" id="simple-datatable">
            <thead>
                <tr  class="z-depth-1">
                    <th class="action"></th>
                    {#each table.columns as column}
                        {#if column.value !== 'ID'}
                            <th>{column.value} <i>{column.unit ? `(${column.unit})` : ''}</i></th>
                        {/if}
                    {/each}
                </tr>
            </thead>
            <tbody>
                {#each table.rows as row}
                    <tr class:active={row.active}>
                        <td class="action">
                            <label>
                                <input type="checkbox" class="filled-in select-entity" data-id={row['ID']}/>
                                <span></span>
                            </label>
                            <button type="submit" class="zoomin btn waves-effect z-depth-0 focus-entity" data-id={row['ID']}>
                                <i class="material-icons center" data-id={row['ID']}>zoom_in</i>
                            </button>
                        </td>
                        {#each Object.entries(row) as cell}
                            {#if cell[0] !== 'ID'}
                                <td>{cell[1] ? cell[1] : ''}</td>
                            {/if}
                        {/each}
                    </tr>
                {/each}
            </tbody>
        </table>
    {/if}
</section>

<style>
    div{position:absolute;top:32px;left:0;height:3px;right:0;z-index:2;background:#fff}
    section{position:absolute;top:35px;left:0;bottom:30px;right:0;font-size:12px;}
    table{border:none;border-collapse:collapse;}
    tbody tr{border:none;transition:all, 0.2s;background-color:transparent;}
    tbody tr:hover{background-color:rgba(110, 255, 211, 0.3)}
    tbody tr.active{background-color:#6effd3}
    thead th{padding:0;height:25px;line-height:25px;text-align:center;border-bottom:1px solid #eee;color:#455a64;min-width:40px;}
    thead th:nth-child(2){max-width:90px;}
    th i{color:#718792;font-size:10px;font-style:normal;}
    tbody td{padding:0;height:30px;line-height:30px;text-align:center;border-bottom:1px solid #f5f5f5;}
    thead th.action{width:70px;border:none;}
    tbody td.action{height:30.4px;display:flex;flex-direction:row;justify-content:space-between;padding:2px 5px;background:#ffffff;border:none;border-right:1px solid #eee}
    td.action label{margin:4px;}
    td.action span{padding:0 15px 0 0;}
    /* td.numeric{color:#263238} */
    /* td.numeric i{color:#4f5b62;} */
    button.zoomin{height:26px;width:26px;background:#fafafa;border:1px solid #eee;outline:none;cursor:pointer;padding:0;margin:1px 2px}
    button i{color:#9e9e9e;transition:all, 0.1s;font-size:20px;line-height:20px;width:100%;text-align:center;}
    button:hover i{color:#2dcba2;}
    [type="checkbox"].filled-in:checked+span:not(.lever):after {border: 1px solid #2dcba2;background-color: #6effd3;}
    [type="checkbox"].filled-in:checked+span:not(.lever):before{border-right: 2px solid #2dcba2;border-bottom: 2px solid #2dcba2;}
    [type="checkbox"].filled-in:not(:checked)+span:not(.lever):after{border:2px solid #bdbdbd;}
</style>