<script>
	import { canvas } from 'app/stores.js'
    import {location} from 'svelte-spa-router'
	import { geocoder as store } from 'app/geocoder/stores.js'
	import { fly } from 'svelte/transition'
	import Geocoder from 'app/geocoder/geocoder.js'
	import LocationResults from './LocationResults.svelte'
	const geocoder = new Geocoder( 'GEOCODER_FILTER' )
	let locations = []
	async function search(query) {
		if (query.length >= 3) {
			$store.locations = await geocoder.getLocations(query)
			if ('GEOCODER_API_URL' !== 'false') {
				$store.locations = $store.locations.concat( await geocoder.getLocationsFromAdditionalAPI(query) )
			}
		}else{
			$store.locations = []
		}
	}
</script>

{#if $location === '/map'}
	<section transition:fly={{ y:-50, duration: 200}}>
		<i class="material-icons search">search</i>
		<input 
			type="search" 
			spellcheck="false" 
			class="browser-default" 
			on:input={e => search(e.target.value)} 
			placeholder={$store.content.result}
			value={$store.content.result}
		/>
		<button class="waves-effect waves-light" on:click={() => geocoder.relocate()}>
			<i class="material-icons target">my_location</i>
		</button>
	</section>
	{#if $store.locations.length > 0}
		<LocationResults locations={$store.locations} geocoder={geocoder}/>
	{/if}
{/if}

<style>
	section{position:fixed;left:45px;top:7.5px;height:30px;width:300px;display:flex;flex-direction:row;background:#fafafa;border:1px solid #e0e0e0;border-radius:2px 0 0 0;}
    i.search{width:30px;height:28px;line-height:30px;text-align:center;color:#cfcfcf}
    input{width:238px;border:none;outline:none;font-size:16px;color:#455a64;background:transparent;}
	button{width:30px;height:30px;margin:-1px 0;border:none;outline:none;border-radius:0 2px 2px 0;cursor:pointer;background-color:#455a64;transition:0.3s;}
	i.target{height:30px;line-height:28px;color:#a5d6a7;font-size:18px;text-align:center;margin:0;padding:0;}
</style>