<script>
    import { geocoder as store } from 'app/geocoder/stores.js'
    export let geocoder
    export let locations = []

	function locate(location){
        geocoder.setOverlay(location)
		locations = []
	}
</script>
<div class="list">
    <table>
        {#each locations as location}
            <tr on:click={() => locate(location)}>
                <td><b>{location.result}</b><br>{location.context}</td>
                <td style="width:70px;"><i>{location.type}</i></td>
            </tr>
        {/each}
    </table>
</div>

<style>
	.list{z-index:10000;position:fixed;top:45px;left:45px;width:330px;background:#ffffff;border-top:1px solid #eeeeee;box-shadow: 0 10px 20px rgba(189,189,189,0.19), 0 6px 6px rgba(189,189,189,0.23);padding:0;}

	table{cursor:pointer;border-collapse: collapse;margin:auto;}
	table tr{font-size:0.85em;color:#455a64;transition:all, 0.2s;border-bottom:1px solid #eeeeee;}
	table tr:hover{background:#f5f5f5;}
	table td{padding:5px 15px;}
	table td i{font-size:0.8em;}
	/* table td em{font-size:0.65em;color:#718792;}    */
</style>