<script>
    import { canvas, settings } from 'app/stores.js'
    import {location, push} from 'svelte-spa-router'
    import { initModal, initTooltip } from 'app/interactions.js'
    import { displayPortals } from 'app/display.js'
    import { afterUpdate } from 'svelte'
    import { fly } from 'svelte/transition'
	afterUpdate( () => { 
        initModal()
        initTooltip() 
    })
</script>

{#if $location === '/map'}
    <aside transition:fly={{ y:-50, duration: 200}}>
        <button 
            data-position="bottom" 
            class="tooltipped focusout waves-effect" 
            data-tooltip="Étendue par défaut" 
            on:click={e => $canvas.fit( $settings.extent )}
        ></button>
        <button 
            data-position="bottom" 
            class="tooltipped addlayer modal-trigger waves-effect" 
            data-target="addlayer" 
            data-tooltip="Ajouter un calque"
        ></button>
    </aside>
{/if}

{#if $location === '/portals' || $location === '/map'}
    <button 
        transition:fly={{ y:-50, duration: 200}}
        data-position="bottom" 
        class="tooltipped portal waves-effect" 
        data-tooltip="Accéder aux cartes"
        class:active={$location.indexOf('portals') !== -1} on:click={e => displayPortals()}
        on:click={() => push($location === '/portals' ? '/map' : '/portals')}
    ></button>
{/if}

<style>
    button{height:45px;width:45px;border:none;margin-top:0;background-color:transparent;background-position:50% 50%;background-size:25px; background-repeat:no-repeat;outline:none;}
    button:hover{cursor:pointer;background-color:#f5f5f5;transition:0.3s;}
    button:active{background-color:#f5f5f5;}
    .focusout{background-image:url('./img/icon/focusout.svg');}
    .addlayer{background-image:url('./img/icon/addlayer.svg');background-size:33px;}
    .portal{background-image:url('./img/icon/portal.svg');background-size:30px;border-bottom:3px solid transparent;}
    .portal:hover{border-bottom:3px solid #eeeeee;}
    .portal.active{border-bottom:3px solid #fbc02d;background-color:#eeeeee;}
</style>