<script>
    import { managerPage } from 'app/stores.js'
    import { user } from 'auth/stores.js'
    import {location} from 'svelte-spa-router'
</script>

{#if $user.role_id <= 2 && $location !== '/portals'}
    <a class="waves-effect" href="#{$managerPage.location}">
        <i class="material-icons grey-text text-lighten-1">menu</i>
    </a>
{/if}

<style>
    a{display:block;position:absolute;transition:.2s;top:5px;left:5px;width:35px;height:35px;text-align:center;padding:0;background:#ffffff;border-radius:50%;cursor:pointer;}
    a i{line-height:35px;}
    a:hover{background:#f5f5f5}
</style>