<script>
    import { user } from 'auth/stores.js'
    import { afterUpdate } from 'svelte'
    import { initDropdown } from 'app/interactions.js'
    import { setPrintView } from 'app/display.js'
    import { createPermalink } from 'app/maps/permalink.js'
	afterUpdate( () => { initDropdown({coverTrigger: false, alignment: 'right'}) })
</script>

<button class='tools waves-effect btn dropdown-trigger' data-target='tools'>
    <i class="material-icons blue-grey-text text-darken-2">settings</i>
</button>
<ul id="tools" class="dropdown-content" >
    <li class="modal-trigger" data-target="permalink" on:click={() => createPermalink()}>
        <i class="material-icons left">link</i>
        URL de la carte (permalien)...
        <span class="shortcut">Ctrl + Alt + p</span>
    </li>
    {#if $user.role_id <= 3}
    <li class="modal-trigger" data-target="savemap">
        <i class="material-icons left">save</i>
        Sauvegarder dans Mes cartes...
        <span class="shortcut">Ctrl + Alt + s</span>
    </li>
    {/if}
    <li class="divider"></li>
    <li on:click={() => setPrintView()}>
        <i class="material-icons left">print</i>
        Imprimer la carte...
        <span class="shortcut">Ctrl + Alt + i</span>
    </li>
    {#if $user.role_id <= 2}
    <li class="modal-trigger" data-target="export-qgis">
        <i class="material-icons left">file_download</i>
        Exporter la carte...
        <span class="shortcut">Ctrl + Alt + e</span>
    </li>
    {/if}
    <li class="divider"></li>
    <!-- <li>
        <i class="material-icons left">info_outline</i>
        Guide utilisateur <em style="color:#e75353">(non disponible)</em>
    </li> -->
    <li>
        <a target="_blank" href="../docs">
        <i class="material-icons left">description</i>
        Documentation API
        </a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="{`RESOURCES_URL`}">
        <i class="material-icons left">apps</i>
        Retour à l'accueil
        </a>
    </li>
</ul>

<style>
    button{display:block;height:45px;background-color:#ffffff;}
    button i{line-height:45px;}
    .btn:focus{background-color:#ffffff;}
    button:hover{background-color:#f5f5f5;}
    button.tools:active{background-color:#eeeeee ;}
    ul{position:absolute;top:45px !important;min-width:350px;}
    ul li i{font-size:20px;line-height:35px;color:#718792;margin:0 15px;}
    ul a{text-decoration:none;color:#455a64;padding:0;margin:0;line-height:35px;font-size:13px;}
    ul span.shortcut{color:#bdbdbd;float:right;font-family:'Condensed';font-size:13px;font-style:normal;margin:0;padding:0 15px;line-height:35px;height:35px;}
    ul li:not(.divider){min-height:35px;height:35px;line-height:35px;font-size:13px;color:#455a64;text-align:left;vertical-align:middle;}
    ul li.divider{height:1px;}
</style>