<script>
    import { displayed, canvas, settings } from 'app/stores.js'
    import PointerOverlay from './canvas/PointerOverlay.svelte'
    import LocationOverlay from './canvas/LocationOverlay.svelte'
    import MousePosition from './canvas/MousePosition.svelte'
    import MapTitle from './canvas/MapTitle.svelte'
    import PrintItems from './canvas/PrintItems.svelte'
    import { onMount } from 'svelte'
    onMount(() => {
        $canvas.map.setTarget( document.querySelector('#map') )
        let observer = new MutationObserver( mutations => {
            mutations.forEach( mutationRecord => {
                $canvas.map.updateSize()
                // setTimeout(() => { map.updateSize() }, 200)  
            })    
        })
        $canvas.fit($settings.extent)
        let target = document.getElementById('canvas')
        observer.observe(target, { attributes : true, attributeFilter : ['style'] })
    })
</script>

<section id="canvas" class="{$displayed.canvas.cursor}" style="margin-left:{$displayed.canvas.left};margin-bottom:{$displayed.canvas.bottom}">
    <div id="map" class="map">
        <PointerOverlay/>
        <LocationOverlay/>
        <MousePosition/>
        <MapTitle/>
        {#if $displayed.printer.active}
            <PrintItems/>
        {/if}
    </div>
</section>

<style>
    #canvas{position:fixed;top:45px;left:45px;right:0;bottom:0;background:#fff;}
    #canvas .map{position:relative;height:100%;width:100%;}
</style>