<script>
    import { settings } from 'app/stores.js'
    import AccountButton from 'auth/AccountButton.svelte'
    import Account from 'auth/Account.svelte'
    import OpenManager from './header/OpenManager.svelte'
    import Location from './header/Location.svelte'
    import Nav from './header/Nav.svelte'
    import Tools from './header/Tools.svelte'
</script>

<header>
    <OpenManager/>
    <Location/>
    <main>
        <section>
            <Nav/>
        </section>
        <a href="{'RESOURCES_URL'}"><button data-position="bottom" class="module tooltipped waves-effect" data-tooltip="Retour à l'accueil"></button></a>
        <AccountButton header={'45px'}/>
        <Tools/>    
    </main>
    <h1>
        <span>{ $settings.name ? $settings.name : 'Sigapp' }</span>
    </h1>
</header>
<Account header={'45px'}/>

<style>
    header {position:absolute;top:0;left:0px;right:0;height:45px;z-index:700;border:none;box-shadow: 0 1px 3px rgba(189,189,189,0.12), 0 1px 2px rgba(189,189,189,0.24);background-color:#ffffff;border-bottom:1px solid #eee;}
    header main{position:absolute;top:0;right:0;display:flex;flex-direction:row;justify-content:flex-end;min-width:50%;}
    header h1{margin:0 auto;width:250px;font-size:0.90em;margin-top:10px;line-height:1.6em;color:#455a64;font-weight:bold;text-align:center;}
    header h1 span{padding:0 5px;background: linear-gradient(to top, #e1f5fe 100%, #e1f5fe 20%, transparent 10.01%) no-repeat left bottom / 100% 45%;}
    section{display:flex;justify-content: flex-end;flex-direction:row;height:45px;margin-right:10px;}
    button{height:45px;width:45px;border:none;margin-top:0;background-color:transparent;background-position:50% 50%;background-size:25px; background-repeat:no-repeat;outline:none;}
    button:hover{cursor:pointer;background-color:#f5f5f5;transition:0.3s;}
    button:active{background-color:#f5f5f5;}
    .module{background-image:url('./img/icon/module.svg');background-size:25px;}
</style>