<script>
    import { loader } from 'app/stores.js'
    import { fade } from 'svelte/transition'
</script>

{#if $loader.active}
    <section transition:fade class="{$loader.color}">
        <h1>{@html $loader.message}</h1>
        {#if $loader.link}
            <a on:click={() => $loader = {active: false, message: '', submessage: '', link: false, color: 'ui'}} 
                href="{$loader.link}" 
                target="_blank"
            >{@html $loader.submessage}</a>
        {:else if $loader.error}
            <b>Une erreur est survenue</b>
            <pre>{$loader.error}</pre>
            <button on:click={() => $loader = {active: false, message: '', submessage: '', error: null, color: 'ui'}}>
                Terminer
            </button>
        {:else}
            <p>{@html $loader.submessage}</p>
            <div class="loader"></div>
        {/if}
    </section>
{/if}

<style>
    section{position:fixed;z-index:99999;top:0;left:0;bottom:0;right:0;background:rgba(255,255,255,0.9);}
    h1{color:#0288d1;text-align:center;font-size:22px;max-width:700px;margin:150px auto 20px auto;line-height:35px;}
    p{text-align:center;color:#0288d1;}
    a{display:block;color:#43a047;text-decoration:underline;cursor:pointer;transition:all,0.3s;text-align:center;font-weight:bold;}
    a:hover{color:#2e7d32;}
    .loader{margin:80px auto;height:100px;width:100px;}
    section.ui h1{color:#0288d1;}
    section.ui p{color:#0288d1;}
    section.ui .loader{border: 3px solid #0288d1;border-top: 3px solid #eeeeee;border-bottom: 3px solid #eeeeee;}
    section.manager h1{color:#4caf50;}
    section.manager p{color:#4caf50;}
    section.manager .loader{border: 3px solid #4caf50;border-top: 3px solid #eeeeee;border-bottom: 3px solid #eeeeee;}
</style>