<script>
    import { displayed, canvas, map } from 'app/stores.js'
    import PrintItems from './canvas/PrintItems.svelte'
    import { onMount } from 'svelte'
    if (typeof $map.print === 'undefined') {
        $map.print = {active: true, legend: false, title: '', logo: false, width: '800px', height: '600px'}
    } 
    else {
        switch ($map.print.dimensions) {
            case 'A4':
                $map.print.width = '297mm'
                $map.print.height = '210mm'
                break
            case 'A3':
                $map.print.width = '420mm'
                $map.print.height = '297mm'
                break
            default:
                $map.print.width = '297mm'
                $map.print.height = '210mm'
        }
        $map.canvas = null
    }
    $displayed.printer = $map.print
    onMount(() => {
        $canvas.map.setTarget( document.querySelector('#map') )
        $canvas.fitToMapSettings( $map )
        if ($map.canvas === null) {
            $canvas.map.getView().setZoom( $canvas.map.getView().getZoom() + 1 )
        }
        document.querySelector('.ol-zoom').style.display = 'none'
    })
</script>

<section id="canvas" style="width:{$map.print.width};height:{$map.print.height}">
    <div id="map">
        <PrintItems/>
    </div>
</section>

<style>
    #canvas{margin:0 auto;}
    #map{height:100%;width:100%;position:relative;}
</style>