<script>
    import { fade } from 'svelte/transition'
    export let message = ''
    export let submessage = ''
</script>

<section transition:fade={{ duration: 150 }}>
    <h1 class="message">{message}</h1>
    <p class="submessage">{submessage}</p>
    <div class="wait"><span></span><span></span><span></span></div>
</section>

<style>
    section{position:fixed;top:0px;left:0px;right:0px;bottom:0px;background:rgba(255, 255, 255, 0.9);z-index:99999;}
    section .message{margin:100px auto 0 auto;font-family:'Roboto';color:#0288d1;font-size:25px;text-align:center;font-weight:400;}
    section .submessage{margin:10px auto;font-family:'Roboto';color:#0288d1;font-size:15px;text-align:center;}
    section .wait{display:block;width:110px;margin:0 auto;}
    section .wait span{display: inline-block;width:20px;height:20px;border-radius:100%;background-color:#0288d1;margin:35px 5px;opacity: 0;}
    section .wait span:nth-child(1){animation: opacitychange 1s ease-in-out infinite;}
    section .wait span:nth-child(2){animation: opacitychange 1s ease-in-out 0.33s infinite;}
    section .wait span:nth-child(3){animation: opacitychange 1s ease-in-out 0.66s infinite;}
    @keyframes opacitychange{0%, 100%{opacity: 0;}60%{opacity: 1;}}
</style>