 <script>
    import { loader } from 'app/stores.js'
    import { current } from 'app/maps/stores.js'
    import { deleteMap, updatePortal } from 'app/maps/manager.js'

    async function remove() {
        $loader.active = true
        $loader.message = `Suppression de la carte &laquo;<b> ${$current.title} </b>&raquo;`
        await deleteMap($current)
        $loader.message = 'Mise à jour du protail'
        await updatePortal($current.portal_id)
        $loader.message = ''
        $loader.active = false
    }
 </script>

    <div id="delete-map-portal" class="dialog modal">
        {#if typeof $current !== 'undefined'}
        <h1>
            <i class="material-icons left">flag</i>
            Suprression de &laquo;&nbsp;{$current.title}&nbsp;&raquo;
            <button class="grey lighten-4 modal-close"></button>
        </h1>
        <div class="modal-content">
            <p>Voulez-vous vraiment supprimer la carte &laquo;&nbsp;{$current.title}&nbsp;&raquo; de manière définitive ?</p>
        </div>
        <div class="response modal-footer">
            <button class="option modal-close" on:click={() => remove()}>Supprimer</button>
            <button class="option modal-close">Annuler</button>
        </div>
        {/if}
    </div>

<style>
    .modal-content{padding:20px 40px;}
    .dialog{height:200px;min-width:450px;width:450px;}
</style>







