<script>
    import { exportMap } from 'app/maps/manager.js'
    async function exportToQgis() {
        const file = await exportMap(title, inExtent)
        console.log(file)
    }
    let title
    let inExtent = true
</script>

<div id="export-qgis" class="dialog modal">
	<aside>
		<h1>
            <i class="material-icons left">file_download</i>
            Exporter la carte
            <button class="grey lighten-4 modal-close"></button>
        </h1>

        <section class="flex">
            <div class="input-field">
                <i class="material-icons prefix">map</i>
                <input id="qgis-title" type="text" bind:value={title}>
                <label for="qgis-title">Nom du fichier</label>
            </div>
            <label>
                <input type="checkbox" class="filled-in" bind:checked={inExtent} />
                <span style="font-size:12px">Exporter uniquement les entités visibles sur la carte</span>
            </label>
            <div class="description">
                <img src="./img/glyph/qgis_color.svg" alt="Qgis logo"/>
                Les paramètres de la carte et les sources de données sont exportées dans une archive contenant :
                <ul>
                    <li>Un fichier <b>projet Qgis</b> (.qgs)</li>
                    <li>Les couches au format <b>GeoJson</b> dans <i>./datasource</i></li>
                </ul>
                <span class="success">Les couches et leur style sont chargées automatiquement par QGIS après décompression de l'archive.</span>
                <span>La carte peut être utilisée indépendament d'une connexion au réseau et à l'application.</span>
                <span>Compatible QGIS 2.18 LTR et QGIS 3.4 LTR</span>
                <span class="danger">Le fond de carte n'est pas exporté.</span>
            </div>
        </section>
        
		<div class="response modal-footer">
            <button class="option modal-close" on:click={e => exportToQgis()}>Exporter</button>
			<button class="option modal-close">Fermer</button>
		</div>
	</aside>
</div>

<style>
    .dialog{height:560px;min-width:500px;width:500px;}
    section{padding:20px;}
    img{width:40px;height:40px;float:left;margin-right:10px;}
    .description{background:#fafafa;padding:25px;line-height:20px;font-size:15px;text-align:justify;}
    .description li{margin-left:30px;list-style-type:square}
    .description span{display:block;}
    .description span.danger{color:#e57373}
    .description span.success{color:#66bb6a}
</style>