<script>
    import { loader, layer, canvas } from 'app/stores.js'
    import { extractLayer } from 'app/layers/manager.js'
    const formats = [
        {name: 'xlsx', title: 'Excel', img: './img/glyph/excel.svg'},
        {name: 'shp', title: 'Shapefile', img: './img/glyph/shapefile.svg'},
        {name: 'geojson', title: 'Geojson', img: './img/glyph/geojson.svg'},
    ]
    let current = formats[0]
    let inExtent = true
    async function extract() {
        $loader.active = true
        $loader.message = `Export du calque &laquo;<b> ${$layer.title} </b>&raquo; au format ${current.title}`
        const extent = inExtent ? $canvas.getExtent() : []
        const dump = await extractLayer($layer, current.name, extent)
        $loader.message = '<b>EXPORT TERMINÉ</b>'
        $loader.link = dump.file
        $loader.submessage = 'Télécharger le fichier'
    }
</script>

<div id="extract-layer" class="dialog modal">
	<h1>
		<i class="material-icons left">file_download</i>
		Exporter - {$layer.title} 
		<button class="grey lighten-4 modal-close"></button>
	</h1>
    <aside>
        <label>Choisir le format de sortie :</label>
        <ul>
            {#each formats as format}
                <li 
                    class:active={current === format}
                    style="background-image:url('{format.img}')"
                    on:click={() => current = format}
                >{format.title}</li>
            {/each}
        </ul>
        <label>
            <input type="checkbox" class="filled-in" bind:checked={inExtent} />
            <span style="font-size:12px">Exporter uniquement les entités visibles sur la carte</span>
        </label>
    </aside>
	<div class="response modal-footer">
		<button class="option modal-close" on:click={() => extract()}>Exporter</button>
		<button class="option modal-close">Annuler</button>
	</div>
</div>

<style>
    div.dialog{height:400px;min-height:400px;min-width:430px;width:430px;}
    label{display:block;text-align:left;color:#718792;font-size:0.8em;margin:20px auto 5px auto;width:85%;}
    ul{margin:0 auto 20px auto;width:85%;height:200px;border:1px solid #eeeeee;background:#fafafa;list-style-type:none;padding:10px;}
    ul li{padding:5px;cursor:pointer;transition:all,0.3s;padding-left:50px;background-position:10px 50%;background-repeat:no-repeat;background-size:25px;margin-bottom:5px}
    ul li:hover{background-color:#f5f5f5;}
    ul li.active{background-color:#eeeeee;}
</style>