<script>
	import { filter } from './filter/stores.js'
	import { layer } from 'app/stores.js'
	import Columns from './filter/Columns.svelte'
	import Operators from './filter/Operators.svelte'
	import Values from './filter/Values.svelte'
	import Expression from './filter/Expression.svelte'
</script>

<div id="filter-layer" class="dialog modal">
	{#if $layer}
		<h1>
			<i class="material-icons left">filter_list</i>
			Filtrer - {$layer.title} 
			<button class="grey lighten-4 modal-close"></button>
		</h1>
		<section>
			<Columns/>
			<div class="flex">
				<Operators/>
				<Values/>
			</div>
			<Expression/>
		</section>
		<div class="response modal-footer">
			<button class="option modal-close" on:click={() => $layer.setFilter($filter.expression)}>Filtrer</button>
			<button class="option modal-close">Annuler</button>
		</div>
	{/if}
</div>

<style>
	div.dialog{height:540px;min-height:540px;min-width:470px;width:470px;}
	section{padding:10px 20px;}
	.flex{display:flex;flex-direction:row;}
</style>