<script>
	import { gis } from 'app/stores.js'
	import { selectedLayer } from './gis/stores.js'
	import { addLayers } from 'app/maps/maplayers.js'
	import Nav from './gis/Nav.svelte'
	function add() {
		addLayers($selectedLayer)
		selectedLayer.update(store => store = [])
	}
</script>

<div id="addlayer" class="dialog unselectable modal"> 
	<aside>
		<h1>
			<i class="material-icons left">library_add</i>
			Ajouter un calque
			<button class="grey lighten-4 modal-close"></button>
		</h1>
		<div class="modal-content">
			{#if $gis.catalog}
				<Nav gis={$gis}/>
			{/if}
		</div>
		<div class="response modal-footer">
			<button class="option modal-close" on:click={() => add()}>Ajouter</button>
			<button class="option modal-close">Annuler</button>
		</div>
	</aside>
</div>

<style>
	div.dialog{height:550px;min-height:550px;min-width:750px;width:750px;}
	div.modal-content{height:525px;position:relative;}
</style>