<script>
    import { permalink } from 'app/stores.js'
    import { afterUpdate } from 'svelte'
    function copyToClipBoard() {
        let select = document.querySelector('#permalink input').select()
        document.execCommand("copy")
    }
</script>

<div id="permalink" class="dialog modal">
    <aside>
        <h1>
            <i class="material-icons left">link</i>
            Lien permanent de la carte
            <button class="grey lighten-4 modal-close"></button>
        </h1>
        <section class="flex">
            <input type="text" class="browser-default" value="{$permalink}" spellcheck="false"/>
            <button class="option" on:click={e => copyToClipBoard() }>Copier !</button>
        </section>
        <div class="response modal-footer">
            <button class="option modal-close">Fermer</button>
        </div>
    </aside>
</div>

<style>
    .dialog{height:180px;min-width:530px;width:530px;}
    section{padding:30px;}
    .flex{display:flex;flex-direction:row;justify-content:left;}
    input.browser-default{color:#0288d1;text-decoration:underline;border-right:none;width:380px;padding-left:10px;}
    button.option{width:80px;font-size:13px;height:40px;border:1px solid #eeeeee;}
    button.option:hover{border:1px solid #0288d1;}
</style>