<script>
    import { portals, loader } from 'app/stores.js'
    import { user } from 'auth/stores.js'
    import { getMap } from 'app/maps/maplayers.js'
    import { saveMap, updateMapPreview, updatePortal } from 'app/maps/manager.js'
    import { onMount } from 'svelte'
    import { initCharacterCounter } from 'app/interactions.js'
    let title
    let abstract
    let portalId = $portals.find(portal => portal.owner === true).id
    onMount( () => {
        initCharacterCounter()
    })
    async function save() {
        const map = getMap()
        map.title = title
        map.abstract = abstract
        map.portal_id = portalId
        $loader.active = true
        $loader.message = `Création de la carte &laquo;<b> ${title} </b>&raquo;`
        const result = await saveMap(map)
        $loader.message = `Génération de aperçu`
        await updateMapPreview(result)
        $loader.message = `Mise à jour du portail`
        await updatePortal(portalId)
        $loader.active = false
        $loader.message = ''
    }
</script>

<div id="savemap" class="dialog modal">
	<aside>
		<h1>
            <i class="material-icons left">save</i>
            Sauvegarder la carte
            <button class="grey lighten-4 modal-close"></button>
        </h1>

        <section class="modal-content">
            <div class="input-field">
                <i class="material-icons prefix">title</i>
                <input id="title" type="text" bind:value={title}>
                <label for="title">Titre de la carte</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">description</i>
                <textarea id="abstract" class="materialize-textarea" data-length="150" bind:value={abstract}></textarea>
                <label for="abstract">Description</label>
            </div>
            {#if $user.role_id <= 2}
                <label class="blue-grey-text text-darken-2">Sélectionner le portail :</label>
                <div class="flex">
                    {#each $portals as portal}
                        <label on:click={() => portalId = portal.id}> 
                            <input class="with-gap" name="portal" type="radio"  checked={portalId}/>
                            <span>{portal.title}</span>
                        </label>
                    {/each}
                </div>
            {/if}
        </section>
        
		<div class="response modal-footer">
			<button class="option modal-close" on:click={() => save()}>Enregistrer</button>
			<button class="option modal-close">Annuler</button>
		</div>
	</aside>
</div>

<style>
    .dialog{min-height:400px;min-width:450px;width:450px;}
    section{padding:20px;padding-right:30px;}
    .flex{display:flex;flex-direction:row;justify-content:left;margin-top:5px;flex-wrap:wrap;}
    .flex label{margin:2px;padding:3px 8px 3px 4px;border:1px solid #eeeeee;border-radius:3px;}
    .flex span{padding:0 0 0 27px;}
    label{font-size:15px;}
</style>