<script>
	// import { content } from 'app/stores.js'
	// import { login } from 'app/user.js'
	import { slide } from 'svelte/transition'
	// const register = SELF_REGISTRATION
	let form = {login: '', password:'', remember: false}
	let error = ''
	const connect = async (form) => {
		error = await login(form)
		if (typeof error === 'string' && error.length > 0) {
        	form.password = ''
		}
	}
</script>

<section class="anim_bottom">
	<form>  
		{#if error.length > 0}
			<div class="message" on:click={() => error = ''} in:slide>{error}</div>
		{/if}
		<div class="input-field">
			<i class="material-icons prefix">person</i>
			<input id="icon_login" type="text" class="field" spellcheck="false" bind:value={form.login}/>
			<label for="icon_login">Identifant</label>
		</div>
		<div class="input-field">
			<i class="material-icons prefix">lock</i>
			<input id="icon_password" type="password" class="field" bind:value={form.password}/>
			<label for="icon_password">Mot de passe</label>
		</div>
		<div class="checkbox-field">
			<label>
				<input type="checkbox" bind:checked={form.remember}/>
				<span>Se souvenir de moi</span>
			</label>	
		</div>
		<button class="btn waves-effect grey lighten-5" type="submit" on:click|preventDefault={() => connect(form)}>
			Se connecter
			<i class="tall material-icons right">chevron_right</i>
		</button>
	</form>
</section>

<style>
	section{border-radius:4px;width:500px;margin:100px auto 0 auto;background-color: #ffffff;overflow: hidden;padding:2% 2%;box-shadow: 0 10px 20px rgba(189,189,189,0.19), 0 6px 6px rgba(189,189,189,0.23);}

	button.btn{display:block;background: #fafafa;color:#0288d1;margin:40px auto 20px auto;text-align:center;width:70%;border:0;border-radius:3px;font-size:18px;height:60px;box-shadow: 0 3px 6px rgba(189,189,189,0.12), 0 3px 6px rgba(189,189,189,0.24);}
	.btn:focus{background:#f5f5f5;}
	.input-field{width:85%;margin:25px auto;}
	.checkbox-field{width:82%;margin:20px auto;}
	div.message{color:#e57373;border:1px solid #ffcdd2;background:#ffebee;margin:0 auto 20px auto;width:90%;text-align:center;padding:10px;border-radius:4px;}
</style>