<script>
    import { settings } from 'app/stores.js'
    const redirect = 'HOME_URL'
</script>

<section>
    <a href="{redirect}">
    <img alt="logo" src="{$settings.logo ? $settings.logo : './assets/img/logo.png'}"/>
    <div>{$settings.name ? $settings.name : 'Geolab'}<br>
        <span>{$settings.subhead ? $settings.subhead : 'auth'}</span>
    </div>
    </a>
</section>


<style>
    section{position:fixed;left:60px;top:140px;width:180px;padding:1px;}
    img{width:100%;}
    div{width:100%;font-family:Orbitron;font-weight:bold;text-align:center;font-size:0.95em;font-size:18px;line-height:15px;color:#455a64;}
    span{font-weight:normal;font-family:'Roboto';font-size:15px;background: linear-gradient(to top, #e1f5fe 100%, #e1f5fe 10%, transparent 10.01%) no-repeat left bottom / 100% 45%;color:#757575;}
</style>