<script>
    // import Fetch from '../Fetch.svelte'
    import { onMount } from 'svelte'
    let data = []
    onMount(async () => {
        const response = await fetch('QGIS_SERVER_URL' + 'SERVICE=WMS&VERSION=1.3.0&REQUEST=GetCapabilities')
            .then(response => response.text())
        data = response.replace(/&/g, "&amp;")
            .replace(/</g, "&lt;")
            .replace(/>/g, "&gt;")
            .replace(/"/g, "&quot;")
            .replace(/'/g, "&#039;")
    })
</script>

<pre>
    <code class="xml">
        {@html data}
    </code>
</pre>

<style>

</style>