<script>
    import { geocoder } from 'app/geocoder/stores.js'
    function removeOverlay() {
        $geocoder.overlay.setPosition(undefined)
        $geocoder.active = false
        geocoder.update(store => store = $geocoder)
    }
</script>

    <section id="location-overlay" class:hide={!$geocoder.active}>
        {#if $geocoder.active}
            <button class="waves-effect" on:click={() => removeOverlay()}>
                <i class="material-icons center">close</i>
            </button>
            <article>
                <b>{$geocoder.content.result}</b><br>
                {$geocoder.content.context}<br>
                <i>{$geocoder.content.type}</i>
            </article>
        {/if}
    </section>

<style>
    .hide{display:none}
    section{position:absolute;background-color:rgba(69,90,100,0.9);padding:10px;border:1px solid #ecf0f1;bottom:12px;left:-50px;min-width:200px;width:auto;min-height:70px;box-shadow: 0 3px 6px rgba(224,224,224,0.16), 0 3px 6px rgba(224,224,224,0.23);transition:all, 0.3s;border-radius:4px;cursor:default;}
    section:after{top: 100%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;}
    section:after {border-top-color: rgba(69,90,100,0.8);border-width: 10px;left: 48px;margin-left: -10px;}
    button{text-decoration:none;z-index:1;position:absolute;top:0;right:0;width:25px;height:25px;outline:none;background:transparent;margin:0;padding:0;}
    button i{color:#e57373;font-size:22px;line-height:25px;margin:0;padding:0;transition:all,0.3s;}
    button:hover i{color:#ef5350;}
    article{color:#fff8e1;font-size:13px;}
    b{font-size:13px;color:#ffd54f;}
    i{font-size:11px;color:#ffe0b2;}
</style>

