<script>
    import { displayed, contexts } from 'app/stores.js'
    import { afterUpdate } from 'svelte'
    let control = null
    afterUpdate(() => {
        control = $contexts.find(item => item.name === 'title').control
    })
    
</script>
<aside id="map-title" class="ol-customtitle" class:visible={control}>
    <h1>{$displayed.portals.map}</h1>
</aside>


<style>
    aside.visible{display:block;}
    aside{display:none}
</style>