<script>
    import { contexts, canvas } from 'app/stores.js'
    import { afterUpdate } from 'svelte'
    let control = null
    let zoom = $canvas.map.getView().getZoom()
    $canvas.map.on("moveend", function(){
        zoom = $canvas.map.getView().getZoom()
    })
    afterUpdate(() => {
        control = $contexts.find(item => item.name === 'annotation').control
    })
</script>

<section id="mouse-position" class:visible={control}>
    <div class="flex">
        <span class="zoom">Zoom : <b>{zoom}</b></span>
        <span class="position">Position : <b></b></span>
    </div>
</section>

<style>
    section.visible{display:block;}
    section{display:none;position:absolute;z-index:9;background-color:rgba(255,255,255,.4);border-radius:4px;padding:3px;bottom: .5em; left: 50%;margin-left:-160px;cursor:default;width:320px;height:32px;}
    section div.flex{display:flex;flex-direction:row;text-align:center;font-size:1em;height:25px;line-height:25px;font-family:'Roboto';padding:0 14px;color:#f5f5f5;background:rgba(28,49,58,0.6);margin:0;}
    section .flex span{margin:0 5px;} 
    section .flex span.zoom{margin-right:15px;} 
    section .flex span b{font-weight:bold;color:#fbc02d;line-height:1.1em;text-align:left;} 
    section .flex span.position b{display:inline-block;min-width:120px;} 
</style>