<script>
    export let content
</script>

    {#if content}
        <table class="striped anim_opacity">
            <tbody>
            {#each Object.entries(content.properties) as keyval}
                <tr>
                    <td><strong class='key'>{keyval[0]}&nbsp;:&nbsp;&nbsp;</strong>{keyval[1]}</td>
                </tr>
            {/each}
            </tbody>
        </table>
    {:else}
        <p>Aucune entité selectionnée</p>
    {/if}

    <style>
        table{font-family:'Roboto';position:relative;font-size:12px;color:#455a64;border-collapse:collapse;max-width:250px;}
        table td{white-space:nowrap;padding:0 10px;height:22px;line-height:2022pxpx;}
        p{color:#0288d1;text-align:center;padding-right:10px;font-size:15px;min-width:150px;}
        table .key{font-weight:bold;display:inline-block;margin:0;color:#1c313a;}
        /* table .value{display:inline-block;margin:0;} */
        /* article td{white-space:nowrap;}
        article .key{font-weight:bold;display:inline-block;margin:0;color:#1c313a;}
        article .value{display:inline-block;margin:0;} */
    </style>