<script>
    import { pointer, tools } from 'app/stores.js'
    import PointerOverlayContent from './PointerOverlayContent.svelte'
</script>

<section id="pointer-overlay" class:active={$pointer.active}>
    {#if $pointer.promise}
        {#await $pointer.promise}
            <div class="loader"></div>
        {:then feature}
            <button class="waves-effect" on:click={() => $tools.pointer.close()}>
                <i class="material-icons center">close</i>
            </button>
            <PointerOverlayContent content={feature}/>
        {/await}
    {/if}
</section>


<style>
    section.active{display:block;}
    section{display:none;position:absolute;background-color:rgba(255,255,255,0.9);padding:10px 10px;border:1px solid #ecf0f1;bottom:12px;left:-50px;min-width:70px;width:auto;min-height:70px;box-shadow: 0 3px 6px rgba(224,224,224,0.16), 0 3px 6px rgba(224,224,224,0.23);transition:all, 0.3s;border-radius:4px;cursor:default;}
    section:after{top: 100%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;}
    section:after {border-top-color: rgba(255,255,255,0.8);border-width: 10px;left: 48px;margin-left: -10px;}
    button{text-decoration:none;z-index:1;position:absolute;top:0;right:0;width:32px;height:32px;outline:none;background:rgba(255,255,255,0.2);margin:0;padding:0;}
    button i{color:#e57373;font-size:27px;line-height:32px;margin:0;padding:0;transition:all,0.3s;}
    button:hover i{color:#ef5350;}
    section .loader{margin:auto;}
    .loader{height:50px;width:50px;}
</style>

