<script>
    import { displayed, maplayers, settings } from 'app/stores.js'
    import { afterUpdate } from 'svelte'
    afterUpdate( () => maplayers.update(store => store = $maplayers))
</script>

{#if $displayed.printer.logo}
    <img class="logo" alt="logo" src="{$settings.logo ? $settings.logo : './img/default-logo.svg'}"/>
{/if}

{#if $displayed.printer.title.length > 1}
    <div class="title">
        <button>{$displayed.printer.title}</button>
    </div>
{/if}

{#if $displayed.printer.legend && $maplayers.length > 0}
	<section class="unselectable">
        {#each $maplayers as layer}
            {#if layer.visible && layer.symbol_type === 'single'}
                <aside class="single">
                    <img alt="layer symbol" src="{layer.symbol_url}"/>
                    <h5>{layer.title}</h5>
                </aside>
	        {:else if layer.visible}
                <aside class="categorized">
                    <h5>{layer.title}</h5>
                    <img alt="layer symbol" src="{layer.symbol_url}"/>
                </aside>
	        {/if}
        {/each}
	</section>
{/if}

<style>
    section{z-index:1;position:absolute;bottom:2%;left:1.5%;padding:1%;max-width:20%;background:#ffffff;border:1px solid #eeeeee;z-index:2;border-radius:20px 20px 0 20px;}
    .single{display:flex;flex-direction:row;align-items:center;border:none;border-collapse:collapse;margin:2px 0;}
    .single img{padding-left:5px;max-width:40px;}
    h5{font-size:13px;color:#455a64;}
    .single h5{margin:.1% 0 0 0;font-weight:normal;color:#000a12}
    .categorized h5{margin:10px 3px 3px 3px;font-weight:bold;}
    aside.categorized{margin-bottom:0.2cm;}
    aside.categorized img{padding-left:10px}
    img.logo{z-index:1;position:absolute;top:2%;left:1.5%;width:10%;cursor:move;}
    div.title{position:absolute;left:50%;top:1.5%;z-index:2;padding:0.4%;transform: translate(-50%, -0%);background-color:rgba(255,255,255,.4);border-radius:4px;padding:3px;word-wrap:nowrap;}
    div.title button{display:inline-block;font-family:'Roboto';margin:0;color:#455a64;font-weight:bold;text-align:center;font-size:88%;background:#ffffff;cursor:move;border:none;outline:none;word-wrap:nowrap;padding:4%;} 
</style>