<script>
    export let errors
</script>

<ul>
    {#if errors.includes('empty')}
        <li>les champs marqués d'un astérisque sont obligatoires</li>
    {/if}
    {#if errors.includes('unique_login')}
        <li>L'identifiant est déjà enregistré pour un autre utilisateur</li>
    {/if}
    {#if errors.includes('unique_email')}
        <li>L'adresse email est déjà enregistrée pour un autre utilisateur</li>
    {/if}
    {#if errors.includes('valid_email')}
        <li>L'adresse email n'est pas valide</li>
    {/if}
    {#if errors.includes('password_verify')}
        <li>Ancien mot de passe erroné</li>
    {/if}
    {#if errors.includes('password_confirm')}
        <li>Les nouveaux mots de passe ne sont pas identiques</li>
    {/if}
</ul>

<style>
    ul{margin:0;}
</style>