<script>
    import { page } from 'auth/stores.js'
</script>

    <button class="waves-effect" on:click={() => $page = 'show'}>
        RETOUR
        <i class="material-icons left">chevron_left</i>
    </button>
    
<style>
    button{position:absolute;top:40px;left:0;right:0;background: #fff;color:#0288d1;margin:0;padding:0 10px;text-align:left;width:100%;border:0;font-size:16px;height:45px;line-height:45px;}
    button i{line-height:45px;font-size:30px;}
    button:hover{background-color:#fdfdfd}
</style>