<script>
    import { page } from 'auth/stores.js'
    import { updateAccountPassword } from 'auth/account.js'
    import { slide, fade } from 'svelte/transition'
    import Nav from './Nav.svelte'
    import Errors from './Errors.svelte'
    export let user
    let form = {login: user.login, email: user.email, password_verify: '', password: '', password_confirm: ''}
    let errors = false
    async function save() {
        errors = await updateAccountPassword(form)
        form.password_verify = ''
        form.password = ''
        form.password_confirm = ''
        if (errors.length === 0) {
           $page = 'show'
        }
    }
</script>

<Nav/>

<section in:fade={{ duration: 300 }}>
    {#if errors}
        <div class="message" in:slide on:click={() => errors = false}>
            <Errors errors={errors}/>
        </div>
    {/if}
    <form>
        <div class="input-field">
            <input placeholder="" id="user-password_verify" type="password" bind:value={form.password_verify} autocomplete="current-password">
            <label for="account-password_verify" class="active">MOT DE PASSE ACTUEL *</label>
        </div>
        <div class="input-field">
            <input placeholder="" id="user-password" type="password" bind:value={form.password} autocomplete="new-password">
            <label for="account-password" class="active">NOUVEAU MOT DE PASSE *</label>
        </div>
        <div class="input-field">
            <input placeholder="" id="user-password_confirm" type="password" bind:value={form.password_confirm} autocomplete="new-password">
            <label for="account-password_confirm" class="active">CONFIRMER LE NOUVEAU MOT DE PASSE *</label>
        </div>
        <button class="btn-large waves-effect z-depth-1" on:click|preventDefault={() => save()}>
            ENREGISTRER
            <i class="material-icons left">save</i>
        </button>
    </form>
</section>

<style>
    section{position:absolute;top:95px;left:0;bottom:0;right:0;overflow-y:auto;padding:10px 30px;}
    button{display:block;background: #fafafa;color:#0288d1;margin:10px auto;text-align:left;width:80%;border:0;border-radius:3px;font-size:18px;height:60px;line-height:60px;}
    button i{line-height:60px;font-size:30px;}
	button:focus{background:#f5f5f5;}
    button:hover{background-color:#fff}
    div.message{color:#e57373;border:1px solid #ffcdd2;font-size:12px;background:#ffebee;margin:0 auto 20px auto;width:100%;text-align:center;padding:5px;border-radius:4px;}
    input[type=password]:not(.browser-default):focus:not([readonly])+label{color:#0288d1}
</style>