<script>
    import { page } from 'auth/stores.js'
    import { fade } from 'svelte/transition'
    import { getIntlRelativeTimeFormat } from 'app/dates.js'
    export let user
</script>

<section in:fade={{ duration: 300 }}>
    <article>
        <i class="material-icons">person</i>
        <div>
            <h1>{user.firstname} {user.name}</h1>
            <span>{user.email}</span>
            <b>{user.role_id <= 2 ? 'Administrateur' : 'Utilisateur'}</b>
        </div>
    </article>
    <ul>
        <li>Identifiant : <span>{user.login}</span></li>
        <li>Email : <span>{user.email}</span></li>
        <li>Fonction : <span>{user.office ? user.office : 'non renseigné'}</span></li>
        <li>Groupe : <span><i>{user.group ? user.group.name : 'aucun'}</i></span></li>
        <li>Inscription : <span>{getIntlRelativeTimeFormat(user.created_at)}</span></li>
    </ul>
    <button class="btn-large waves-effect z-depth-1" on:click={() => $page = 'update'}>
        MODIFIER MON COMPTE
        <i class="material-icons left">edit</i>
    </button>
    <button class="btn-large waves-effect z-depth-1" on:click={() => $page =  'password'}>
        MODIFIER MON MOT DE PASSE
        <i class="material-icons left">lock</i>
    </button>
    <button class="btn-large waves-effect z-depth-1 delete" on:click={() => $page = 'delete'}>
        SUPPRIMER MON COMPTE
        <i class="material-icons left">delete_forever</i>
    </button>
</section>

<style>
    section{padding:20px;}
    article{display:flex;flex-direction:row;align-items:top;}
    article i{margin:0 10px 0 0;width:80px;height:90px;color:#757575;text-align:center;font-size:60px;line-height:90px;background:#e1f5fe;border-radius:4px;}
    article div{display:inline-block;}
    h1{font-size:17px;margin:0;padding:0;font-weight:400;}
    article span{display:block;color:#9e9e9e;font-size:14px;padding-top:5px;}
    article b{display:block;font-size:13px;padding-top:5px;font-weight:400;color:#757575;}
    li{height:35px;line-height:35px;border-bottom:1px solid #eee;color:#718792;font-size:14px;}
    li span{color:#455a64;}
    button{background: #fafafa;color:#0288d1;margin:5px auto;text-align:left;width:100%;border:0;border-radius:3px;font-size:14px;height:35px;line-height:35px;}
    button.delete{color:#e57373}
    button i{line-height:35px;font-size:20px;}
	button:focus{background:#f5f5f5;}
    button:hover{background-color:#fff}
</style>