<script>
    import { page } from 'auth/stores.js'
    import { updateAccount } from 'auth/account.js'
    import { slide, fade } from 'svelte/transition'
    import Nav from './Nav.svelte'
    import Errors from './Errors.svelte'
    export let user
    let errors = false
    async function save() {
        errors = await updateAccount(user)
        if (errors.length === 0) {
           $page = 'show'
        }
    }
</script>

<Nav/>

<section in:fade={{ duration: 300 }}>
    {#if errors}
        <div class="message" in:slide on:click={() => errors = false}>
            <Errors errors={errors}/>
        </div>
    {/if}
    <div class="input-field">
        <input placeholder="" id="account-login" type="text" spellcheck="false" bind:value={user.login}>
        <label for="account-login" class="active">IDENTIFIANT *</label>
    </div>
    <div class="input-field">
        <input placeholder="" id="account-email" type="text" spellcheck="false" bind:value={user.email}>
        <label for="account-email" class="active">EMAIL *</label>
    </div>
    <div class="input-field">
        <input placeholder="" id="account-name" type="text" spellcheck="false" bind:value={user.name}>
        <label for="account-name" class="active">NOM *</label>
    </div>
    <div class="input-field">
        <input placeholder="" id="account-firstname" type="text" spellcheck="false" bind:value={user.firstname}>
        <label for="account-firstname" class="active">PRENOM *</label>
    </div>
    <div class="input-field">
        <input placeholder="" id="account-office" type="text" spellcheck="false" bind:value={user.office}>
        <label for="account-office" class="active">FONCTION</label>
    </div>
    <button class="btn-large waves-effect z-depth-1" on:click={() => save()}>
        ENREGISTRER
        <i class="material-icons left">save</i>
    </button>
</section>

<style>
    section{position:absolute;top:95px;left:0;bottom:0;right:0;overflow-y:auto;padding:10px 30px;}
    button{display:block;background: #fafafa;color:#0288d1;margin:10px auto;text-align:left;width:80%;border:0;border-radius:3px;font-size:18px;height:60px;line-height:60px;}
    button i{line-height:60px;font-size:30px;}
	button:focus{background:#f5f5f5;}
    button:hover{background-color:#fff}
    div.message{color:#e57373;border:1px solid #ffcdd2;font-size:12px;background:#ffebee;margin:0 auto 20px auto;width:100%;text-align:center;padding:5px;border-radius:4px;}
</style>