<script>
	import Bootstrap from 'app/bootstrap.js'
	import { routes } from './routes.js'
	import Process from './components/Process.svelte'
	import Printer from './components/Printer.svelte'
	import Loader from './components/Loader.svelte'
	import Header from './components/Header.svelte'
	import Canvas from './components/Canvas.svelte'
	import Router from 'svelte-spa-router'
	const bootstrap = new Bootstrap
</script>

{#await bootstrap.load()}
	<Process message={"Chargement de l'application"}/>
{:then component}
	{#if component === 'application'}
		<Loader/>
		<Header/>
		<Canvas/>
		<Router {routes}/>
	{:else if component === 'printer'}
		<Printer/>
	{/if}
{/await}