<script>
	import { routes } from './manager/routes.js'
	import Nav from './manager/Nav.svelte'
	import Content from './manager/Content.svelte'
	import Router from 'svelte-spa-router'
	import Dialogs from './manager/Dialogs.svelte'
</script>

<Nav/>
<Content>
	<Router {routes} />
</Content>
<Dialogs/>