<script>
    import { portals } from 'app/stores.js'
    import { slide, fade } from 'svelte/transition'
    import Search from './portals/Search.svelte'
    import Maps from './portals/Maps.svelte'
    let filter = ' '
    let current = $portals[0]
</script>

<section in:slide={{ duration:200 }} out:fade={{ duration: 300 }}>
    <nav class="z-depth-0">
        <article>
            {#each $portals as portal}
                <button on:click={() => current = portal} class:active={portal === current}>{portal.title}</button>
            {/each}
        </article>
        <aside>
            <i class="material-icons">search</i>
            <input 
                type="search" class="browser-default" 
                spellcheck="false" 
                placeholder="Rechercher un carte..."
                on:input={(e) => filter = e.target.value}
            />
        </aside>
    </nav>
    <Maps portal={current} filter={filter} maps={current.maps}/>
</section>

<style>
    section{position:absolute;z-index:98;top:45px;right:0;bottom:0;left:0;background:#fafafa;font-family:'Roboto';}

    nav{position:fixed;top:45px;left:0;right:0;margin:0 auto;height:100px;background:#fdfdfd;border-bottom:1px solid #eee;}
    article{display:flex;flex-direction:row;justify-content:center;flex-wrap:wrap;width:100%;}
    aside{position:relative;width:50%;margin:0 auto;padding:0;border:1px solid #e0e0e0;height:35px;background:#ffffff;border-radius:4px;}
    aside i{width:35px;height:35px;line-height:35px;text-align:center;color:#bdbdbd;}
    aside input{position:absolute;top:0;left:40px;width:90%;height:33px;border:none;outline:none;font-size:16px;color:#455a64;}
    button{min-width:150px;height:30px;text-align:center;color:#9e9e9e;font-weight:400;font-size:18px;margin:10px;cursor:pointer;transition:all, 0.5s;outline:none;border:none;background:transparent;border-bottom:4px solid transparent;}
    button:hover{border-bottom:4px solid #eee;color:#a4a4a4}
    button.active{border-bottom:4px solid #a5d6a7;color:#455a64;}
</style>