 <script>
    import { current } from 'app/gis/stores.js'
    import { createFolder } from 'app/gis/manager.js'
    import { afterUpdate } from 'svelte'
    let folder = { title: null, description: null, role_id: 4, parent_id: 0 }
    let reinit = folder
    afterUpdate(() => {
        folder.parent_id = ( $current !== null ) ? $current.id : 0
    })
    let create = () => {
        createFolder(folder, $current)
        folder = reinit
    } 
 </script>

<div id="create-folder" class="dialog modal">
    <h1>
        <i class="material-icons left">folder</i>
        Créer un répertoire
        <button class="grey lighten-4 modal-close"></button>
    </h1>
    <div class="modal-content">
        <div class="input-field">
            <input type="text" placeholder="" bind:value="{folder.title}">
            <label class="active">NOM DU RÉPERTOIRE *</label>
        </div>
        <div class="input-field">
            <input type="number" min="1" bind:value="{folder.role_id}">
            <label class="active">RÔLE</label>
        </div>
    </div>
    <div class="response modal-footer">
        <button class="option modal-close" on:click={() => create()}>Enregistrer</button>
        <button class="option modal-close">Annuler</button>
    </div>
</div>

<style>
    .modal-content{padding:30px 40px 10px 40px;}
    .dialog{height:280px;min-width:400px;width:400px;}
</style>