 <script>
    import { selected } from 'app/layers/stores.js'
    import { deleteLayer } from 'app/layers/manager.js'

 </script>

    <div id="delete-layer" class="dialog modal">
    {#if $selected !== null}
        <h1>
            <i class="material-icons left">layers</i>
            Suprrimer le répertoire &laquo;&nbsp;{ $selected.title }&nbsp;&raquo;
            <button class="grey lighten-4 modal-close"></button>
        </h1>
        <div class="modal-content">
            <p>Voulez-vous vraiment supprimer le calque "{$selected.title}" de manière définitive ?</p>
        </div>
        <div class="response modal-footer">
            <button class="option modal-close" on:click={() => deleteLayer($selected)}>Supprimer</button>
            <button class="option modal-close">Annuler</button>
        </div>
    {/if}
    </div>

<style>
    .modal-content{padding:20px 40px;}
    .dialog{height:200px;min-width:450px;width:450px;}
</style>