 <script>
    import { current } from 'app/gis/stores.js'
    import { deleteFolder } from 'app/gis/manager.js'

 </script>

    <div id="delete-folder" class="dialog modal">
    {#if $current !== null}
        <h1>
            <i class="material-icons left">folder</i>
            Suprrimer le répertoire &laquo;&nbsp;{ $current.title }&nbsp;&raquo;
            <button class="grey lighten-4 modal-close"></button>
        </h1>
        <div class="modal-content">
            <p>Voulez-vous vraiment supprimer le répertoire "{$current.title}" de manière définitive ?</p>
        </div>
        <div class="response modal-footer">
            <button class="option modal-close" on:click={() => deleteFolder($current)}>Supprimer</button>
            <button class="option modal-close">Annuler</button>
        </div>
    {/if}
    </div>

<style>
    .modal-content{padding:20px 40px;}
    .dialog{height:200px;min-width:450px;width:450px;}
</style>