<script>
    import { columns } from 'app/layers/stores.js'
    export let data
    data = data.filter( item => item.name.length > 0)
    columns.update( store => store = data )

</script>

<table>
    <thead>
        <tr>
            <th style="width:125px;">Attribut</th>
            <th style="width:230px;">Alias</th>
            <th style="width:085px;">Unité</th>
            <th style="width:115px;">Numérique</th>
            <th style="width:070px;">Exclu</th>
        </tr>
    </thead>
    <tbody>
        {#each $columns as column}
        <tr>
            <td style="width:125px;">{column.name}</td>
            <td style="width:230px;">
                <input type="text" class="browser-default" bind:value="{column.alias}"/>
            </td>
            <td style="width:085px;">
                <input type="text" class="browser-default" bind:value="{column.unit}"  style="max-width:70px;"/>
            </td>
            <td style="width:115px;">
                <div class="switch">
                    <label>
                        <input type="checkbox" bind:checked={column.numeric}>
                        <span class="lever"></span>
                    </label>
                </div>                    
            </td>
            <td style="width:070px;">
                <div class="excluded">
                <label>
                    <input type="checkbox" class="filled-in" bind:checked={column.excluded} />
                    <span></span>
                </label> 
                </div>                   
            </td>
        </tr>
        {/each}
    </tbody>
</table>

<style>
    table{position:relative;white-space:wrap;border:none;border-collapse:collapse;height:400px;}
    table tr th{text-align:center;font-weight:normal;text-transform:uppercase;padding:5px;}
    thead{position:absolute;top:0;left:0;right:20px;height:32px;border:none;}
    tbody{position:absolute;top:32px;left:0;right:0;bottom:0;overflow-y:auto;}
    tbody tr{border:none;transition:all, 0.2s;}
    tbody tr:hover{background-color:#fafafa}
    tbody td{padding:0;height:30px;margin:0;vertical-align:middle;text-align:center;border-bottom:1px solid #f5f5f5}
    tbody td:first-child{color:#757575;text-align:left;padding-left:10px;}
    input[type=text]{height:25px;border-radius:3px;display:inline-block;}
    div.excluded{padding:7px 0 0 5px;}
</style>