 <script>
    import { loader } from 'app/stores.js'
    import { getFolder } from 'app/gis/manager.js'
    import { replaceLayer, updateLayerPreviews } from 'app/layers/manager.js'
    import { selected } from 'app/layers/stores.js'
    let layers = []
    let replacement = null
    let preview = null
    let promise = getFolder(0)
    function updateFolder() {
        replacement = null
        promise = getFolder(0)
    }
    async function replace() {
        if (replacement === null) {
            return
        }
        $loader = { 
            active: true, 
            message: `Mise à jour calque <br>&laquo;<b> ${$selected.title} </b> &raquo; <br>en cours`,
            submessage: '',
            color: 'manager'
        }
        const layer = await replaceLayer($selected, replacement)
        $loader.message = `Génération du symbole et de l'aperçu du calque <br>&laquo;<b> ${layer.title} </b> &raquo;`
        $loader.submessage = 'Cela peut durer quelques secondes'
        await updateLayerPreviews($selected)
        $loader = {active: false, message: '', submessage: '', color: 'ui'}
        selected.update(store => store = layer)
    }
 </script>

<div id="replace-layer" class="dialog modal">
    {#if $selected !== null}
    <h1>
        <i class="material-icons left">folder</i>
        Remplacer la couche &laquo;&nbsp;{ $selected.title }&nbsp;&raquo;
        <button class="grey lighten-4 modal-close"></button>
    </h1>
    <div class="modal-content">
        <ul>
            <li>La couche de remplacement doit se situer dans le répertoire temporaire.</li>
            <li>La couche courrante est supprimée définitivement, remplacée par la couche selectionnée.</li>
            <li>Dans le catalogue, l'index du calque est conservé. La modification est intégrée aux cartes enregistrées.</li>
            <li>Le projet QGIS est modifié.</li>
        </ul>
        <h5>Sélectionner la couche de remplacement :</h5>
        <h6 on:click={() => updateFolder()}>Recharger le répertoire temporaire</h6>
        <aside>
            {#await promise}
                <span></span>
            {:then temp}
                {#each temp.layers as layer}
                    <button 
                        class:active={replacement === layer.id} 
                        on:click={() => replacement === layer.id ? replacement = null : replacement = layer.id}
                        on:mouseenter={() => preview = layer.preview_url}
                        on:mouseleave={() => preview = null}
                    >
                        <i class="material-icons left">layers</i>
                        {layer.title}
                    </button>
                {/each}    
                {#if preview}
                    <img alt="layer preview" src="{preview}"/>
                {/if}
            {/await}
        </aside>
    </div>
    <div class="response modal-footer">
        <button class="option modal-close" on:click={() => replace()}>Remplacer</button>
        <button class="option modal-close">Annuler</button>
    </div>
{/if}
</div>

<style>
    .modal-content{padding:30px 40px 10px 40px;}
    .dialog{height:550px;min-width:750px;width:750px;}
    ul{background:#e1f5fe;border:1px solid #b3e5fc;color:#0288d1;border-radius:4px;margin-top:0;padding:10px 10px 10px 30px;font-size:13px;}
    ul li{list-style-type:disc;}
    h5{font-size:15px;}
    h6{font-size:13px;color:#0288d1;cursor:pointer;}
    aside{position:relative;height:200px;border:1px solid #eee;overflow-y:auto;padding:20px;background:#fdfdfd;}
    aside button{display:block;width:300px;border-radius:2px;margin-bottom:2px;background:transparent;cursor:pointer;color:#455a64;text-align:left;transition:all, 0.4s;height:30px;line-height:30px;}
    aside button:hover{background:#fafafa;}
    aside button.active{background:#e8f5e9;}
    aside button i{color:#81c784;line-height:30px;}
    aside img{position:fixed;right:70px;top:225px;height:180px;}
</style>