 <script>
    import { current } from 'app/gis/stores.js'
    import { updateFolder } from 'app/gis/manager.js'
 </script>

<div id="update-folder" class="dialog modal">
    {#if $current !== null}
    <h1>
        <i class="material-icons left">folder</i>
        Modifier le répertoire &laquo;&nbsp;{ $current.title }&nbsp;&raquo;
        <button class="grey lighten-4 modal-close"></button>
    </h1>
    <div class="modal-content">
        <div class="input-field">
            <input type="text" placeholder="" bind:value="{$current.title}">
            <label class="active">NOM DU RÉPERTOIRE *</label>
        </div>
        <div class="input-field">
            <input type="number" min="1" bind:value="{$current.role_id}">
            <label class="active">RÔLE</label>
        </div>
    </div>
    <div class="response modal-footer">
        <button class="option modal-close" on:click={() => updateFolder($current)}>Enregistrer</button>
        <button class="option modal-close">Annuler</button>
    </div>
{/if}
</div>

<style>
    .modal-content{padding:30px 40px 10px 40px;}
    .dialog{height:280px;min-width:400px;width:400px;}
</style>