<script>
    import { selected } from 'app/layers/stores.js'
    import { updateLayer } from 'app/layers/manager.js'
</script>

<div id="update-layer" class="dialog modal">
   {#if $selected !== null}
    <h1>
        <i class="material-icons left">layers</i>
        Modifier le calque &laquo;&nbsp;{ $selected.title }&nbsp;&raquo;
        <button class="grey lighten-4 modal-close"></button>
    </h1>
    <div class="modal-content">
        <div class="input-field">
            <input type="text" placeholder="" spellcheck="false" bind:value="{$selected.title}">
            <label class="active">TITRE *</label>
        </div>
        <div class="input-field">
            <textarea class="materialize-textarea" placeholder="" bind:value={$selected.abstract}></textarea>
            <label class="active">DESCRIPTION</label>
        </div>
        <div class="input-field">
            <textarea class="materialize-textarea" placeholder="" bind:value={$selected.source}></textarea>
            <label class="active">SOURCE</label>
        </div>
        <div class="input-field">
            <input type="number" min="1" placeholder="" bind:value="{$selected.role_id}">
            <label class="active">RÔLE *</label>
        </div>
        <div class="response modal-footer">
            <button class="option modal-close" on:click={() => updateLayer($selected)}>Enregistrer</button>
            <button class="option modal-close">Annuler</button>
        </div>
    </div>
    {/if}
</div>

<style>
    .modal-content{padding:10px 40px;}
    .dialog{height:450px;min-width:400px;width:400px;}
</style>