<script>
    import { selected, columns } from 'app/layers/stores.js'
    import { getLayerColumns, updateLayerColumns } from 'app/layers/manager.js'
    import LayerColumnsTable from './LayerColumnsTable.svelte'
</script>

<div id="update-layer-columns" class="dialog modal">
    {#if $selected !== null}
    <h1>
        <i class="material-icons left">grid_on</i>
        Éditer la table attributaire du calque &laquo;&nbsp;{ $selected.title }&nbsp;&raquo;
        <button class="grey lighten-4 modal-close"></button>
    </h1>
    <div class="modal-content">
    {#await getLayerColumns($selected)}
    ...
    {:then data}
        <LayerColumnsTable data={data}/>
    {/await}
        <div class="response modal-footer">
            <button class="option modal-close" on:click={() => updateLayerColumns($selected, $columns)}>Enregistrer</button>
            <button class="option modal-close">Annuler</button>
        </div>
    </div>
    {/if}
</div>


<style>
    .modal-content{padding:10px 40px;}
    .dialog{height:600px;min-width:700px;width:700px;}
</style>