<script>
    import { setNewMap } from 'app/maps/maplayers.js'
    import {push} from 'svelte-spa-router'
    function setMap() {
        push('#/map')
        setNewMap()
    }
</script>


<section on:click={() => setMap()}>
    <img src="./img/new.png" alt=" newmap preview"/>
    <h1>Nouvelle carte...</h1>
</section>    

<style>
    section{display:flex;flex-direction:row;width:450px;margin:5px;height:170px;background:#ffffff;box-shadow: 0 1px 3px rgba(117,117,117,0.12), 0 1px 2px rgba(117,117,117,0.24);cursor:pointer;transition: all 0.3s cubic-bezier(.25,.8,.25,1);}
    section:hover {box-shadow: 0 14px 28px rgba(117,117,117,0.25), 0 5px 5px rgba(117,117,117,0.22);}
    section:active{box-shadow: 0 1px 3px rgba(117,117,117,0.12), 0 1px 2px rgba(117,117,117,0.24);}
    img{height:150px;margin:10px;border:1px solid #eee;}
    h1{font-size:16px;margin:0;font-weight:400;color:#fbc02d;margin:12px 10px 10px 0;}
</style>