<script>
    import { loader } from 'app/stores.js'
    import { current } from 'app/maps/stores.js'
    import { updateMapPreview, updatePortal } from 'app/maps/manager.js'
    import { initTooltip } from 'app/interactions.js'
    import { onMount } from 'svelte'

    export let map
    onMount( () => initTooltip() )

    async function reloadPreview(map) {
        $loader = {
            active: true, 
            message: `Création d'un aperçu pour la carte :<br>&laquo;<b>  ${map.title} </b>&raquo;`,
            submessage: 'Cela peut durer quelques secondes',
            color: 'ui'
        }
        const result = await updateMapPreview(map)
        $loader.message = 'Mise à jour du portail'
        await updatePortal(map.portal_id)
        $loader = {active: false, message: '', submessage: '', color: 'ui'}
    }
</script>

<article class="action">
    <button 
        data-position="right" 
        data-tooltip="Supprimer la carte" 
        class="tooltipped waves-effect modal-trigger action"
        data-target="delete-map-portal" 
        on:click={() => $current = map}
    >
        <i class="material-icons red-text text-lighten-2 action">close</i>
    </button>
    <button 
        data-position="right" 
        data-tooltip="Regénérer l'aperçu" 
        class="tooltipped waves-effect action"
        on:click={() => reloadPreview(map)}
    >
        <i class="material-icons grey-text action">sync</i>
    </button>
</article>     

<style>
    article{width:20px;cursor:default;background:#fafafa;}
    button{width:20px;height:20px;border:none;outline:none;background:#fafafa;cursor:pointer;transition:all,0.3s;padding:0;margin:0;}
    button:hover{background-color:#eee;}
    button i{padding:0;margin:0;font-size:20px;}
</style>