<script>
    import { loader } from 'app/stores.js'
    import {push} from 'svelte-spa-router'
    import { setMapById } from 'app/maps/maplayers.js'
    import { updateMapViews } from 'app/maps/manager.js'
    import MapCardOptions from './MapCardOptions.svelte'
    import MapCardInfo from './MapCardInfo.svelte'
    export let map
    export let owner
    export let role
    async function setMap(e) {
        if (!e.target.classList.contains('action')) {
            $loader = {active: true, message: `Chargement de :<br>&laquo;<b>  ${map.title} </b>&raquo;`, submessage: '', color: 'ui'}
            push('#/map')
            updateMapViews(map)
            await setMapById(map.id)
            $loader = {active: false, message: '', submessage: '', color: 'ui'}
        }
    }
</script>

<section on:click={(e) => setMap(e)}>
    <img alt="layer preview" src="{(map.preview_url) ? map.preview_url : './img/no-preview-map.png'}"/>
    <article>
        <h1>{map.title ? map.title : ''}</h1>
        <p>{map.abstract ? map.abstract : ''}</p>
        <MapCardInfo map={map}/>
    </article>
    {#if owner || role <= 2 }
        <MapCardOptions map={map}/>
    {/if}  
</section>    

<style>
    section{display:flex;flex-direction:row;width:450px;margin:5px;height:170px;background:#ffffff;box-shadow: 0 1px 3px rgba(117,117,117,0.12), 0 1px 2px rgba(117,117,117,0.24);cursor:pointer;transition: all 0.3s cubic-bezier(.25,.8,.25,1);}
    section:hover {box-shadow: 0 14px 28px rgba(117,117,117,0.25), 0 5px 5px rgba(117,117,117,0.22);}
    section:active{box-shadow: 0 1px 3px rgba(117,117,117,0.12), 0 1px 2px rgba(117,117,117,0.24);}
    img{height:150px;margin:10px;border:1px solid #eee;}
    article{margin:12px 10px 10px 0;position:relative;min-width:198px;}
    h1{font-size:13px;margin:0;font-weight:bold;}
    p{text-align:left;font-size:12px;line-height:14px;color:#546e7a;}
</style>