<script>
    import { user } from 'auth/stores.js'
    import { initCustomScrollBar } from 'app/interactions.js'
    import MapCard from './MapCard.svelte'
    import MapCardNew from './MapCardNew.svelte'
    import { onMount, afterUpdate } from 'svelte'
    export let portal
    export let maps
    export let filter
    onMount( () => initCustomScrollBar(document.querySelector(`.portal-maps-container`)) )
    function filterBy(value, origin) {
        portal.maps = origin
        portal.maps = portal.maps.filter( (map) => {
            const search = map.title + ' ' + map.abstract + ' ' + map.created_at
            return search.toLowerCase().indexOf(value.toLowerCase()) !== -1
        })
    }
    afterUpdate(() => {
       filterBy(filter, maps)
    })
</script>

<section class="portal-maps-container">
    <article>
        {#if portal.sort === 1}
            <MapCardNew/>
        {/if}
        {#each portal.maps as map}
            <MapCard map={map} owner={portal.owner} role={$user.role_id}/>
        {/each}
    </article>
</section>

<style>
    section{position:absolute;top:100px;left:0;right:0;bottom:0;overflow-y:auto;}
    article{display:flex;flex-flow:row wrap;justify-content:space-between;max-width:920px;margin:0 auto;padding-top:10px;margin-bottom:100px;}
</style>