<script>
    export let maps
    const current = maps
    function filter(value) {
        maps = current
        maps = current.maps.filter( (map) => {
            const search = map.title + ' ' + map.abstract + ' ' + map.created_at
            return search.toLowerCase().indexOf(value.toLowerCase()) !== -1
        })
    }
</script>


<aside>
    <i class="material-icons">search</i>
    <input 
        type="search" class="browser-default" 
        spellcheck="false" 
        placeholder="Rechercher un carte..."
        on:input={(e) => filter(e.target.value)}
    />
</aside>

<style>
    aside{position:relative;width:50%;margin:0 auto;padding:0;border:1px solid #e0e0e0;height:40px;background:#ffffff;border-radius:4px;}
    aside i{width:40px;height:40px;line-height:40px;text-align:center;}
    aside input{position:absolute;top:0;left:40px;width:90%;height:38px;border:none;outline:none;font-size:16px;color:#455a64;}
</style>