<script>
    export let basemap
</script>

{#if basemap.overlays !== null}
    {#each basemap.overlays as overlay}
        <label class="option check" class:active={overlay.checked}>
            <i class="material-icons">{overlay.icon}</i>
            <p>{overlay.alias}</p>
            <input type="checkbox" bind:checked={overlay.checked} on:change={() => basemap.setOverlay(overlay)}/>
            <span></span>
        </label>
    {/each}
{/if}

<style>
	.option{display:flex;flex-direction:row;height:35px;border-top:1px solid #eeeeee;}
	.option i{width:35px;height:35px;margin:0 5px;text-align:center;line-height:35px;font-size:20px;color:#e0e0e0;transition:all,0.3s;}
	.option.active i{color:#718792;}
	/* .option.active p {color:#455a64;} */
	.check{cursor:pointer;}
	.check p{height:35px;line-height:35px;width:165px;margin:0;padding:0;color:#455a64;font-size:15px;transition:all,0.3s;}
	.check span{height:25px;padding:0;margin-top:4px;}
</style>