<script>
	import { onMount } from 'svelte'
	import { initRangeInput } from 'app/interactions.js'
	import BasemapOverlays from './BasemapOverlays.svelte'
	onMount( () => { initRangeInput() })
	export let basemap

</script>	

<aside class="panel">
	<label class="option check">
		<i class="material-icons">{basemap.visible ? 'visibility' : 'visibility_off'}</i>
		<p>Visible</p>
		<input checked={basemap.visible} on:change={e => basemap.setVisible(!basemap.visible)} type="checkbox" />
		<span></span>
	</label>

	<div class="option range">
		<i class="material-icons">opacity</i>
		<p>Opacité</p>
		<label class="range-field">
			<input type="range" min="0" max="1" step="0.01" on:input={e => basemap.setOpacity(e.target.value)} value={basemap.opacity}/>
		</label>
	</div>

	<BasemapOverlays basemap={basemap}/>
</aside>


<style>
	aside{background:#ffffff;margin:0 auto;width:240px;font-size:0.8em;box-shadow: 0 1px 3px rgba(189,189,189,0.12), 0 1px 2px rgba(189,189,189,0.24);}
	.option{display:flex;flex-direction:row;height:35px;border-top:1px solid #eeeeee;}
	.option i{width:35px;height:35px;margin:0 5px;text-align:center;line-height:35px;font-size:20px;color:#718792;}
	.option label{color:#455a64;padding-left:10px;background-size:15px;transition:all, 0.3s;line-height:35px;}
	.check{cursor:pointer;}
	.check p{height:35px;line-height:35px;width:165px;margin:0;padding:0;color:#455a64;font-size:15px;}
	.check span{height:25px;padding:0;margin-top:4px;}
	.option.range{background-color:#fafafa;}
	.option.range label{width:130px;}
	.option.range p{height:35px;line-height:35px;margin:0;padding:0;color:#455a64;font-size:15px;} 
</style>