<script>
	import { basemaps } from 'app/stores.js'
	import Basemap from 'app/basemaps/basemap.js'
	import BasemapOptions from './BasemapOptions.svelte'
	let current
	const setBasemap = (basemap) => {
		current = basemap.id
		basemap.setToMap()
	}
</script>

{#each $basemaps as basemap}
	<button 
		on:click={(e) => basemap.setToMap()} 
		id="{'basemap' + basemap.id}" 
		style="background-image:url({basemap.preview_url})" 
		class:active={basemap.active}
	>{basemap.title}</button>
	{#if basemap.active}
		<BasemapOptions basemap={basemap}/>
	{/if}
{/each}

<style>
	button{display:block;position:relative;width:240px;margin:15px auto 0 auto;background-color:#ffffff;outline:none;background-position:0px 0px auto 0px;background-size:101% 70px;background-repeat:no-repeat;color:#9e9e9e;height:50px;box-shadow:0 1px 3px rgba(189,189,189,0.12), 0 1px 2px rgba(189,189,189,0.24);transition: all 0.3s cubic-bezier(.25,.8,.25,1);cursor:pointer;z-index:20;border:none;text-align:center;font-size:1.2em;font-weight:bold;text-shadow:1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;}
	button:hover{color:#3498db;box-shadow: 0 3px 6px rgba(189,189,189,0.16), 0 3px 6px rgba(189,189,189,0.23);}
	button:active{color:#2980b9;box-shadow:0 1px 3px rgba(189,189,189,0.12), 0 1px 2px rgba(189,189,189,0.24);}
	button.active{color:#2980b9;box-shadow:0 1px 3px rgba(189,189,189,0.12), 0 1px 2px rgba(189,189,189,0.24);}
	button.active:hover{cursor:default;}
</style>