<script>
    import { pointer } from 'app/stores.js'
    import { onMount } from 'svelte'
    import { fade } from 'svelte/transition'
    import { initDropdown } from 'app/interactions.js'
    import Header from './layer/Header.svelte'
    export let layer
    onMount(() => {
        initDropdown()
    })
    function handleClick(layer) {
        if($pointer.active) {
            $pointer.uuid = layer.uuid
            $pointer.layer = layer
            pointer.update(obj => obj = $pointer)
        }
    }
</script>

<section data-uuid="{layer.uuid}">
    <aside class:active={$pointer.active && layer.uuid === $pointer.uuid} on:click={() => handleClick(layer)}>
        <Header layer={layer}/>
    </aside>
</section>

<style>
    section{border-top:1px solid #ecf0f1;}
    aside{border:3px solid transparent;transition:border 0.4s;}
    aside.active{border:3px solid #fbc02d;cursor:pointer;}
</style>