<script>
    import { canvas, maplayers, layersLegend } from 'app/stores.js' 
    import { onMount, afterUpdate } from 'svelte'
    import Sortable from 'sortablejs'
    import LayerLegend from './LayerLegend.svelte' 
    onMount(() => {
        layersLegend.update(store => store = $maplayers)
        const sortable = new Sortable( document.querySelector('.sortable'), {
            preventOnFilter: false,
            animation: 200,
            easing: "cubic-bezier(1, 0, 0, 1)",
            filter: ".ignore-sortable",
            ghostClass: "z-depth-3",
            onEnd: (e) => {
                const newOrder = []
                const order = Array.from( e.to.querySelectorAll('section') )
                order.forEach( el => newOrder.push(el.dataset.uuid) )
                $maplayers.sort((a, b) => (newOrder.indexOf(a.uuid) - newOrder.indexOf(b.uuid)) )
                let index = $maplayers.length
                $maplayers.forEach( layer => {
                    layer.sort = index-- 
                    layer.ol.setZIndex(layer.sort)
                    $canvas.map.updateSize()
                })
                maplayers.update(store => store = $maplayers)
            },
        })
    })
</script>

<div class="sortable">
    {#if $maplayers.length === 0}
        <button class="waves-effect waves-light btn grey lighten-5 z-depth-2 light-blue-text text-darken-2 modal-trigger" data-target="addlayer">
            <i class="light-blue-text text-darken-2 material-icons left">library_add</i>Ajouter un calque
        </button>
    {:else}
        {#each $layersLegend as layer (layer.uuid)}
            <LayerLegend layer={layer}/>
        {/each}
    {/if}
</div>

<style>
    button{display:block;margin:20px auto;width:200px;font-size:11px;}
    .sortable{width:95%;margin:10px auto;background:#ffffff;padding:0;white-space:nowrap;user-select: none;}
</style>