<script>
    import { displayed, loader } from 'app/stores.js'
    import { unsetPrintView } from 'app/display.js'
    import { createPermalink } from 'app/maps/permalink.js'
    import { printMap } from 'app/maps/maplayers.js'
    async function print() {
        $loader.active = true
        $loader.message = 'Enregistrement des paramètres'
        const token = await createPermalink()
        $loader.message = `Création du fichier d'impression`
        $loader.submessage = `Cela peut durer plus d'une minute`
        const file = await printMap(token)
        unsetPrintView()
        $loader.message = '<b>EXPORT TERMINÉ</b>'
        $loader.link = file
        $loader.submessage = 'Télécharger le fichier'
    }
</script>


<section>
    <h4>Paramètres d'impression</h4>
    <article>
        <h5>Légende</h5>
        <div class="flex">
            <div>
                <label>
                    <input class="with-gap" name="legend" type="radio" bind:group={$displayed.printer.legend} value={true} />
                    <span>Oui</span>
                </label>
            </div>
            <div>
                <label>
                    <input class="with-gap" name="legend" type="radio" bind:group={$displayed.printer.legend} value={false}/>
                    <span>Non</span>
                </label>
            </div>
        </div>
        <h5 class="print-map-title">Titre de la carte</h5>
        <div class="input-field">
            <input placeholder="" id="print-map-title" type="text" bind:value={$displayed.printer.title}>
        </div>
        <h5>Logo</h5>
        <div class="flex">
            <div>
                <label>
                    <input class="with-gap" name="logo" type="radio" bind:group={$displayed.printer.logo} value={true} />
                    <span>Oui</span>
                </label>
            </div>
            <div>
                <label>
                    <input class="with-gap" name="logo" type="radio" bind:group={$displayed.printer.logo} value={false} />
                    <span>Non</span>
                </label>
            </div>
        </div>
        <h5>Dimensions</h5>
        <div>
            <label>
                <input class="with-gap" name="sizing" type="radio" bind:group={$displayed.printer.dimensions} value={'A4'} />
                <span>A4 (210 x 297 mm)</span>
            </label>
            <label>
                <input class="with-gap" name="sizing" type="radio" bind:group={$displayed.printer.dimensions} value={'A3'} />
                <span>A3 (297 x 420 mm)</span>
            </label>
        </div>
    </article>
    <aside>
        <button type="submit" class="waves-effect z-depth-2" data-target="delete-layer" on:click={() => print()}>
            <i class="material-icons left">print</i>Imprimer
        </button>
        <button type="submit" class="waves-effect z-depth-2" data-target="delete-layer" on:click={() => unsetPrintView()}>
            <i class="material-icons left">exit_to_app</i>Quitter l'utilitaire
        </button>
    </aside>
</section>

<style>
    section{position:absolute;top:0;left:0;bottom:0;right:0;background:#fafafa}
    h4{width:100%;margin:0;padding:8px;font-size:16px;text-align:center;font-weight:normal;border-bottom:1px solid #f5f5f5;}
    article{background:#fff;padding:10px 40px 50px 40px;}
    div.flex{display:flex;flex-direction:row;justify-content:space-between;padding:0 40px 0 0}
    h5{font-size:15px;color:#757575;font-weight:normal;text-transform:uppercase;}
    h5.print-map-title{margin-bottom:0;padding-top:15px;}
    .input-field{margin:0!important;}
    aside{margin:0;padding:50px 20px;text-align:center;border-top:1px solid #f5f5f5;}
    button{display:block;text-align:left;margin:10px auto 10px auto;width:100%;border:0;border-radius:3px;font-size:13px;height:35px;line-height:30px;text-transform:uppercase;color:#455a64;}
    button:first-child{background:#81c784;}
    button:first-child:hover{background:#66bb6a;}
    button:nth-child(2){background:#ffb74d;}
    button:nth-child(2):hover{background:#ffa726;}
    button i{line-height:35px;padding-left:7px;}
</style>