<script>
    import { user, manager } from 'auth/stores.js'
    import { initDropdown } from 'app/interactions.js'
    import { afterUpdate } from 'svelte'
    afterUpdate(() => initDropdown('center') )
    export let header
</script>

{#if $user.name === 'guest'}
    <a 
        href="{`AUTH_URL`}"
        class="waves-effect white btn light-blue-text text-darken-2" 
        style="height:{header};line-height:{header}"
    >
       Connection
    </a>
{:else}
    <button 
        style="height:{header};"
        class="waves-effect btn z-depth-1 dropdown-trigger" 
        data-target="account" 
        on:click={() => manager.update(store => store = false)}
    >
        <i class="small material-icons right">arrow_drop_down</i>
        {$user.firstname} {$user.name}
    </button>
    <ul id="account" class="dropdown-content" style="margin-top:{header};">
        <li on:click={() => manager.update(store => store = true)}><i class="prefix material-icons left">person</i>Mon compte</li>
        <li class="divider"></li>
        <li><a href="{`AUTH_URL?logout=true`}"><i class="material-icons left">exit_to_app</i>Déconnexion</a></li>
    </ul>
{/if}

<style>
    button{display:block;;font-weight:bold;color:#455a64;font-family:'Roboto';padding:0 15px;box-shadow:none;text-transform: none;min-width:170px;font-size:13px;background:#fafafa;min-width:170px;}
    button:hover{background:#f5f5f5;}
    button i{font-size:20px;padding:0;margin:0;}
    button:active{background-color:#eeeeee;}
    .btn:focus{background-color:#fafafa}
    ul{font-family:'Roboto'}
    ul li:not(.divider){min-height:30px;height:30px;font-size:13px;line-height:30px;margin:3px;padding:0;width:auto;color:#455a64;}
    i.prefix{padding-top:2px;}
    ul a{color:#455a64;margin:0;padding:0;line-height:35px;text-align:left;font-size:13px;}
    ul i{font-size:24px;padding-left:10px;}
</style>