<script>
    import { user, manager, page } from 'auth/stores.js'
    import { fly } from 'svelte/transition'
    export let header
    import Show from 'auth/account/Show.svelte'
    import Update from 'auth/account/Update.svelte'
    import Password from 'auth/account/Password.svelte'
    import Delete from 'auth/account/Delete.svelte'
</script>

{#if $manager}
    <section transition:fly={ { x:380, duration: 200} } style="top:{header}">
        <header>
            Mon compte
            <button on:click={() => manager.update(store => store = false)}>
                <i class="material-icons red-text text-lighten-2">close</i>
            </button>
        </header>
        {#if $page === 'show'}
            <Show user={$user}/>
        {:else if $page === 'update'}
            <Update user={$user}/>
        {:else if $page === 'password'}
            <Password user={$user}/>
        {:else}
            <Delete user={$user}/>
        {/if}
    </section>
{/if}

<style>
    section{position:fixed;right:0;bottom:0;z-index:799;width:380px;background:#ffffff;box-shadow: 0 3px 6px rgba(224,224,224,0.16), 0 3px 6px rgba(224,224,224,0.23);-webkit-box-shadow: 0 4px 5px 0 rgba(224,224,224, 0.14), 0 1px 10px 0 rgba(224,224,224, 0.12), 0 2px 4px -1px rgba(224,224,224, 0.3);box-shadow: 0 4px 5px 0 rgba(224,224,224, 0.14), 0 1px 10px 0 rgba(224,224,224, 0.12), 0 2px 4px -1px rgba(224,224,224, 0.3);}
    header{height:40px;background:#fafafa;line-height:40px;font-size:16px;font-weight:bold;padding-left:20px; }
    header button{float:right;height:40px;width:40px;border:none;outline:none;background:transparent;cursor:pointer;transition:all,0.4s;}
    header button:hover{background:#f5f5f5;}
</style>