<script>
    import Form from './login/Form.svelte'
    import Logo from './login/Logo.svelte'
</script>

<main>
    <Form/>
    <Logo/>
</main>

<style>
    main{position:fixed;z-index:999;top:0;left:0;bottom:0;right:0;background:#fdfdfd;}
</style>