<script>
    import { maplayers } from 'app/stores.js'
    import { fade } from 'svelte/transition'
    import {afterUpdate } from 'svelte'
    export let uuid
    let layer = {filter: false}
    afterUpdate(() => {
        layer = $maplayers.find(layer => layer.uuid === uuid)
        if (typeof layer === 'undefined') {
            layer = {filter: false}
        }
    })
</script>

{#if layer.filter}
    <button 
        class="waves-effect waves-light ignore-sortable"
        transition:fade
        on:click={() => layer.setFilter(null)}
    >
        <i class="material-icons">filter_list</i>
    </button>
{/if}

<style>
    button{position:absolute;right:-12px;top:2px;background-color:transparent;width:30px;height:30px;padding:0;margin:0;cursor:pointer;border-radius:50%;transition:all,0.3s;border:none;top:2px;}
    button:hover{background:rgba(238, 238, 238, 0.2)}
    button i{color:#81c784;font-size:18px;padding:0;line-height:30px;margin:0 auto;}
</style>