<script>
    import Options from './Options.svelte'
    import Filter from './Filter.svelte'
    import { onMount } from 'svelte'
	import { initRangeInput } from 'app/interactions.js'
    export let layer
    let position
    onMount(() => {
        position = document.querySelector(`[data-target=options-${layer.uuid}]`).getBoundingClientRect() 
        initRangeInput() 
    })

</script>

<header>
    <i class="material-icons toggle" on:click={e => layer.toggled = !layer.toggled} class:simple={layer.symbol_type === 'single' }>
        {layer.toggled === true ? 'arrow_drop_down' : 'arrow_drop_up'}
    </i>
    <label class="ignore-sortable">
        <input class="filled-in" type="checkbox" checked={layer.visible} on:click={e => layer.setVisible()}/>
        <span></span>
    </label>

    <img class="single" alt="legend symbol" src="{layer.symbol_type === 'single' ? layer.symbol_url : "./img/symbol-margin.png"}"/>

    <h5>{layer.title}</h5>

    <button 
        class="waves-effect dropdown-trigger ignore-sortable" 
        data-target="options-{layer.uuid}" 
        on:click={() => layer.makeAvailableInStore(layer.uuid)}
    >
        <i class="material-icons">settings</i>
    </button>

    <Options layer={layer} position={position}/>
    <Filter uuid={layer.uuid}/>
</header>

{#if layer.symbol_type === 'categorized' && layer.toggled}
    <img class="categorized" src="{layer.symbol_url}" alt="legend symbol"/>
{/if}

<style>
    header{position:relative;display:flex;align-items:center;flex-direction:row;background:#ffffff;min-height:30px;background:transparent;}
    label{width:30px;height:25px;}
    input.filled-in+span{top:2px;left:0;}
    [type="checkbox"]+span:not(.lever):before{border:0px solid #bdbdbd;}
    [type="checkbox"]:checked+span:not(.lever):before{
        border-right: 2px solid #455a64;
        border-bottom: 2px solid #455a64;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
    }
    [type="checkbox"].filled-in:not(:checked)+span:not(.lever):after{border:2px solid #bdbdbd;}
    [type="checkbox"].filled-in:checked+span:not(.lever):after {
        border: 1px solid #bdbdbd;
        background-color: #ffffff;
    }
    
    h5{display:block;margin:0;font-size:13px;font-weight:normal;cursor:default;white-space:nowrap;padding-top:1px;}
    img.single{margin:-1px 0 0 -5px;width:38px;}
    
    i.toggle{background:transparent;height:30px;line-height:30px;width:20px;padding:0;cursor:pointer;color:#718792;font-size:20px;}
    i.toggle.simple{cursor:default;color:transparent;}
    button{position:absolute;right:10px;top:2px;background-color:transparent;width:30px;height:30px;padding:0;margin:0;cursor:pointer;border-radius:50%;transition:all,0.3s;border:none;top:2px;}
    button i{color:#bdbdbd;font-size:16px;padding:0;line-height:30px;margin:0 auto;transition:all,0.3s;}
    button:hover{background:rgba(238, 238, 238, 0.4)}
    button:hover i{color:#718792;}
    button:active{background:rgba(238, 238, 238, 0.4)}
    button:active i{color:#718792;}
    img.categorized{margin:-5px 0 3px 45px;}
</style>