<script>
    import { maplayers, layersLegend } from 'app/stores.js'
    import { showFooter } from 'app/display.js'
	import { onMount } from 'svelte'

    export let layer
    export let position = {top: 32, left: 128}
    function remove() {
        layer.remove()
        maplayers.update(store => store.filter(item => item.uuid !== layer.uuid))
        $layersLegend = $layersLegend.filter(item => item.uuid !== layer.uuid)
    }
</script>

<ul 
    id="options-{layer.uuid}" 
    class="dropdown-content z-depth-2 ignore-sortable"
    style="top:{position.top}px !important;left:{position.left}px"
>
    <li on:click={e => showFooter(layer.uuid)}><i class="material-icons left">grid_on</i>Afficher les données attributaires</li>
    <li class="divider"></li>
    <li on:click={e => layer.fit() }><i class="material-icons left">zoom_in</i>Zoomer sur l'emprise du calque</li>
    <li class="divider"></li>
    <li class="grey lighten-5">
        <i class="material-icons left">opacity</i>Opacité&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	<label class="range-field ignore-sortable" on:input={e => layer.setOpacity(e.target.value)} >
			<input type="range" min="0" max="1" step="0.01" value={layer.opacity}/>
		</label>
    </li>
    <li class="divider"></li>
     <li class="modal-trigger" data-target="filter-layer">
        <i class="material-icons left">filter_list</i>
        Filtrer...
    </li>
     <li class="divider"></li>
    <li class="modal-trigger" data-target="extract-layer">
        <i class="material-icons left">file_download</i>
        Exporter...
    </li>
    <li class="divider"></li>
    <li on:click={() => remove()}><i class="material-icons left red-text text-lighten-2">close</i>Supprimer le calque</li>
</ul>

<style>
    ul{position:fixed;min-width:260px;overflow:hidden;}
    li i{font-size:20px;line-height:35px;color:#718792;margin:0 12px 0 7px;}
    li.grey{cursor:default;}
    li:not(.divider){min-height:35px;height:35px;line-height:35px;font-size:13px;color:#455a64;text-align:left;vertical-align:middle;}
    li.divider{height:1px;}
    input[type=range]{width:120px;margin:15px 0;}
    input[type=range]::-webkit-slider-thumb {background-color:#455a64;}
    input[type=range]::-moz-range-thumb {background-color: #455a64;}
    input[type=range]::-ms-thumb {background-color:#455a64;}
    :global(input[type=range] + .thumb){background-color: #455a64;left:200px;}
    :global(input[type=range] + .thumb.active .value){color:#ffffff;line-height:15px;text-align:center;}  
</style>